In [1]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 4.3.2"

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
str(df)

'data.frame':	73 obs. of  10 variables:
 $ index   : int  1 2 3 4 5 6 7 8 9 10 ...
 $ date    : int  44988 44988 44988 44988 45043 44988 44988 44988 44988 44988 ...
 $ cost    : num  618 2422 2298 605 544 ...
 $ quan    : int  100 400 400 100 100 100 100 400 400 190 ...
 $ tally_q : int  100 500 900 1000 1100 1200 1300 1700 2100 4200 ...
 $ tally_c : num  618 3040 5339 5944 6488 ...
 $ date_s  : int  45079 45079 45079 45079 45079 45076 45076 45076 45076 45036 ...
 $ proceeds: num  454 1816 1816 454 454 ...
 $ tally_q2: int  36850 36450 36050 35950 35850 35750 35650 35250 34850 34660 ...
 $ tally_c2: num  206557 204135 201837 201231 200687 ...

In [3]:
head(df)

  index date  cost    quan tally_q tally_c date_s proceeds tally_q2 tally_c2
1 1     44988  618.08 100   100     618.08 45079   453.98  36850    206557.2
2 2     44988 2422.31 400   500    3040.39 45079  1815.93  36450    204134.9
3 3     44988 2298.31 400   900    5338.70 45079  1815.93  36050    201836.5
4 4     44988  605.17 100  1000    5943.87 45079   453.98  35950    201231.4
5 5     45043  544.50 100  1100    6488.37 45079   453.98  35850    200686.9
6 6     44988  562.53 100  1200    7050.90 45076   458.26  35750    200124.3

In [4]:
# # Remove extraneous variables 

# df$X <- NULL
# df$X.1 <- NULL
# df$X.2 <- NULL
# head(df, 3)

### <font color = lime> Convert the df char data types to numeric

In [5]:
# Convert Excel dates when in the 1900 date format
df$date <- as.Date(df$date, origin = "1899-12-30")
df$date_s <- as.Date(df$date_s, origin = "1899-12-30")
head(df, 3)

  index date       cost    quan tally_q tally_c date_s     proceeds tally_q2
1 1     2023-03-03  618.08 100  100      618.08 2023-06-02  453.98  36850
2 2     2023-03-03 2422.31 400  500     3040.39 2023-06-02 1815.93  36450
3 3     2023-03-03 2298.31 400  900     5338.70 2023-06-02 1815.93  36050
  tally_c2
1 206557.2
2 204134.9
3 201836.5

In [6]:
# create a test loop for moving through the df
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
# Define the target sum
target_value <- 900
master_ct <- 0

# Initialize a variable to hold the increasing cumulative sum
cumulative_sum <- 0

# Initialize a variable to hold the index where target sum is achieved
index <- 0

# Iterate over the column
  for(i in 1:nrow(df)) {
  # counter at top of loop (will always be >= 1)
  master_ct <- master_ct + 1
  # creates a tally value of quan values from each row that is compared against the target value  
  cumulative_sum <- cumulative_sum + df[i, 'quan']
    print(cumulative_sum)
  # If the cum_sum equals the target value, change nothing
  if(cumulative_sum == target_value) {
      temp <- df[i, 'tally_q']
      df[i, 'tally_q'] <- temp
      break
      }
  # if the cum_sum exceeds the target value, break and return the index (count of rows for the if )
  else if(cumulative_sum >= target_value) {
    # count the times when the cumulative_sum greater than target value. Can be zero.  
    index <- i     
    break
  }
}

# Print the indexes
print(paste0("the master counter value is: ", master_ct))
print(paste0("the incrementing index value is: ", index))

# print the cumulative sum at the break out from the loop
cumulative_sum

[1] 100
[1] 500
[1] 900
[1] "the master counter value is: 3"
[1] "the incrementing index value is: 0"

[1] 900

In [7]:
index

[1] 0

In [8]:
# Assuming 'df' is your dataframe and 'Quantity' is your column
df <- data.frame(Quantity = c(1, 2, 3, 4, 5), Other = c('a', 'b', 'c', 'd', 'e'))
test_values <- c(8, 6)
df
# Iterate over the test values
for(test_value in test_values) {
  # Initialize a variable to hold the cumulative sum
  cumulative_sum <- 0

  # Iterate over the rows
  for(i in 1:nrow(df)) {
    cumulative_sum <- cumulative_sum + df[i, 'Quantity']
    
    # Check if the cumulative sum exceeds the test value
    if(cumulative_sum > test_value) {
      # Calculate the excess and the adjusted quantity
      excess <- cumulative_sum - test_value
      adjusted_quantity <- df[i, 'Quantity'] - excess
      
      # Update the quantity in the current row
      df[i, 'Quantity'] <- adjusted_quantity
      
      # Create a new row with the excess quantity
      new_row <- df[i, ]
      new_row['Quantity'] <- excess
      
      # Insert the new row into the dataframe immediately below the current row
      df <- df %>% 
        add_row(.before = i+1, !!!new_row)
      
      # Break the loop
      break
    }
  }
}

# Print the updated dataframe
print(df)

  Quantity Other
1 1        a
2 2        b
3 3        c
4 4        d
5 5        e

  Quantity Other
1        1     a
2        2     b
3        3     c
4        0     d
5        2     d
6        2     d
7        5     e

## <font color = lime> Keeper!  It works

In [9]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
# df$X <- NULL
# df$X.1 <- NULL
# df$X.2 <- NULL



ct <<- 1
test_value <- c(850)
rat1 <<- 0

# function to allocate values within a df
inter <- function(df, test_value, ct) {
     cumulative_sum <- 0
      
# Iterate over the rows
  for(i in 1:nrow(df)) {
      
    cumulative_sum <- cumulative_sum + df[i, 'quan']
    
    # Check if the cumulative sum exceeds the test value
    if(cumulative_sum == test_value) {
        print("match amount")       
        }
      
    if(cumulative_sum >= test_value) {        
           
      # Calculate the excess and the adjusted quantity
      excess <- cumulative_sum - test_value         # 900 - 700 = 200
      adjusted_quantity <- df[i, 'quan'] - excess   # deduct 200 from existing value 
       
     # establish the ratio - need for row 1 and row 2   
     denom <- df[i, 'quan']    # 400    
     numer <- adjusted_quantity
      
      # Update the quantity in the current row
      df[i, 'quan'] <- adjusted_quantity            # assign new value to quan
        
      # Create a new row with the excess quantity (Do it here and not below the changes)
      new_row <- df[i, ]
      new_row['quan'] <- excess 
      
    
    # update the tally_q (first row)
      q1 <- df[i, 'tally_q'] - adjusted_quantity
      df[i, 'tally_q'] <- q1
        
    
   # first, establish a ratio to apply to variables in row 1, then allocate the variables
       
    # create the ratio
    rat1 <<- numer / denom
               
    # apply ratio to variables in row 1
    # cost var
    c1 <- df[i, 'cost'] * rat1
    df[i, 'cost'] <- c1  
    #tally_c var
    t_c <- df[i-1,'tally_c'] + c1
    df[i, 'tally_c'] <- t_c
    #proceeds var
    p1 <- df[i, 'proceeds'] * rat1
    df[i, 'proceeds'] <- p1
    # t_q2 var
    t_q2 <- df[i-1, 'tally_q2'] - adjusted_quantity
    df[i, 'tally_q2'] <- t_q2
    # t_c2 var
    t_c2 <- df[i-1, 'tally_c2'] - c1
    df[i, 'tally_c2'] <- t_c2
        
        
    # Insert the new row into the dataframe immediately below the current row
    df <- df %>% 
    add_row(.before = i+1, !!!new_row)
    ct <<- i+1        

#  PART 2
        
   # update the values in new row 2 
        
    # cost var
    c2 <- df[ct, 'cost'] * rat1
    df[ct, 'cost'] <- c2  
    #tally_c var
    t_c2 <- df[ct-1,'tally_c'] + c2
    df[ct, 'tally_c'] <- t_c2
    #proceeds var
    p2 <- df[ct, 'proceeds'] * rat1
    df[ct, 'proceeds'] <- p2
      # t_q2 var
    t_q22 <- df[ct-1, 'tally_q2'] - adjusted_quantity
    df[ct, 'tally_q2'] <- t_q22
    # t_c2 var
    t_c22 <- df[i-1, 'tally_c2'] - c2
    df[i, 'tally_c2'] <- t_c22      

  # Break the loop and move to the next test value
    ct <- ct + 1
  break
    
    }
    
  }
     return(df)
}


print(ct)
# make fct call
newdf <- inter(df, test_value, ct) 
tail(newdf, 3)


# Remove the unwanted row of NAs
newdf <- newdf[complete.cases(newdf), ]  
tail(newdf, 3)



# show the returned ct value

[1] 1

   index date  cost    quan tally_q tally_c  date_s proceeds tally_q2
72 71    44819  503.42  50   250    201279.3 44953   275.61  750
73 72    44880 4068.90 500   750    205348.2 44953  2756.06  250
74 73    44895 1827.03 250  1000    207175.2 44953  1378.03    0
   tally_c2
72 5.89593e+03
73 1.82703e+03
74 3.86535e-12

   index date  cost    quan tally_q tally_c  date_s proceeds tally_q2
72 71    44819  503.42  50   250    201279.3 44953   275.61  750
73 72    44880 4068.90 500   750    205348.2 44953  2756.06  250
74 73    44895 1827.03 250  1000    207175.2 44953  1378.03    0
   tally_c2
72 5.89593e+03
73 1.82703e+03
74 3.86535e-12

In [10]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
ct <<- 1
ct2 <<- 2

sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,3000,
           500,2000,3000,500,2000,810,1000,190,3000,1000,1100)
length(sales)

for(i in 1:length(sales)-1) {
    mod_df <- inter(df, sales[ct], ct)
    # okay ... prints 22 times the length of sales 
    
    #print(mod_df)
    ct <<- ct + 1
    # dont need the following code
    # df <- df[complete.cases(df), ]
    # ct <- ct + 1
    
    ct2 <- i + 1
    }    
ct
ct2
tail(mod_df,15)

[1] 22

[1] "match amount"

[1] 13

[1] 22

   index date  cost    quan tally_q tally_c  date_s proceeds tally_q2
60 59    44880 4125.34 500   950    187048.8 44960  3339.90  2750
61 60    44880 3679.44 500  1450    190728.2 44960  3127.35  2250
62 61    44880 3171.79 500  1950    193900.0 44960  3094.90  1750
63 62    44895  551.39 100  2050    194451.4 44960   618.98  1650
64 63    44895  320.81  50  2100    194772.2 44960   309.49  1600
65 64    44895  640.57 100  2200    195412.8 44960   618.98  1500
66 65    44895 1113.15 150  2350    196525.9 44960   938.20  1350
67 66    44895  365.40  50  2400    196891.3 44960   333.99  1300
68 67    44895  742.10 100  2500    197633.4 44960   667.98  1200
69 68    44895  652.92 100  2600    198286.3 44960   625.47  1100
70 69    44895  499.59 100  2700    198785.9 44960   585.47  1000
71 70    44819 1989.98 200   200    200775.9 44953  1102.42   800
72 71    44819  503.42  50   250    201279.3 44953   275.61   750
73 72    44880 4068.90 500   750    205348.2 44953  2756.06   250
74 73    44895 1827.03 250  1000    207175.2 44953  1378.03     0
   tally_c2
60 2.012649e+04
61 1.644705e+04
62 1.327526e+04
63 1.272387e+04
64 1.240306e+04
65 1.176249e+04
66 1.064934e+04
67 1.028394e+04
68 9.541840e+03
69 8.888920e+03
70 8.389330e+03
71 6.399350e+03
72 5.895930e+03
73 1.827030e+03
74 3.865350e-12

In [11]:

sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,
           3000,500,2000,3000,500,2000,810,1000,190,3000,1000,1100)

ct <- 0

for(i in 1:length(sales)) {
    #tally sales
    ct <<- ct + sales[i]
    }    
ct

[1] 36950

In [12]:
# This demonstrates preventing the loop exceeding the index that creates errors

df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")

ct <- 0

sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,
           3000,3000,500,2000,3000,500,2000,810,1000,190,3000,1000,1100)

length(sales)
str(sales)

start_row <- 1

for(i in start_row:nrow(df)) {
        
    if(df[i, 'quan'] <= sales[i])  {
        temp <- df[i, 'quan'] 
        df[i,'quan'] <- temp
        ct <<- ct + sales[i]
       # print(paste0("ct is ", ct))
    } else {
        ct <<- ct + sales[i]
        # print(paste0("ct is ", ct))
        }
    
    # To prevent going past index by 1 
    start_row <- start_row + 1
    if(start_row > length(sales) ) {
        break
    }
 }
 
#tally of ct
ct

[1] 22

 num [1:22] 1000 1000 1000 100 900 3000 6000 1000 1850 3000 ...

[1] 36950

In [13]:
# demonstrates looping 10 times

sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,3000,
           500,2000,3000,500,2000,810,1000,190,3000,1000,1100)

ct <- 0

length(sales)
# str(sales)
tally <- 0
start_row <- 1

for(i in 1:length(df))  { 
    
    tally <- tally + 1 
    
    # demonstrate rplacing values in the df$quan for each item in sales vector
    temp <- df[i, 'quan'] 
    # demonstrates the changes to quan
    print(paste0("value of temp is ", temp))
    # demonstrates looping through the sales vector
    print(sales[i])
    
#   if(cumulative_sum >= test_value) {         
    if(temp <= sales[i])  {
        # add 10 to each existing quan value
        df[i,'quan'] <- temp + 10
        ct <<- ct + 1
    } 
    else {
      ct <<- ct + 1
        }
    start_row <- start_row + 1
    print(paste0("count is: ", ct))
}
 
print(paste0("The tally is :", tally))
ct
head(df,3)

[1] 22

[1] "value of temp is 100"
[1] 1000
[1] "count is: 1"
[1] "value of temp is 400"
[1] 1000
[1] "count is: 2"
[1] "value of temp is 400"
[1] 1000
[1] "count is: 3"
[1] "value of temp is 100"
[1] 100
[1] "count is: 4"
[1] "value of temp is 100"
[1] 900
[1] "count is: 5"
[1] "value of temp is 100"
[1] 3000
[1] "count is: 6"
[1] "value of temp is 100"
[1] 6000
[1] "count is: 7"
[1] "value of temp is 400"
[1] 1000
[1] "count is: 8"
[1] "value of temp is 400"
[1] 1850
[1] "count is: 9"
[1] "value of temp is 190"
[1] 3000
[1] "count is: 10"
[1] "The tally is :10"

[1] 10

  index date  cost    quan tally_q tally_c date_s proceeds tally_q2 tally_c2
1 1     44988  618.08 110  100      618.08 45079   453.98  36850    206557.2
2 2     44988 2422.31 410  500     3040.39 45079  1815.93  36450    204134.9
3 3     44988 2298.31 410  900     5338.70 45079  1815.93  36050    201836.5

In [14]:
# No errors, but nothing happened to the df

df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")

cumulative_sum <- 0
ct <<- 0
start_row <- 1

#Iterate over the sales values
for(value in sales) {
    ct <<- ct + 1
    # Iterate over the rows
    for(i in start_row:nrow(df)) {
        cumulative_sum <- 0
        cumulative_sum <- cumulative_sum + df[ct, 'quan']
        print(cumulative_sum)
        
        # check if the cumulative sum equals the test value in sales[i], if so, do nada
        if(cumulative_sum <= sales[i]) {
            temp <- df[i, 'quan']
            df[i, 'quan'] <- temp 
            start_row <- i + 1
            print(ct)
            break
        }
        # Check if the cumulative sum exceeds the test value
         if(cumulative_sum >= sales[i]) {        
    
            # Calculate the excess and the adjusted quantity
            excess <- cumulative_sum - test_value         # 900 - 700 = 200
            adjusted_quantity <- df[i, 'quan'] - excess   # deduct 200 from existing value 

            # establish the ratio - need for row 1 and row 2   
            denom <- df[i, 'quan']    # 400    
            numer <- adjusted_quantity

            # Update the quantity in the current row
            df[i, 'quan'] <- adjusted_quantity            # assign new value to quan

            # Create a new row with the excess quantity (Do it here and not below the changes)
            new_row <- df[i, ]
            new_row['quan'] <- excess  

            start_row <- i + 1
            break
        }
      }
    }
ct
nrow(df)
head(df,4)

[1] 100
[1] 1
[1] 400
[1] 2
[1] 400
[1] 3
[1] 100
[1] 4
[1] 100
[1] 5
[1] 100
[1] 6
[1] 100
[1] 7
[1] 400
[1] 8
[1] 400
[1] 9
[1] 190
[1] 10
[1] 1000
[1] 11
[1] 810
[1] 1000
[1] 13
[1] 1000
[1] 14
[1] 500
[1] 15
[1] 190
[1] 16
[1] 810
[1] 17
[1] 100
[1] 18
[1] 400
[1] 1000
[1] 20
[1] 500
[1] 21
[1] 3000

[1] 22

[1] 73

  index date  cost    quan tally_q tally_c date_s proceeds tally_q2 tally_c2
1 1     44988  618.08 100   100     618.08 45079   453.98  36850    206557.2
2 2     44988 2422.31 400   500    3040.39 45079  1815.93  36450    204134.9
3 3     44988 2298.31 400   900    5338.70 45079  1815.93  36050    201836.5
4 4     44988  605.17 100  1000    5943.87 45079   453.98  35950    201231.4

In [15]:
# Assuming 'vec' is your vector and 'df' is your dataframe
vec <- sales
start_row <- 1
for(value in vec) {
  for(i in start_row:nrow(df)) {
    if(df[i, 'var'] == value) {  # Replace 'var' with your actual column name
      # Execute your code here
      print(paste("Match found for", value, "at row", i))
      start_row <- i + 1
      break
    }
  }
}

ERROR: Error in if (df[i, "var"] == value) {: argument is of length zero

In [ ]:
stopper

## <font color = lime> Keeper Below: Part 2
    
<div style="margin-left:40px;">
Allocate the other data in the matched row
</div>

In [16]:
# The function allocated the quan in the row of the match with test_value  = 850
# Rows 3 and 4 modified / added new row for the allocation of quan 


df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")

ct <<- 0
test_value <- c(850)
rat1 <<- 0

# function to allocate values within a df
inter <- function(df, test_value, ct) {
     cumulative_sum <- 0
      
# Iterate over the rows
  for(i in 1:nrow(df)) {
      
    cumulative_sum <- cumulative_sum + df[i, 'quan']
    
    # Check if the cumulative sum exceeds the test value
    
      
    if(cumulative_sum >= test_value) {
        
      # Calculate the excess and the adjusted quantity
      excess <- cumulative_sum - test_value         # 900 - 700 = 200
      adjusted_quantity <- df[i, 'quan'] - excess   # deduct 200 from existing value 
       
     # establish the ratio - need for row 1 and row 2   
     denom <- df[i, 'quan']    # 400    
     numer <- adjusted_quantity
      
      # Update the quantity in the current row
      df[i, 'quan'] <- adjusted_quantity            # assign new value to quan
        
      # Create a new row with the excess quantity (Do it here and not below the changes)
      new_row <- df[i, ]
      new_row['quan'] <- excess 
      
    
    # update the tally_q (first row)
      q1 <- df[i, 'tally_q'] - adjusted_quantity
      df[i, 'tally_q'] <- q1
        
    
   # first, establish a ratio to apply to variables in row 1, then allocate the variables
       
    # create the ratio
    rat1 <<- numer / denom
               
    # apply ratio to variables in row 1
    # cost var
    c1 <- df[i, 'cost'] * rat1
    df[i, 'cost'] <- c1  
    #tally_c var
    t_c <- df[i-1,'tally_c'] + c1
    df[i, 'tally_c'] <- t_c
    #proceeds var
    p1 <- df[i, 'proceeds'] * rat1
    df[i, 'proceeds'] <- p1
    # t_q2 var
    t_q2 <- df[i-1, 'tally_q2'] - adjusted_quantity
    df[i, 'tally_q2'] <- t_q2
    # t_c2 var
    t_c2 <- df[i-1, 'tally_c2'] - c1
    df[i, 'tally_c2'] <- t_c2
        
        
    # Insert the new row into the dataframe immediately below the current row
    df <- df %>% 
    add_row(.before = i+1, !!!new_row)
    ct <<- i+1        

#  PART 2
        
   # update the values in new row 2 
        
    # cost var
    c2 <- df[ct, 'cost'] * rat1
    df[ct, 'cost'] <- c2  
    #tally_c var
    t_c2 <- df[ct-1,'tally_c'] + c2
    df[ct, 'tally_c'] <- t_c2
    #proceeds var
    p2 <- df[ct, 'proceeds'] * rat1
    df[ct, 'proceeds'] <- p2
      # t_q2 var
    t_q22 <- df[ct-1, 'tally_q2'] - adjusted_quantity
    df[ct, 'tally_q2'] <- t_q22
    # t_c2 var
    t_c22 <- df[i-1, 'tally_c2'] - c2
    df[i, 'tally_c2'] <- t_c22      

  # Break the loop and move to the next test value
  break
    
    }
    
  }
     return(df)
}

# make fct call

mod_df <- inter(df, test_value, ct)

# show the returned ct and ratio values
ct
rat1

head(mod_df,10)

[1] 4

[1] 0.875

   index date  cost     quan tally_q tally_c   date_s proceeds tally_q2
1  1     44988  618.080 100   100      618.080 45079   453.980 36850
2  2     44988 2422.310 400   500     3040.390 45079  1815.930 36450
3  3     44988 2011.021 350   550     5051.411 45079  1588.939 36100
4  3     44988 2011.021  50   900     7062.432 45079  1588.939 35750
5  4     44988  605.170 100  1000     5943.870 45079   453.980 35950
6  5     45043  544.500 100  1100     6488.370 45079   453.980 35850
7  6     44988  562.530 100  1200     7050.900 45076   458.260 35750
8  7     44988  575.440 100  1300     7626.340 45076   458.260 35650
9  8     44988 2251.760 400  1700     9878.100 45076  1833.050 35250
10 9     44988 2127.750 400  2100    12005.850 45076  1833.040 34850
   tally_c2
1  206557.2
2  204134.9
3  202123.8
4  201836.5
5  201231.4
6  200686.9
7  200124.3
8  199548.9
9  197297.1
10 195169.4

## <font color = lime> The Keeper! This works great! Not actual sales values

In [32]:
# Moving towards.  Creates a new df from the below the match / new rows 
#  and eliminates some rows to run the process again


df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
df1 <- data.frame()

ct <<- 0
test_value <- c(850)
rat1 <<- 0

# function to allocate values within a df
inter <- function(df, test_value, ct) {
     cumulative_sum <- 0
      
# Iterate over the rows
  for(i in 1:nrow(df)) {  
      
    cumulative_sum <- cumulative_sum + df[i, 'quan']
    
    # Check if the cumulative sum exceeds the test value
    
      
    if(cumulative_sum >= test_value) {
        
      # Calculate the excess and the adjusted quantity
      excess <- cumulative_sum - test_value         # 900 - 700 = 200
      adjusted_quantity <- df[i, 'quan'] - excess   # deduct 200 from existing value 
       
     # establish the ratio - need for row 1 and row 2   
     denom <- df[i, 'quan']    # 400    
     numer <- adjusted_quantity
      
      # Update the quantity in the current row
      df[i, 'quan'] <- adjusted_quantity            # assign new value to quan
        
      # Create a new row with the excess quantity (Do it here and not below the changes)
      new_row <- df[i, ]
      new_row['quan'] <- excess 
      
    
    # update the tally_q (first row)
      q1 <- df[i, 'tally_q'] - adjusted_quantity
      df[i, 'tally_q'] <- q1
        
    
   # first, establish a ratio to apply to variables in row 1, then allocate the variables
       
    # create the ratio
    rat1 <<- numer / denom
               
    # apply ratio to variables in row 1
    # cost var
    c1 <- df[i, 'cost'] * rat1
    df[i, 'cost'] <- c1  
    #tally_c var
    t_c <- df[i-1,'tally_c'] + c1
    df[i, 'tally_c'] <- t_c
    #proceeds var
    p1 <- df[i, 'proceeds'] * rat1
    df[i, 'proceeds'] <- p1
    # t_q2 var
    t_q2 <- df[i-1, 'tally_q2'] - adjusted_quantity
    df[i, 'tally_q2'] <- t_q2
    # t_c2 var
    t_c2 <- df[i-1, 'tally_c2'] - c1
    df[i, 'tally_c2'] <- t_c2
        
        
    # Insert the new row into the dataframe immediately below the current row
    df <- df %>% 
    add_row(.before = i+1, !!!new_row)
    ct <<- i+1  
    # Insert the new row into df1
    df1 <<- df %>% 
    add_row(.before = i+1, !!!new_row)

#  PART 2
        
   # update the values in new row 2 
        
    # cost var
    c2 <- df[ct, 'cost'] * rat1
    df[ct, 'cost'] <- c2  
    #tally_c var
#   t_c2 <- df[ct-1,'tally_c'] + c2
    # Correction? 
    t_c2 <- df[ct,'tally_c'] + c2
    df[ct, 'tally_c'] <- t_c2
    #proceeds var
    p2 <- df[ct, 'proceeds'] * rat1
    df[ct, 'proceeds'] <- p2
      # t_q2 var
#t_q22 <- df[ct-1, 'tally_q2'] - adjusted_quantity    
    # Correction ??
    t_q22 <- df[ct, 'tally_q2'] - adjusted_quantity
    df[ct, 'tally_q2'] <- t_q22
    # t_c2 var
#    t_c22 <- df[i-1, 'tally_c2'] - c2
    # Correction ???
    t_c22 <- df[i, 'tally_c2'] - c2
    df[i, 'tally_c2'] <- t_c22 
      
     # build df1
     df1 <<- rbind(df1, df[i,])

  # Break the loop and move to the next test value
  break
    
    }
    
  }
     return(df)
}

In [18]:
stopper

ERROR: Error in eval(expr, envir, enclos): object 'stopper' not found

## <font color = lime> Real Test - Real Sales Values

### <font color = lime> Clean Function

In [54]:
# clean df
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
# clean sales vector
sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,3000,
           500,2000,3000,500,2000,810,1000,190,3000,1000,1100)

In [55]:
# S/B a clean funtion

ct <<- 0
rat1 <<- 0

# function to allocate values within a df
inter <- function(df, test_value, ct) {
     cumulative_sum <- 0
      
# Iterate over the rows
  for(i in 1:nrow(df)) {
    
   
      
    cumulative_sum <- cumulative_sum + df[i, 'quan']
    
    # Check if the cumulative sum exceeds the test value
    
      
    if(cumulative_sum >= test_value) {
        
      # Calculate the excess and the adjusted quantity
      excess <- cumulative_sum - test_value         # 900 - 700 = 200
      adjusted_quantity <- df[i, 'quan'] - excess   # deduct 200 from existing value 
       
     # establish the ratio - need for row 1 and row 2   
     denom <- df[i, 'quan']    # 400    
     numer <- adjusted_quantity
      
      # Update the quantity in the current row
      df[i, 'quan'] <- adjusted_quantity            # assign new value to quan
        
      # Create a new row with the excess quantity (Do it here and not below the changes)
      new_row <- df[i, ]
      new_row['quan'] <- excess 
      
    
    # update the tally_q (first row)
      q1 <- df[i, 'tally_q'] - adjusted_quantity
      df[i, 'tally_q'] <- q1
        
        
        
    # Insert the new row into the dataframe immediately below the current row
    # df <- df %>% 
    # add_row(.before = i+1, !!!new_row)
    # ct <<- i+1  
    # # Insert the new row into df1
    # df1 <<- df %>% 
    # add_row(.before = i+1, !!!new_row)   
        
        
        
    
   # first, establish a ratio to apply to variables in row 1, then allocate the variables
       
    # create the ratio
    rat1 <<- numer / denom
               
    # apply ratio to variables in row 1
    # cost var
    c1 <- df[i, 'cost'] * rat1
    df[i, 'cost'] <- c1  
    #tally_c var
    t_c <- df[i,'tally_c'] + c1
    df[i, 'tally_c'] <- t_c
    #proceeds var
    p1 <- df[i, 'proceeds'] * rat1
    df[i, 'proceeds'] <- p1
    # t_q2 var
    t_q2 <- df[i, 'tally_q2'] - adjusted_quantity
    df[i, 'tally_q2'] <- t_q2
    # t_c2 var
    t_c2 <- df[i, 'tally_c2'] - c1
    df[i, 'tally_c2'] <- t_c2
        

    # Insert the new row into the dataframe immediately below the current row
    df <- df %>% 
    add_row(.before = i+1, !!!new_row)
    ct <<- i+1  
    # Insert the new row into df1
    df1 <<- df %>% 
    add_row(.before = i+1, !!!new_row)

#  PART 2
        
   # update the values in new row 2 
        
    # cost var
    c2 <- df[ct, 'cost'] * rat1
    df[ct, 'cost'] <- c2  
    #tally_c var
    t_c2 <- df[ct-1,'tally_c'] + c2
    df[ct, 'tally_c'] <- t_c2
    #proceeds var
    p2 <- df[ct, 'proceeds'] * rat1
    df[ct, 'proceeds'] <- p2
      # t_q2 var
    t_q22 <- df[ct-1, 'tally_q2'] - adjusted_quantity
    df[ct, 'tally_q2'] <- t_q22
    # t_c2 var
    t_c22 <- df[i-1, 'tally_c2'] - c2
    df[i, 'tally_c2'] <- t_c22 
      
     # build df1
     df1 <<- rbind(df1, df[i,])

  # Break the loop and move to the next test value
  break
    
    }
    
  }
     return(df)
}

In [56]:
# First value from sales passed to fct 
test_value <- sales[1]

In [57]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")

In [58]:
# make fct call 1  (sales 1000)

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]


# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)  # This is good.
nrow(df1a)

head(df)  # this is good
nrow(df)
length(sales) # sale[] = 22 == 1000

[1] 74

[1] 5

[1] 1

  index date  cost    quan tally_q tally_c date_s proceeds tally_q2 tally_c2
1 1     44988  618.08 100   100     618.08 45079   453.98  36850    206557.2
2 2     44988 2422.31 400   500    3040.39 45079  1815.93  36450    204134.9
3 3     44988 2298.31 400   900    5338.70 45079  1815.93  36050    201836.5
4 4     44988  605.17 100   900    6549.04 45079   453.98  35850    201231.4
5 4     44988  605.17   0  1000    7154.21 45079   453.98  35750    201231.4
6 5     45043  544.50 100  1100    6488.37 45079   453.98  35850    200686.9

[1] 74

  index  date    cost quan tally_q tally_c date_s proceeds tally_q2 tally_c2
1     1 44988  618.08  100     100  618.08  45079   453.98    36850 206557.2
2     2 44988 2422.31  400     500 3040.39  45079  1815.93    36450 204134.9
3     3 44988 2298.31  400     900 5338.70  45079  1815.93    36050 201836.5
4     4 44988  605.17  100     900 5943.87  45079   453.98    35950 201231.4
5     4 44988  605.17    0    1000 5943.87  45079   453.98    35950 201231.4

[1] 5

   index date  cost    quan tally_q tally_c  date_s proceeds tally_q2 tally_c2
5   5    45043  544.50 100  1100     6488.37 45079   453.98  35850    200686.9
6   6    44988  562.53 100  1200     7050.90 45076   458.26  35750    200124.3
7   7    44988  575.44 100  1300     7626.34 45076   458.26  35650    199548.9
8   8    44988 2251.76 400  1700     9878.10 45076  1833.05  35250    197297.1
9   9    44988 2127.75 400  2100    12005.85 45076  1833.04  34850    195169.4
10 10    44988  846.81 190  4200    12852.66 45036   941.41  34660    194322.6

[1] 69

[1] 22

In [59]:
ct

[1] 5

In [60]:
# make fct call 2  (sales 1000)

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)   # sale[] = 21

[1] 70

[1] 6

[1] 0.75

  index date  cost     quan tally_q tally_c  date_s proceeds tally_q2 tally_c2
1 5     45043  544.500 100  1100     6488.37 45079   453.98  35850    200686.9
2 6     44988  562.530 100  1200     7050.90 45076   458.26  35750    200124.3
3 7     44988  575.440 100  1300     7626.34 45076   458.26  35650    199548.9
4 8     44988 2251.760 400  1700     9878.10 45076  1833.05  35250    197297.1
5 9     44988 1595.812 300  1800    13601.66 45076  1374.78  34550    195701.3
6 9     44988 1595.812 100  2100    15197.48 45076  1374.78  34250    195169.4

[1] 70

  index  date    cost quan tally_q  tally_c date_s proceeds tally_q2 tally_c2
1     5 45043  544.50  100    1100  6488.37  45079   453.98    35850 200686.9
2     6 44988  562.53  100    1200  7050.90  45076   458.26    35750 200124.3
3     7 44988  575.44  100    1300  7626.34  45076   458.26    35650 199548.9
4     8 44988 2251.76  400    1700  9878.10  45076  1833.05    35250 197297.1
5     9 44988 2127.75  300    1800 12005.85  45076  1833.04    34850 195169.4
6     9 44988 2127.75  100    2100 12005.85  45076  1833.04    34850 195169.4

[1] 6

   index date  cost    quan tally_q tally_c  date_s proceeds tally_q2 tally_c2
10 10    44988  846.81  190 4200    12852.66 45036   941.41  34660    194322.6
11 11    44988 4951.69 1000 3100    17804.35 45036  4914.81  33660    189370.9
12 12    44988 3610.07  810 3910    21414.42 45036  4005.29  32850    185760.8
13 13    44988 4739.70 1000 5200    26154.12 45036  4989.21  31850    181021.1
14 14    44988 4722.29 1000 6200    30876.41 45036  4989.22  30850    176298.8
15 15    44988 2649.30  500 8100    33525.71 45036  2494.61  30350    173649.5

[1] 64

[1] 21

In [61]:
length(sales)

[1] 21

In [62]:
# make fct call 3 (sales 1000)

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)  #  sale[] = 20

[1] 65

[1] 3

[1] 0.81

  index date  cost     quan tally_q tally_c  date_s proceeds tally_q2 tally_c2
1 10    44988  846.810  190 4200    12852.66 45036   941.410 34660    194322.6
2 11    44988 4010.869  810 2290    21815.22 45036  3980.996 32850    190311.7
3 11    44988 4010.869  190 3100    25826.09 45036  3980.996 32040    189370.9
4 12    44988 3610.070  810 3910    21414.42 45036  4005.290 32850    185760.8
5 13    44988 4739.700 1000 5200    26154.12 45036  4989.210 31850    181021.1
6 14    44988 4722.290 1000 6200    30876.41 45036  4989.220 30850    176298.8

[1] 65

  index  date    cost quan tally_q  tally_c date_s proceeds tally_q2 tally_c2
1    10 44988  846.81  190    4200 12852.66  45036   941.41    34660 194322.6
2    11 44988 4951.69  810    2290 17804.35  45036  4914.81    33660 189370.9
3    11 44988 4951.69  190    3100 17804.35  45036  4914.81    33660 189370.9

[1] 3

   index date  cost    quan tally_q tally_c  date_s proceeds tally_q2 tally_c2
12 12    44988 3610.07  810 3910    21414.42 45036  4005.29  32850    185760.8
13 13    44988 4739.70 1000 5200    26154.12 45036  4989.21  31850    181021.1
14 14    44988 4722.29 1000 6200    30876.41 45036  4989.22  30850    176298.8
15 15    44988 2649.30  500 8100    33525.71 45036  2494.61  30350    173649.5
16 16    44988  844.45  190 6390    34370.16 45036   944.26  30160    172805.1
17 17    44988 3600.03  810 7200    37970.19 45036  4013.40  29350    169205.0

[1] 62

[1] 20

In [63]:
# make fct call 4 (sales 100)

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)  # sale[] = 19

ERROR: Error in x[[jj]][iseq] <- vjj: replacement has length zero

In [ ]:
stopper

### <font color = yellow> Early practive below

In [ ]:
# Another issue with exceeding the index

df <- data.frame(quan = c(1,2,3,4,5,6,7,8,9,10))
vec <- c(6, 15, 28)

# Initialize variables
start_index <- 1
vec_index <- 1

# Loop over the vector values
for (target in vec) {
  # Initialize sum
  sum_quan <- 0
  
  # Loop over the dataframe rows
  for (i in start_index:nrow(df)) {
    # Add the current 'quan' value to the sum
    sum_quan <- sum_quan + df$quan[i]
    
    # Check if the sum exceeds the current target value
    if (sum_quan > target) {
      # Calculate the excess value
      excess <- sum_quan - target
      
      # Adjust the 'quan' value in the current row
      df$quan[i] <- df$quan[i] - excess
      
      # Create a new row with the excess value
      new_row <- df[i, ]
      new_row$quan <- excess
      df <- rbind(df[1:i, ], new_row, df[(i+1):nrow(df), ])
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
        
    } else if (sum_quan == target) {
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
    }
  }
}

df

In [ ]:
# Assuming df is your dataframe and vec is your vector
df <- data.frame(quan = c(1,2,3,4,5,6,7,8,9,10), col2 = letters[1:10], col3 = LETTERS[1:10])
vec <- c(6, 15, 28)

# Initialize variables
start_index <- 1
vec_index <- 1

# Loop over the vector values
for (target in vec) {
  # Initialize sum
  sum_quan <- 0
  
  # Loop over the dataframe rows
  for (i in start_index:nrow(df)) {
    # Add the current 'quan' value to the sum
    sum_quan <- sum_quan + df$quan[i]
    
    # Check if the sum exceeds the current target value
    if (sum_quan > target) {
      # Calculate the excess value
      excess <- sum_quan - target
      
      # Adjust the 'quan' value in the current row
      df$quan[i] <- df$quan[i] - excess
      
      # Create a new row with the excess value
      new_row <- df[i, ]
      new_row$quan <- excess
      df <- rbind(df[1:i, ], new_row, df[(i+1):nrow(df), ])
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 2
      
      # Break the loop as the target is reached
      break
    } else if (sum_quan == target) {
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
    }
  }
}

In [ ]:
# Demonstrates targeting ... but exceeding the index value again

vec <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,3000,500,
           2000,3000,500,2000,810,1000,190,3000,1000,1100)

df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")


# Initialize variables
start_index <- 1
vec_index <- 1

# Create an empty dataframe to store the matches
matches <- data.frame()

# Loop over the vector values
for (target in vec) {
  # Initialize sum
  sum_quan <- 0
  
  # Loop over the dataframe rows
  for (i in start_index:nrow(df)) {
    # Add the current 'quan' value to the sum
    sum_quan <- sum_quan + df$quan[i]
    
    # Check if the sum exceeds the current target value
    if (sum_quan > target) {
      # Calculate the excess value
      excess <- sum_quan - target
      
      # Adjust the 'quan' value in the current row
      df$quan[i] <- df$quan[i] - excess
      
      # Add the current row to the matches dataframe
      matches <- rbind(matches, df[i, ])
      
      # Add a new row with the excess value to the matches dataframe
      matches <- rbind(matches, c(excess, df$col2[i], df$col3[i]))
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
        
    } else if (sum_quan == target) {
      # Add the current row to the matches dataframe
      matches <- rbind(matches, df[i, ])
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
    }
  }
}
matches

In [ ]:
# Assuming df is your dataframe and vec is your vector
df <- data.frame(quan = c(1,2,3,4,5,6,7,8,9,10), col2 = letters[1:10], col3 = LETTERS[1:10])
vec <- c(6, 14, 28)

# Initialize variables
start_index <- 1
vec_index <- 1

# Create an empty dataframe to store the matches
matches <- data.frame()

# Loop over the vector values
for (target in vec) {
  # Initialize sum
  sum_quan <- 0
  
  # Loop over the dataframe rows
  for (i in start_index:nrow(df)) {
    # Add the current 'quan' value to the sum
    sum_quan <- sum_quan + df$quan[i]
    
    # Check if the sum exceeds the current target value
    if (sum_quan > target) {
      # Calculate the excess value
      excess <- sum_quan - target
      
      # Adjust the 'quan' value in the current row
      df$quan[i] <- df$quan[i] - excess
      
      # Add the current row to the matches dataframe
      matches <- rbind(matches, df[i, ])
      
      # Add a new row with the excess value to the matches dataframe
      matches <- rbind(matches, c(excess, df$col2[i], df$col3[i]))
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
    } else if (sum_quan == target) {
      # Add the current row to the matches dataframe
      matches <- rbind(matches, df[i, ])
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
    }
  }
}
matches

In [ ]:
f <- function(x) x + 1
str(f)
('--------------------------------------------')
result <- f(60)                                   # Current age
result
('--------------------------------------------')
str(result)

print(f)