In [10]:
library(dplyr)

In [11]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
str(df)

'data.frame':	74 obs. of  12 variables:
 $ date    : chr  "9/15/2022" "9/15/2022" "9/15/2022" "9/15/2022" ...
 $ cost    : num  1990 503 414 816 2013 ...
 $ quan    : int  200 50 50 100 200 100 100 100 100 50 ...
 $ tally_q : int  200 250 300 400 600 700 800 900 1000 1050 ...
 $ tally_c : num  1990 503 414 816 2013 ...
 $ date_s  : chr  "1/27/2023" "1/27/2023" "2/3/2023" "2/3/2023" ...
 $ proceeds: num  1102 276 309 619 1336 ...
 $ tally_q2: int  36750 36700 36650 36550 36350 36250 36150 36050 35950 35900 ...
 $ tally_c2: num  205185 204682 204268 203453 201440 ...
 $ X       : logi  NA NA NA NA NA NA ...
 $ X.1     : logi  NA NA NA NA NA NA ...
 $ X.2     : logi  NA NA NA NA NA NA ...

In [12]:
head(df)

  date      cost    quan tally_q tally_c date_s    proceeds tally_q2 tally_c2
1 9/15/2022 1989.98 200  200     1989.98 1/27/2023 1102.42  36750    205185.3
2 9/15/2022  503.42  50  250      503.42 1/27/2023  275.61  36700    204681.8
3 9/15/2022  413.70  50  300      413.70 2/3/2023   309.49  36650    204268.1
4 9/15/2022  815.57 100  400      815.57 2/3/2023   618.98  36550    203452.6
5 9/15/2022 2012.56 200  600     2012.56 2/3/2023  1335.96  36350    201440.0
6 9/15/2022  917.10 100  700      917.10 2/3/2023   625.47  36250    200522.9
  X  X.1 X.2
1 NA NA  NA
2 NA NA  NA
3 NA NA  NA
4 NA NA  NA
5 NA NA  NA
6 NA NA  NA

### <font color = lime> Convert the df char data types to numeric

In [13]:

df$date <- as.Date(df$date, origin = "1899-12-30")
df$date_s <- as.Date(df$date_s, origin = "1899-12-30")
# TestAllocate1.csv <- as.Date(df$date_s, origin = "1899-12-30")

ERROR: Error in charToDate(x): character string is not in a standard unambiguous format

In [ ]:
head(df)

In [14]:
# Define the target sum
target_sum <- 1000


# Initialize a variable to hold the cumulative sum
cumulative_sum <- 0

# Initialize a variable to hold the index where target sum is achieved
index <- 0

# Iterate over the column
for(i in 1:nrow(df)) {
  cumulative_sum <- cumulative_sum + df[i, 'tally_q']
    print(cumulative_sum)
  if(cumulative_sum >= target_sum) {
    index <- i
    break
  }
}

# Print the index
print(index)
cumulative_sum

[1] 200
[1] 450
[1] 750
[1] 1150
[1] 4

[1] 1150

In [15]:
# Assuming 'df' is your dataframe and 'Quantity' is your column
df <- data.frame(Quantity = c(1, 2, 3, 4, 5), Other = c('a', 'b', 'c', 'd', 'e'))
test_values <- c(8, 6)
df
# Iterate over the test values
for(test_value in test_values) {
  # Initialize a variable to hold the cumulative sum
  cumulative_sum <- 0

  # Iterate over the rows
  for(i in 1:nrow(df)) {
    cumulative_sum <- cumulative_sum + df[i, 'Quantity']
    
    # Check if the cumulative sum exceeds the test value
    if(cumulative_sum > test_value) {
      # Calculate the excess and the adjusted quantity
      excess <- cumulative_sum - test_value
      adjusted_quantity <- df[i, 'Quantity'] - excess
      
      # Update the quantity in the current row
      df[i, 'Quantity'] <- adjusted_quantity
      
      # Create a new row with the excess quantity
      new_row <- df[i, ]
      new_row['Quantity'] <- excess
      
      # Insert the new row into the dataframe immediately below the current row
      df <- df %>% 
        add_row(.before = i+1, !!!new_row)
      
      # Break the loop
      break
    }
  }
}

# Print the updated dataframe
print(df)

  Quantity Other
1 1        a
2 2        b
3 3        c
4 4        d
5 5        e

  Quantity Other
1        1     a
2        2     b
3        3     c
4        0     d
5        2     d
6        2     d
7        5     e

## <font color = lime> Keeper!  It works

In [34]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")

ct <<- 1
test_value <- c(850)
rat1 <<- 0

# function to allocate values within a df
inter <- function(df, test_value, ct) {
     cumulative_sum <- 0
      
# Iterate over the rows
  for(i in 1:nrow(df)) {
      
    cumulative_sum <- cumulative_sum + df[i, 'quan']
    
    # Check if the cumulative sum exceeds the test value
    if(cumulative_sum == test_value) {
        print("match amount")
                
        
        }
      
    if(cumulative_sum >= test_value) {        
           
      # Calculate the excess and the adjusted quantity
      excess <- cumulative_sum - test_value         # 900 - 700 = 200
      adjusted_quantity <- df[i, 'quan'] - excess   # deduct 200 from existing value 
       
     # establish the ratio - need for row 1 and row 2   
     denom <- df[i, 'quan']    # 400    
     numer <- adjusted_quantity
      
      # Update the quantity in the current row
      df[i, 'quan'] <- adjusted_quantity            # assign new value to quan
        
      # Create a new row with the excess quantity (Do it here and not below the changes)
      new_row <- df[i, ]
      new_row['quan'] <- excess 
      
    
    # update the tally_q (first row)
      q1 <- df[i, 'tally_q'] - adjusted_quantity
      df[i, 'tally_q'] <- q1
        
    
   # first, establish a ratio to apply to variables in row 1, then allocate the variables
       
    # create the ratio
    rat1 <<- numer / denom
               
    # apply ratio to variables in row 1
    # cost var
    c1 <- df[i, 'cost'] * rat1
    df[i, 'cost'] <- c1  
    #tally_c var
    t_c <- df[i-1,'tally_c'] + c1
    df[i, 'tally_c'] <- t_c
    #proceeds var
    p1 <- df[i, 'proceeds'] * rat1
    df[i, 'proceeds'] <- p1
    # t_q2 var
    t_q2 <- df[i-1, 'tally_q2'] - adjusted_quantity
    df[i, 'tally_q2'] <- t_q2
    # t_c2 var
    t_c2 <- df[i-1, 'tally_c2'] - c1
    df[i, 'tally_c2'] <- t_c2
        
        
    # Insert the new row into the dataframe immediately below the current row
    df <- df %>% 
    add_row(.before = i+1, !!!new_row)
    ct <<- i+1        

#  PART 2
        
   # update the values in new row 2 
        
    # cost var
    c2 <- df[ct, 'cost'] * rat1
    df[ct, 'cost'] <- c2  
    #tally_c var
    t_c2 <- df[ct-1,'tally_c'] + c2
    df[ct, 'tally_c'] <- t_c2
    #proceeds var
    p2 <- df[ct, 'proceeds'] * rat1
    df[ct, 'proceeds'] <- p2
      # t_q2 var
    t_q22 <- df[ct-1, 'tally_q2'] - adjusted_quantity
    df[ct, 'tally_q2'] <- t_q22
    # t_c2 var
    t_c22 <- df[i-1, 'tally_c2'] - c2
    df[i, 'tally_c2'] <- t_c22      

  # Break the loop and move to the next test value
  break
    
    }
    
  }
     return(df)
}



# make fct call


# show the returned ct value



sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,3000,500,2000,3000,500,2000,810,1000,190,3000,1000,1100)



for(i in 1:length(sales)) {
    mod_df <- inter(df, sales[i], ct)
    }    
ct



head(mod_df,15)

[1] "match amount"
[1] "match amount"
[1] "match amount"

ERROR: Error in x[[jj]][iseq] <- vjj: replacement has length zero

In [41]:
sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,3000,500,2000,3000,500,2000,810,1000,190,3000,1000,1100)



for(i in 1:length(sales)) {
    #tally
    ct <<- ct + sales[i]
    }    
ct

[1] 36950

In [ ]:
sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,3000,500,2000,3000,500,2000,810,1000,190,3000,1000,1100)

start_row <- 1
for(i in 1:length(sales)) {
    for(i in start_row:nrow(df)) {
        if(df[i, 
    mod_df <- inter(df, sales[i], ct)
    
    }
    #tally

In [49]:
df$X <- NULL
df$X.1 <- NULL
df$X.2 <- NULL

In [54]:
df$quan <- as.integer(df$quan)

In [55]:
head(df)

  date      cost    quan tally_q tally_c date_s    proceeds tally_q2 tally_c2
1 9/15/2022 1989.98 200  200     1989.98 1/27/2023 1102.42  36750    205185.3
2 9/15/2022  503.42  50  250      503.42 1/27/2023  275.61  36700    204681.8
3 9/15/2022  413.70  50  300      413.70 2/3/2023   309.49  36650    204268.1
4 9/15/2022  815.57 550  400      815.57 2/3/2023   618.98  36550    203452.6
5 9/15/2022 2012.56 200  600     2012.56 2/3/2023  1335.96  36350    201440.0
6 9/15/2022  917.10 100  700      917.10 2/3/2023   625.47  36250    200522.9

In [57]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")

cumulative_sum <- 0

start_row <- 1

for(value in sales) {
# Iterate over the rows
    for(i in start_row:nrow(df)) {
        cumulative_sum <- 0
        cumulative_sum <- cumulative_sum + df[i, 'quan']
        # check if the cumulative sum equals the test value in sales[i], if so, do nada
        if(cumulative_sum == sales[i]) {
            temp <- df[i, 'quan']
            df[i, 'quan'] <- temp                 
        }
        # Check if the cumulative sum exceeds the test value
        else if(cumulative_sum >= sales[i]) {        
    
        # Calculate the excess and the adjusted quantity
        excess <- cumulative_sum - test_value         # 900 - 700 = 200
        adjusted_quantity <- df[i, 'quan'] - excess   # deduct 200 from existing value 
        
        # establish the ratio - need for row 1 and row 2   
        denom <- df[i, 'quan']    # 400    
        numer <- adjusted_quantity
      
        # Update the quantity in the current row
        df[i, 'quan'] <- adjusted_quantity            # assign new value to quan
        
        # Create a new row with the excess quantity (Do it here and not below the changes)
        new_row <- df[i, ]
        new_row['quan'] <- excess  
        
        start_row <- i + 1
        break
        }
      }
    }
df

ERROR: Error in if (cumulative_sum == sales[i]) {: missing value where TRUE/FALSE needed

In [ ]:
# Assuming 'vec' is your vector and 'df' is your dataframe
start_row <- 1
for(value in vec) {
  for(i in start_row:nrow(df)) {
    if(df[i, 'var'] == value) {  # Replace 'var' with your actual column name
      # Execute your code here
      print(paste("Match found for", value, "at row", i))
      start_row <- i + 1
      break
    }
  }
}

In [40]:
length(df)

[1] 12

In [17]:
stopper

ERROR: Error in eval(expr, envir, enclos): object 'stopper' not found

## <font color = lime> Part 2
    
<div style="margin-left:40px;">
Allocate the other data in the matched row
</div>

In [ ]:
df <- read.csv("locate.csv", header = TRUE, sep = ",")

ct <<- 0
test_value <- c(1000)
rat1 <<- 0

# function to allocate values within a df
inter <- function(df, test_value, ct) {
     cumulative_sum <- 0
      
# Iterate over the rows
  for(i in 1:nrow(df)) {
      
    cumulative_sum <- cumulative_sum + df[i, 'quan']
    
    # Check if the cumulative sum exceeds the test value
    if(cumulative_sum >= test_value) {
        
     
           
      # Calculate the excess and the adjusted quantity
      excess <- cumulative_sum - test_value         # 900 - 700 = 200
      adjusted_quantity <- df[i, 'quan'] - excess   # deduct 200 from existing value 
       
     # establish the ratio - need for row 1 and row 2   
     denom <- df[i, 'quan']    # 400    
     numer <- adjusted_quantity
      
      # Update the quantity in the current row
      df[i, 'quan'] <- adjusted_quantity            # assign new value to quan
        
      # Create a new row with the excess quantity (Do it here and not below the changes)
      new_row <- df[i, ]
      new_row['quan'] <- excess 
      
    
    # update the tally_q (first row)
      q1 <- df[i, 'tally_q'] - adjusted_quantity
      df[i, 'tally_q'] <- q1
        
    
   # first, establish a ratio to apply to variables in row 1, then allocate the variables
       
    # create the ratio
    rat1 <<- numer / denom
               
    # apply ratio to variables in row 1
    # cost var
    c1 <- df[i, 'cost'] * rat1
    df[i, 'cost'] <- c1  
    #tally_c var
    t_c <- df[i-1,'tally_c'] + c1
    df[i, 'tally_c'] <- t_c
    #proceeds var
    p1 <- df[i, 'proceeds'] * rat1
    df[i, 'proceeds'] <- p1
    # t_q2 var
    t_q2 <- df[i-1, 'tally_q2'] - adjusted_quantity
    df[i, 'tally_q2'] <- t_q2
    # t_c2 var
    t_c2 <- df[i-1, 'tally_c2'] - c1
    df[i, 'tally_c2'] <- t_c2
        
        
    # Insert the new row into the dataframe immediately below the current row
    df <- df %>% 
    add_row(.before = i+1, !!!new_row)
    ct <<- i+1        

#  PART 2
        
   # update the values in new row 2 
        
    # cost var
    c2 <- df[ct, 'cost'] * rat1
    df[ct, 'cost'] <- c2  
    #tally_c var
    t_c2 <- df[ct-1,'tally_c'] + c2
    df[ct, 'tally_c'] <- t_c2
    #proceeds var
    p2 <- df[ct, 'proceeds'] * rat1
    df[ct, 'proceeds'] <- p2
      # t_q2 var
    t_q22 <- df[ct-1, 'tally_q2'] - adjusted_quantity
    df[ct, 'tally_q2'] <- t_q22
    # t_c2 var
    t_c22 <- df[i-1, 'tally_c2'] - c2
    df[i, 'tally_c2'] <- t_c22      

  # Break the loop and move to the next test value
  break
    
    }
    
  }
     return(df)
}

# make fct call

mod_df <- inter(df, test_value, ct)

# show the returned ct value
ct
rat1

head(mod_df,10)

In [ ]:
f <- function(x) x + 1
str(f)
('--------------------------------------------')
result <- f(60)                                   # Current age
result
('--------------------------------------------')
str(result)

print(f)