In [1]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 4.3.2"

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
df <- read.csv("BuySell.csv", header = TRUE, sep = ",")
nrow(df)
head(df,3)

[1] 36

  date  type  co  quan  pps  basis   tallq_q tally_b Sale
1 44926 Owned AMC  1050 4.07  4273.5 1050     4273.5     0
2 44953 Sell  AMC -1000 5.51 -5512.4   50    -5512.4 -1000
3 44946 Buy   AMC  1000 5.63  5625.0 1050     5625.0     0

In [3]:
# Convert Excel dates when in the 1900 date format

df$date <- as.Date(df$date, origin = "1899-12-30")
#df$date_s <- as.Date(df$date_s, origin = "1899-12-30")
head(df, 3)

  date       type  co  quan  pps  basis   tallq_q tally_b Sale
1 2022-12-31 Owned AMC  1050 4.07  4273.5 1050     4273.5     0
2 2023-01-27 Sell  AMC -1000 5.51 -5512.4   50    -5512.4 -1000
3 2023-01-20 Buy   AMC  1000 5.63  5625.0 1050     5625.0     0

In [11]:
# First allocate, then play with cost basis methods

adj_tally <- function(tally, sale) {
    # cat("TALLY in the remote fct", tally, "\n")
    tally <- tally + sale
    cat("ADJUSTED TALLY - reduced by sale in remote fct", tally, "\n")
    return(tally)        
    }

## <font color = yellow> These values agree with .csv/spreadsheet
    
##### Getting the spreadsheet right w Buy/Sells remains the workout

In [12]:
# Identify the rows in the df where the sales occur

# Create counter vars
ct <- 0
tally <- 0
row_ct <<- 0
cat("The df has the following nrows: ", nrow(df), "\n \n")

# loop through the df
for(i in 1:nrow(df))  { 
    
     ct <- ct + 1
    # Sum the buy values from each row
    if(df[i, 'quan'] > 0 ) {
        row_ct <- row_ct + 1
        # tally the buys from each row 
        tally <- tally + df[i, 'quan']
        #print(paste0("BUY ", df[i,'quan'], " Row number is: ", row_ct, " The Tally is: ", tally))       
        }
    
        #  when a sale value is found (neg value) ....
        if(df[i, 'quan'] < 0 )  {
            sale <- df[i, 'quan']
            row_ct <- row_ct + 1
           # print(paste0("SELL ", df[i,'quan'], " Row number is: ", row_ct, " The Tally is: ", tally)) 
            tally <- adj_tally(tally, sale) 
            }
   }
 
# adj_basis(df, tally) 
cat("\n")
cat("The FINAL tally is :", tally, "\n")
ct

#  These value agree with the spreadsheet: BuySell.csv / .xlsx

The df has the following nrows:  36

ADJUSTED TALLY - reduced by sale in remote fct 50
ADJUSTED TALLY - reduced by sale in remote fct 3050
ADJUSTED TALLY - reduced by sale in remote fct 2050
ADJUSTED TALLY - reduced by sale in remote fct 1050
ADJUSTED TALLY - reduced by sale in remote fct 11850
ADJUSTED TALLY - reduced by sale in remote fct 5850
ADJUSTED TALLY - reduced by sale in remote fct 0
ADJUSTED TALLY - reduced by sale in remote fct 3000
ADJUSTED TALLY - reduced by sale in remote fct 0
ADJUSTED TALLY - reduced by sale in remote fct 5000
ADJUSTED TALLY - reduced by sale in remote fct 0
ADJUSTED TALLY - reduced by sale in remote fct 1100
ADJUSTED TALLY - reduced by sale in remote fct 0

The FINAL tally is : 0

[1] 36