In [ ]:
library(dplyr)

In [ ]:
df <- read.csv("BuySell.csv", header = TRUE, sep = ",")
nrow(df)
head(df,3)

In [ ]:
# Convert Excel dates when in the 1900 date format

df$date <- as.Date(df$date, origin = "1899-12-30")
#df$date_s <- as.Date(df$date_s, origin = "1899-12-30")
head(df, 3)

In [ ]:
# First allocate, then play with cost basis methods

adj_basis <- function(tally, sale) {
    cat("TALLY in the remote fct", tally, "\n")
    tally <- tally + sale
    cat("ADJUSTED TALLY in the remote fct", tally, "\n")
    return(tally)        
    }

In [ ]:
# Identify the rows in the df where the sales occur

# Create counter vars
ct <- 0
tally <- 0
row_ct <<- 0
cat("The df has the following nrows: ", nrow(df), "\n \n")

# loop through the df
for(i in 1:nrow(df))  { 
    
     ct <- ct + 1
    # Sum the buy values from each row
    if(df[i, 'quan'] > 0 ) {
        row_ct <- row_ct + 1
        # tally the buys from each row 
        tally <- tally + df[i, 'quan']
        print(paste0("BUY ", df[i,'quan'], " Row number is: ", row_ct, " The Tally is: ", tally))       
        }
    
        #  when a sale value is found (neg value) ....
        if(df[i, 'quan'] < 0 )  {
            sale <- df[i, 'quan']
            row_ct <- row_ct + 1
             print(paste0("SELL ", df[i,'quan'], " Row number is: ", row_ct, " The Tally is: ", tally)) 
             tally <- adj_basis(tally, sale) 
            }
   }
 
# adj_basis(df, tally) 
cat("\n")
cat("The FINAL tally is :", tally, "\n")
ct