In [1]:
library(tibble)

In [2]:
create_df <- function() {
    df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
    df$sale <- as.integer(df$sale)
    df$date <- as.Date(df$date, origin = "1899-12-30")
    df$true_false <- FALSE
  
    return(df)   # needed to return all the changes made to df
    }
# df <- create_df()  # fct call

In [3]:
# to be called when needing to review the current value of variables assigned main when: ( for loop = i )

check_var_values <- function() {
    
     cat("\n", "Welcome to the check_var_values function(), these values change in main by for-loop(i)  ", "\n")
     
    # Check the values of the primary variables defined and being passed from main
       
     df <- df
    
    cat("\n", "Value of i is: ",  i,"\n\n") 
     
#     cat("Column names: ", 
#         "index date,
#         type,
#         co,
#         quan,
#         pps,
#         basis,
#         sale_quan,
#         tally,
#         cf_quan,
#         cf_pps,
#         cf_basis,
#         buy_quan,
#         buy_pps,
#         buy_basis,
#         sell_quan,
#         sell_pps,
#         sell_basis,
#         profit_loss,
#         sale,
#         true_false
#         ", "\n")
    
     # define variables / common use names
   cat(" defined names ", 
       "
        index_row <- i
        buy_quan <- df[i, 'quan']
        sell_quan <- df[i+1, 'quan']           
        buy_index <- df[i, 'index']
        sell_index <- df[i+1, 'index']
        buy_pps <- df[i, 'pps']
        sell_pps <- df[i +1, 'pps'] 
        buy_basis <- sell_quan * buy_pps
        sell_basis <- buy_quan * sell_pps
        cf_quan <- sell_quan - buy_quan
        profit_loss <- buy_basis - sell_basis
        ", "\n")

  
    cat( "# std assignment block ", 
            "
         #   df[i, 'type'] <- 
         #   df[i, 'co'] <- 
         #   df[i, 'quan'] <- 
         #   df[i, 'pps'] <-
         #   df[i, 'basis'] <- 
         #   df[i, 'sale_quan'] <- 
         #   df[i, 'tally'] <- 
         #   df[i, 'cf_quan'] <- 
         #   df[i, 'cf_pps'] <-
         #   df[i, 'cf_basis'] <-
         #   df[i, 'buy_quan'] <-
         #   df[i, 'buy_ppi'] <-
         #   df[i, 'buy_basis'} <-
         #   df[i, 'sell_quan'] <-  
         #   df[i, 'sell_pps'] <-
         #   df[i, 'sell_basis'] <-
         #   df[i, 'profit_loss'] <- 
         #   df[i, 'sale'] <- 
         #   df[i, 'true_false'] <-  ",
        "\n")
        
 
    }

In [4]:
# The fct will find the next Buy row from the current loop i value


find_next_buysell <- function(find_row) {

    next_buy_row <- find_row + 1     # add 1 to test the next row 
    
# find the next Buy row.  
    cat("Cat: find_next_buysell fct ().  The value passed into this fct, find_now, is: ", next_buy_row, "\n",
        "    which is i + 1. While the main loop number i remains: ", i, "\n")
    
   
    for (j in next_buy_row:nrow(df)) {
        next_buy_row <- j
        
        cat("\t\t", "This row following i, is: ", j, "\n")
        if (df[j, "type"] == "Buy") {
           # cat("The next Buy row is: ", j, "\n")
            break
           # next_buy_row <- j
           }          
        }
         #cat("The next row following current row, ", i, ", which is a Buy row is: ", next_buy_row, "\n")
        return(next_buy_row) 

    }  # fct


# next_buy_row <- find_next_buysell(i)
# cat("\n", "The value returned from the next_buy_row function() is: ", next_buy_row, "\n")

In [5]:
# This fct called from the main
# When the next two rows in df are: Sell / Buy, this fct flip those rows to Buy / Sell
# then sends the modified df back to buy_sell_steer.


flip <- function(df) {
    
    df <- df 
    switch <- 1
    
    cat("\n", "Msg 1 from flip function().  Initial order of (i and i +1). ", i, "\t", i+1, "\n")
    
  
    # temp_row_sell <- df[i, ]
    temp_row_buy <- df[i+1, ]
    
    df <- add_row(df, temp_row_buy, .before = i)  # paste buy before sell
    df <- df[-(i+2), ]     # remove the origial buy 
    
    if(switch > 0) {
        df$true_false[i] <- TRUE
        }
    
    cat("Msg 2 from flip function().  Changed order of (i and i +1). ", i, "\t", i+1, "\n")
    cat("Msg 3 from flip function().  The T/F was changed in this fct. ", "\n") 
        
    if(df[i, 'true_false']) {
        cat("This msg A. Only prints when this row's switching var is true ", "\n")
        } else  {
        cat("This msg B. Only prints when this row's swithing var is false ", "\n")
        }
            
   
     
   # Return the modified df to the main 
                 
    return(df)
    }

In [6]:
# This fct called buy_sell_easy1
# When there is a c/f, then the rows must be Buy/Sell/Buy.  If Buy/Sell/Sell/Buy, then need to flip (i + 3 w/ i + 4 )
# then sends the modified df back to buy_sell_easy1.


flipper2 <- function(df) {
    
    df <- df 
      switch <- 0
    
    cat("\n", "Msg 1 from flipper2 function().  Initial order of the rows: (i, i +1, & i +2, i+3, i+4) are: ", 
            i,   df[i, 'type'], "\t", 
            i+1, df[i+1, 'type'], "\t", 
            i+2, df[i+2, 'type'], "\t", 
            i+3, df[i+3, 'type'], "\t", 
            i+4, df[i+4, 'type'],
            "\n")         
       
    
      if(df[i+3, 'type'] == "Buy") {
          
          switch <- 1 
          if(switch > 0) {
            df$true_false[i+3] <- TRUE
            }
    
        # temp_row_sell <- df[i, ]
        temp_row_buy <- df[i+3, ]

        df <- add_row(df, temp_row_buy, .after = i+1)  # paste buy before sell
        df <- df[-(i+4), ]     # remove the origial buy 


        cat("Msg 2 from flipper function().  Changed order of (i+1 and i +2). is i, i+1, i+2, i + 3, i + 4 are: ", 
            i,   df[i, 'type'], "\t", 
            i+1, df[i+1, 'type'], "\t", 
            i+2, df[i+2, 'type'], "\t", 
            i+3, df[i+3, 'type'], "\t", 
            i+4, df[i+4, 'type'],
            "\n\n")
          
        cat("\t", "Msg 3 from flipper function().  Returning to buy_sell_easy fct () for completion of the carryforward values. ", "\n") 
        return(df)

       } else {
              cat("more work is needed here when row 1+3 != Buy ", "\n")
              return(df)
        }
            
   
  } # fct

In [7]:

# dim(df)
# check_var_values()
# # print(names(df))

In [8]:
# call from buy-sell-steer, t/f the rows s/b in buy/sell/buy arangement

buy_sell_advanced <- function(df) { 
    
    df <- df
    
    cat("\n\t\t", "Cat msg 1 from buy_sell_advanced function (). ", "\n")
    
    cat("\t\t", "Cat msg 2 from the buy_sell_advanced function(). This fct is for c/f events. The i value is: ", i , "\n")
    
    cat("\t\t", "Cat msg 3 from buy_sell_advanced (). Check for Buy/Sell/Buy.  ", df[i, 'type'], "\t", df[i+1, 'type'], "\t", df[i+2, 'type'], "\n")
    
    cf_quan <- as.integer(df[i, 'quan'] - sell_quan)
    
    adjusted_cost_basis <- sell_quan * buy_pps
    carry_forward_basis <- (buy_quan * buy_pps) - adjusted_cost_basis
    sale <- sell_quan
    profit <- df[i, 'sell_basis'] - df[i, 'buy_basis']
    
    
    
    
    
    #        df[i, 'type'] <- 
            df[i, 'co'] <- "Sold"
     #      df[i, 'quan'] <- 0
      #      df[i, 'pps'] <-  
     #       df[i, 'basis'] <-       
            df[i, 'sale_quan'] <- sell_quan
    #       df[i, 'tally'] <- 
            df[i, 'cf_quan'] <- buy_quan - sell_quan 
            df[i, 'cf_pps'] <-  df[i, 'pps']
             df[i, 'cf_basis'] <- df[i, 'cf_quan'] * df[i, 'cf_pps']
            df[i, 'buy_quan'] <- sell_quan
            df[i, 'buy_pps'] <-  buy_pps
            df[i, 'buy_basis'] <- buy_pps * sell_quan
            df[i, 'sell_quan'] <-  sell_quan
            df[i, 'sell_pps'] <- sell_pps
            df[i, 'sell_basis'] <- sell_pps * sale
            df[i, 'profit_loss'] <- df[i, 'sell_basis'] - df[i, 'buy_basis'] 
            df[i, 'sale'] <-  sale
     #      df[i, 'true_false'] <-  
    
    return(df)
    
    
    
    
    }

In [9]:
# check_var_values()

In [10]:
# if(any(df$true_false == TRUE)) {
#          cat("This works ", "\n")
#      }
buy_sell_easy2 <- function(df) {
    df <- df
    
    cat("Time to remove the c/f and the rest of the sale. The row number, i is: ", i,  "\n")
    
        
    
    #   df[i, 'type'] <- 
         #   df[i, 'co'] <- 
         #   df[i, 'quan'] <- 
         #   df[i, 'pps'] <-
         #   df[i, 'basis'] <- 
             df[i, 'sale_quan'] <- sell_quan - df[i-1, 'cf_quan']
             df[i, 'tally'] <-  df[i-1, 'cf_quan']
             df[i, 'cf_quan'] <- -df[i-1, 'cf_quan']
         #   df[i, 'cf_pps'] <-
         #   df[i, 'cf_basis'] <-
             df[i, 'buy_quan'] <- buy_quan
             df[i, 'buy_ppi'] <- df[i, 'pps']
         #    df[i, 'buy_basis'} <-
         #   df[i, 'sell_quan'] <-  
         #   df[i, 'sell_pps'] <-
         #   df[i, 'sell_basis'] <-
         #   df[i, 'profit_loss'] <- 
         #   df[i, 'sale'] <- 
         #   df[i, 'true_false'] <-   
    
    
    
    
    return(df)
    
    
    }

In [11]:
# When Buy row is <= Sell row , will test whether any CF in (i-1), (may c/f of sell )
# called from


buy_sell_easy1 <- function(df) {
    
    df <- df

    cat("\n", "Welcome to the buy_sell_easy1 function().  Will tranact when Buy <= Sell ", "\n")

   # test for any c/f in proceeding row / test proceeding row is a Sell
    
    if(df[i-1, 'type'] == "Buy" && df[i-1, 'cf_quan'] > 0) {
        
        cat("\n\t", "We got prior c/f to deal with in this Sell transaction! ", "\n",
        "\t", "This will NOT be a simple wash sale. ", "\n\n")
        
        
        # There need to be Buy/Sell/Buy/ rows for the c/f to work
         if(df[i+2, 'type' ] != "Buy") {
             df <- flipper2(df)
            }
           cat("\t\t", "Back and still in easy1. The rows s/b : Buy, Sell, Buy. more to come: ", 
               df[i, 'type'], "\t", df[i+1, 'type'], "\t", df[i+2, 'type'], "\n")
             
        # This is novel, need to restart this function ( buy_sell_easy1 ) from the start 
             if(any(df$true_false == TRUE)) {
                 cat("This works ", "\n")                 
                 if(any(df$true_false == TRUE)) {
                     df$true_false <- FALSE
                     }
                 cat("\t\t\t\t\n", "Bailing out for restart in easy1 ", "\n")
                #  buy_sell_easy1(df)
                 buy_sell_easy2(df)
                 return(df)
                }

        
    
    
    # test for type of sale tranaction
        }else if (abs(sell_quan) == buy_quan) {
            cat("This will be a simple wash sale with no c/f", "\n")
            
            # std block
            
            df[i, 'type'] <- 'BUY'
            df[i, 'co'] <-  'Sold'
        #   df[i, 'quan'] <- 
        #   df[i, 'pps'] <-
        #   df[i, 'basis'] <- 
            df[i, 'sale_quan'] <- sell_quan
        #   df[i, 'tally'] <- 
        #   df[i, 'cf_quan'] <- 
        #   df[i, 'cf_pps'] <-  
            df[i, 'sell_quan'] <- sell_quan  
            df[i, 'sell_pps'] <- sell_pps
            df[i, 'profit_loss'] <- profit_loss
        #   df[i, 'sale'] <- 
            df[i, 'true_false'] <-  "TRUE"            
            return (df)
        } else if (buy_quan < sell_quan ) {
            cat("This is almost a simple wash sale.  All this Buy is gone, and a portion 
                of the next Buy gets used ... if there is a next Buy. ", "\n")
         # top half (below) will remove the buy quan   
            
            df[i, 'type'] <- 'BUY'
            df[i, 'co'] <-  'Sold'
        #   df[i, 'quan'] <- 
        #   df[i, 'pps'] <-
        #   df[i, 'basis'] <- 
            df[i, 'sale_quan'] <- sell_quan
        #   df[i, 'tally'] <- 
           df[i, 'cf_quan'] <-   buy_quan - sell_quan
           df[i, 'cf_pps'] <-  buy_pps
           df[i, 'sell_quan'] <- sell_quan  
           df[i, 'sell_pps'] <- sell_pps
           df[i, 'profit_loss'] <- profit_loss
        #   df[i, 'sale'] <- 
            df[i, 'true_false'] <-  "TRUE"
        }
    
     #  The bottom half (below) will remove the extra Sell quan from the next Buy row
     #  When possible, deduct the remaining sale quan from the i+1 Buy row and be done
     #  When the i+1 row is a Buy,  Just allocate.   
        if(df[i+1, 'type'] == "Buy") {
                # do the allocation work here
            return(df)   # done deal
            
     # But if the next row (i+1) is NOT a Buy row, then find the Buy row
     # Use the find_next_buy function () to locate the next Buy row
     # Then ..... for tommorrow
            
        } else if (df[i+1, 'type'] != "Buy") {
          find_next_buysell(i)       #  # fct call and deal with it 
        return(df)  
        }
               #    return (df)
   } # end fct

In [12]:
# Will reverse the flip / flopper TRUE values 

clean_true_false <- function(df) {
    df <- df
    df[i, 'true_false'] <- FALSE 
    return(df)
}

In [13]:
# buy_sell_easy1(df)

In [14]:
# This fct functions as primary ATC when the next 2 rows ( i and i + 1 ) are Buy / Sell
#  Uses if conditional to determine whether the transaction will be easy or advanced

buy_sell_steer <- function(df) {

     if( df[i, 'quan'] <= df[i+1, 'quan'] ) {
        cat("\n", "In buy_sell_steer.  This is an easy sale.  Will fct call the buy_sell_easy1 function() ", "\n") 
        df <- buy_sell_easy1(df)
        return(df)
         
        } else if(df[i, 'quan'] > df[i+1, 'quan']) {
             cat("\n", "In buy_sell_steer.  This is an advanced sale - HAS C/F. Will fct call the buy_sell_advanced function () ", "\n") 
             df <- buy_sell_advanced(df)
             return(df)
         }
         
}

## <font color = yellow> Main

In [15]:
#  Move down the df from row to row 

df_test<- data.frame()
df_sales <- data.frame()

df <- create_df()



for(i in 1:nrow(df[1:2,])) {   # hold to 6 itertions
 
     cat("\n", "Loop row number is: ", i, "\n")
    
    # define variables / common use names
    index_row <- i
    buy_quan <- df[i, 'quan']
    sell_quan <- df[i+1, 'quan']           
    buy_index <- df[i, 'index']
    sell_index <- df[i+1, 'index']
    buy_pps <- df[i, 'pps']
    sell_pps <- df[i +1, 'pps'] 
    buy_basis <- sell_quan * buy_pps
    sell_basis <- buy_quan * sell_pps
    cf_quan <- sell_quan - buy_quan
    profit_loss <-df[i, 'sell_basis'] - df[i, 'buy_basis']
    #  profit <- df[i, 'sell_basis'] - df[i, 'buy_basis']
    
  # if(any(df$true_false == TRUE)) {
  #        df$true_false <- FALSE
  #    }

       
    # normal structure for processing - including the carryforward
    if(df[i, 'type'] == "Buy" && df[i+1, 'type'] == "Sell" && df[i+2, 'type'] == "Buy") {
        
        df <- buy_sell_steer(df)
        
        
   }else if(df[i, 'type'] == "Sell" && df[i+1, 'type'] == "Buy") {
        
        # fct calls 
        df <- flip(df)
        df <- buy_sell_steer(df)
        df <- clean_true_false(df)
        
        
        
        if(df[i, 'type'] == "Buy" && df[i+1, 'type'] == "Sell" && df[i+2, 'type'] == "Buy") {
            #This type of Buy/Sell/Buy works after the flip
            # fct call 
            df <- buy_sell_steer(df)
            }
    } else if (df[i, 'type'] == "Buy" && df[i+1, 'type'] != "Sell") {
            # Special cases and the end of the rows in df
            # fct call
    } else if(df[i, 'type'] == "Buy" && df[i+1, 'type'] == "buy" && df[i+2, 'type' == "Buy"]) {
       
        find_row <- 0

        # fct call
        found_row <- find_next_buysell(find_row)

    # Next, determine whoat to do with the found_row number 
    
    
    } # for
       
 }  # fct

 Loop row number is:  1

 In buy_sell_steer.  This is an advanced sale - HAS C/F. Will fct call the buy_sell_advanced function ()

		 Cat msg 1 from buy_sell_advanced function ().
		 Cat msg 2 from the buy_sell_advanced function(). This fct is for c/f events. The i value is:  1
		 Cat msg 3 from buy_sell_advanced (). Check for Buy/Sell/Buy.   Buy 	 Sell 	 Buy

 Loop row number is:  2

 Msg 1 from flip function().  Initial order of (i and i +1).  2 	 3
Msg 2 from flip function().  Changed order of (i and i +1).  2 	 3
Msg 3 from flip function().  The T/F was changed in this fct.
This msg A. Only prints when this row's switching var is true

 In buy_sell_steer.  This is an easy sale.  Will fct call the buy_sell_easy1 function()

 Welcome to the buy_sell_easy1 function().  Will tranact when Buy <= Sell

	 We got prior c/f to deal with in this Sell transaction!
 	 This will NOT be a simple wash sale.


 Msg 1 from flipper2 function().  Initial order of the rows: (i, i +1, & i +2, i+3, i+4) are:  2 Buy 	 3 Sell 	 4 Sell 	 5 Buy 	 6 Sell
Msg 2 from flipper function().  Changed order of (i+1 and i +2). is i, i+1, i+2, i + 3, i + 4 are:  2 Buy 	 3 Sell 	 4 Buy 	 5 Sell 	 6 Sell

	 Msg 3 from flipper function().  Returning to buy_sell_easy fct () for completion of the carryforward values.
		 Back and still in easy1. The rows s/b : Buy, Sell, Buy. more to come:  Buy 	 Sell 	 Buy
This works

 Bailing out for restart in easy1
Time to remove the c/f and the rest of the sale. The row number, i is:  2

 In buy_sell_steer.  This is an easy sale.  Will fct call the buy_sell_easy1 function()

 Welcome to the buy_sell_easy1 function().  Will tranact when Buy <= Sell

	 We got prior c/f to deal with in this Sell transaction!
 	 This will NOT be a simple wash sale.

		 Back and still in easy1. The rows s/b : Buy, Sell, Buy. more to come:  Buy 	 Sell 	 Buy
Cat: find_next_buysell fct ().  The value passed into this fct, find_now, is:  3
     which is i + 1. While the main loop number i remains:  2
		 This row following i, is:  3
		 This row following i, is:  4

In [16]:
dim(df)

[1] 41 21

In [17]:

df$true_false[2] != TRUE
head(df[ ,1:9])
head(df[ ,6:21])

[1] TRUE

  index date       type co   quan pps     basis   sale_quan tally
1 1     2022-12-31 Buy  Sold 1050 4.07000 4273.50 1000      0
2 3     2023-01-20 Buy  AMC  1000 5.62500 5625.00    0      0
3 2     2023-01-27 Sell AMC  1000 5.51240 5512.40    0      0
4 5     2023-01-23 Buy  AMC  1000 5.78800 5788.00    0      0
5 4     2023-02-03 Sell AMC  1000 6.68255 6682.55    0      0
7 6     2023-02-03 Sell AMC  1000 6.25500 6255.00    0      0

  pps     basis   sale_quan tally cf_quan cf_pps cf_basis buy_quan buy_pps
1 4.07000 4273.50 1000      0     50      4.07   203.5    1000     4.07
2 5.62500 5625.00    0      0      0      0.00     0.0       0     0.00
3 5.51240 5512.40    0      0      0      0.00     0.0       0     0.00
4 5.78800 5788.00    0      0      0      0.00     0.0       0     0.00
5 6.68255 6682.55    0      0      0      0.00     0.0       0     0.00
7 6.25500 6255.00    0      0      0      0.00     0.0       0     0.00
  buy_basis sell_quan sell_pps sell_basis profit_loss sale true_false
1 4070      1000      5.5124   5512.4     1442.4      1000 FALSE
2    0         0      0.0000      0.0        0.0         0 FALSE
3    0         0      0.0000      0.0        0.0         0 FALSE
4    0         0      0.0000      0.0        0.0         0 FALSE
5    0         0      0.0000      0.0        0.0         0 FALSE
7    0         0      0.0000      0.0        0.0         0 FALSE