In [1]:
create_df <- function() {
    df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
    # df$tally_q <- as.integer(df$tally_q)
    df$sale <- as.integer(df$sale)
   #  df$date <- as.Date(df$date, origin = "1899-12-30")
   #  df$true_false <- FALSE
  
    return(df)   # needed to return all the changes made to df
    }
# df <- create_df()  # fct call

In [2]:
# call fct and create the record keeping df
df <- create_df()
df_buy_rows <- data.frame()

In [3]:
buys <- df[df$type == 'Buy', ]  # Filter buys
sells <- df[df$type == 'Sell', ]  # Filter sells
head(buys, 3)
head(sells,3)

  index date  type co  quan pps   basis  sale_quan tally cf_quan cf_pps
1 1     44926 Buy  AMC 1050 4.070 4273.5 0         0     0       0
3 3     44946 Buy  AMC 1000 5.625 5625.0 0         0     0       0
5 5     44949 Buy  AMC 1000 5.788 5788.0 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
1 0        0        0       0         0         0        0          0
3 0        0        0       0         0         0        0          0
5 0        0        0       0         0         0        0          0
  sale
1 0
3 0
5 0

  index date  type co  quan pps     basis   sale_quan tally cf_quan cf_pps
2 2     44953 Sell AMC 1000 5.51240 5512.40 0         0     0       0
4 4     44960 Sell AMC 1000 6.68255 6682.55 0         0     0       0
6 6     44960 Sell AMC 1000 6.25500 6255.00 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
2 0        0        0       0         0         0        0          0
4 0        0        0       0         0         0        0          0
6 0        0        0       0         0         0        0          0
  sale
2 0
4 0
6 0

In [4]:
s <- data.frame()
b <- data.frame()

# create the Buy & Sell dfs
    row_s <- function(s) {
        s <- s
        s <- sells[1,]
        return(s)
    }

    row_b <- function(b) {
        b <- b
        b <- buys[1,]
        return(b)
    }

# call fcts
b <- row_b(b)   
s <- row_s(s)    

nrow(b)
nrow(s)

[1] 1

[1] 1

## <font color = yellow> These values get duplicated b/c not change of i (no loop yet)

In [5]:
    sale <- s$quan
    bs_ratio <- b$quan / s$quan
    cf_quan <- b$quan - s$quan

    b$cf_quan <- cf_quan
    b$cf_pps <- b$pps
    b$cf_basis <- cf_quan * b$pps
    
    b$buy_quan <- s$quan 
    b$buy_pps <-  b$pps
    b$buy_basis <-  b$buy_quan * b$pps

    b$sell_quan <- s$quan
    b$sell_pps <- s$pps
    b$sell_basis <- s$quan * s$pps

    b$profit_loss <- b$sell_basis - b$buy_basis
    b$sale <- sale
    
    s$type <- "SOLD"

In [6]:
i <- 1
nrow(buys)
# fct
buy_gone <- function (buys, b) {
    buys <- buys
    b <- b
    
    # copy the buy row record to new df
    df_buy_rows <<- rbind(df_buy_rows, b)
   
    
    # remove the first row of buys ... is b 
    buys <- buys[-1, ]
       # move the c/f info to the new first row of Buys
     buys[i, 'cf_quan'] <- b$cf_quan   
  
    
    return(buys)
    
    }
# fct call
buys <- buy_gone(buys, b)
nrow(buys)


nrow(sells)
# fct
sell_gone <- function(sells) {
    sells <- sells
    
    sells <- sells[-1, ]
    
    return(sells)
    }
# fct call
sells<-sell_gone(sells)

nrow(sells)

head(buys, 3)
head(sells, 3)

[1] 23

[1] 22

[1] 18

[1] 17

  index date  type co  quan pps    basis   sale_quan tally cf_quan cf_pps
3 3     44946 Buy  AMC 1000 5.6250  5625.0 0         0     50      0
5 5     44949 Buy  AMC 1000 5.7880  5788.0 0         0      0      0
7 7     44953 Buy  AMC 2000 5.2394 10478.8 0         0      0      0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
3 0        0        0       0         0         0        0          0
5 0        0        0       0         0         0        0          0
7 0        0        0       0         0         0        0          0
  sale
3 0
5 0
7 0

  index date  type co  quan pps     basis   sale_quan tally cf_quan cf_pps
4 4     44960 Sell AMC 1000 6.68255 6682.55 0         0     0       0
6 6     44960 Sell AMC 1000 6.25500 6255.00 0         0     0       0
8 8     44960 Sell AMC 1000 6.19010 6190.10 0         0     0       0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
4 0        0        0       0         0         0        0          0
6 0        0        0       0         0         0        0          0
8 0        0        0       0         0         0        0          0
  sale
4 0
6 0
8 0

In [7]:
# The main body

inc_rows <- function () {
    
    buys <- df[df$type == 'Buy', ]  # Filter buys
    sells <- df[df$type == 'Sell', ]  # Filter sells
    print(nrow(buys))
    print(nrow(sells))
 
    buys <- buy_gone(buys, b)
    sells<-sell_gone(sells)
    print(nrow(buys))
    print(nrow(sells))
   
    
    
    
    }

inc_rows()

[1] 23
[1] 18
[1] 22
[1] 17

In [8]:
head(buys,3)
head(df_buy_rows, 3)

  index date  type co  quan pps    basis   sale_quan tally cf_quan cf_pps
3 3     44946 Buy  AMC 1000 5.6250  5625.0 0         0     50      0
5 5     44949 Buy  AMC 1000 5.7880  5788.0 0         0      0      0
7 7     44953 Buy  AMC 2000 5.2394 10478.8 0         0      0      0
  cf_basis buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss
3 0        0        0       0         0         0        0          0
5 0        0        0       0         0         0        0          0
7 0        0        0       0         0         0        0          0
  sale
3 0
5 0
7 0

  index date  type co  quan pps  basis  sale_quan tally cf_quan cf_pps cf_basis
1 1     44926 Buy  AMC 1050 4.07 4273.5 0         0     50      4.07   203.5
2 1     44926 Buy  AMC 1050 4.07 4273.5 0         0     50      4.07   203.5
  buy_quan buy_pps buy_basis sell_quan sell_pps sell_basis profit_loss sale
1 1000     4.07    4070      1000      5.5124   5512.4     1442.4      1000
2 1000     4.07    4070      1000      5.5124   5512.4     1442.4      1000