In [30]:
create_df <- function() {
    df <- read.csv("fifo.csv", header = TRUE, sep = ",")
    #df$tally_q <- as.integer(df$tally_q)
    # df$sale <- as.integer(df$sale)
    # df$date <- as.Date(df$date, origin = "1899-12-30")

    df$cf_q <- as.integer(rep(0, nrow(df)))
    df$cf_b <- as.numeric(rep(0, nrow(df)))
    df$sell_q <- as.integer(rep(0, nrow(df)))
    df$sell_p <- as.numeric(rep(0, nrow(df)))
    return(df)   # needed to return all the changes made to df
    }
df <- create_df()  # fct call

In [31]:
head(df,3)
tail(df,3)

  index date  type  buy_ct sell_ct co  quan  pps    basis   tally_q tally_b
1 1     44926 Owned 1      0       AMC  1050 4.0700  4273.5 1050     4273.5
2 2     44953 Sell  1      1       AMC -1000 5.5124 -5512.4   50    -5512.4
3 3     44946 Buy   2      1       AMC  1000 5.6250  5625.0 1050     5625.0
  sale  cf_q cf_b sell_q sell_p
1     0 0    0    0      0
2 -1000 0    0    0      0
3     0 0    0    0      0

   index date  type buy_ct sell_ct co  quan  pps    basis   tally_q tally_b
39 39    45063 Buy  11     16      AMC  1000 5.0090  5009.0 2100     5009.0
40 40    45076 Sell 11     17      AMC -1000 4.5828 -4582.8 1100    -4582.8
41 41    45079 Sell 11     18      AMC -1100 4.5400 -4994.0    0    -4994.0
   sale  cf_q cf_b sell_q sell_p
39     0 0    0    0      0
40 -1000 0    0    0      0
41 -1100 0    0    0      0

In [2]:
# create seperate buy / sell dfs

buys <- df[df$quan > 0, ]  # Filter buys
sells <- df[df$quan < 0, ]  # Filter sells
df_pl <- data.frame()

In [3]:
# create vars
buy_qty <- buys[1, 'quan']
sell_qty <- abs(sells[1, 'quan'])

buy_basis <- buys[1, 'basis']
sell_basis <- abs(sells[1, 'basis'])


# sell_quan_remainder <- buy_qty - abs(sell_qty)

cat('sell_qty : ', sell_qty, "\n")
cat('buy_qty : ', buy_qty, "\n")
cat('buy_basis :', buy_basis, "\n")
cat('sell_basis :', sell_basis, "\n")
# cat('remainder :',sell_quan_remainder , "\n")

# zero out vars
sells[1, 'tally_q'] <- 0
sells[1, 'tally_b'] <- 0
sells[1, 'Sale'] <- 0

sell_qty :  1000
buy_qty :  1050
buy_basis : 4273.5
sell_basis : 5512.4

In [4]:
head(buys, 3)
head(sells, 3)

  index date  type  buy_ct sell_ct co  quan pps   basis  tally_q tally_b sale
1 1     44926 Owned 1      0       AMC 1050 4.070 4273.5 1050    4273.5  0
3 3     44946 Buy   2      1       AMC 1000 5.625 5625.0 1050    5625.0  0
5 5     44949 Buy   3      2       AMC 1000 5.788 5788.0 1050    5788.0  0
  cf_q cf_b sell_q sell_p
1 0    0    0      0
3 0    0    0      0
5 0    0    0      0

  index date  type buy_ct sell_ct co  quan  pps     basis    tally_q tally_b
2 2     44953 Sell 1      1       AMC -1000 5.51240 -5512.40  0          0.00
4 4     44960 Sell 2      2       AMC -1000 6.68255 -6682.55 50      -6682.55
6 6     44960 Sell 3      3       AMC -1000 6.25500 -6255.00 50      -6255.00
  sale  cf_q cf_b sell_q sell_p Sale
2 -1000 0    0    0      0       0
4 -1000 0    0    0      0      NA
6 -1000 0    0    0      0      NA


## <font color = yellow> Keeper for concept above

In [5]:
df_sales <- data.frame()

# add index column

df$index <- seq(1, nrow(df))

buys <- df[df$quan > 0, ]  # Filter buys
sells <- df[df$quan < 0, ]

### <font color= yellow> # Review for user prompt

In [6]:
# input_sell <- readline(prompt="Enter sale quantity: ")
# sell_quan <- as.numeric(input_sell)
# price <- readline(prompt="Enter sell price: ")
# sell_price <- as.numeric(price)

# str(sell_quan)
# str(sell_price)

In [7]:
for(i in 1:4) {

repeat {
      
        if(df[i, "type"] == "Sell"){             
            cat("Got a Sell!", "\n")
            cat("Row number ", i, " Selling ", abs(df$quan[i]), "quantity of shares. ", "\n")
            cat("Index number is: ", df[i, "index"], "\n")
            sell_quan <- df[i, 'quan']
            sell_price <- df[i, 'pps']
            # return(sell_quan)
            break
        }
        i <- i + 1
     }
}

Got a Sell!
Row number  2  Selling  1000 quantity of shares.
Index number is:  2
Got a Sell!
Row number  2  Selling  1000 quantity of shares.
Index number is:  2
Got a Sell!
Row number  4  Selling  1000 quantity of shares.
Index number is:  4
Got a Sell!
Row number  4  Selling  1000 quantity of shares.
Index number is:  4

In [8]:


nrow(sells)

     if(buys[1, 'quan'] > sell_quan) {       
         
     # create New Balance
         buys[1,'quan'] <- buys[1,'quan'] - sell_quan
         buys[1,'basis'] <- buys[1, 'quan'] * buys[1, "pps"]
         buys[1,'tally_q'] <- sell_quan
         buys[1,'sale'] <- buys[1,'sale'] + sell_quan * sell_price
         temp <- data.frame(buys[1, ])
         df_sales <- rbind(df_sales, temp)
         sells <- sells[-1, ]
    } else if (buys[1, 'quan']  < sell_quan) {       
         cf1 <- buys[1,'quan']
         cf2 <- buys[1, "basis"]
         buys <- buys[-1, ]
         buys[1,'quan'] <- buys[1,'quan'] + cf1
         buys[1,'basis'] <- buys[1, 'basis'] + cf2
         
         buys[1,'quan'] <- buys[1,'quan'] - sell_quan
         buys[1,'basis'] <- buys[1, 'quan'] * buys[1, "pps"]
         buys[1,'tally_q'] <- sell_quan
         buys[1,'sale'] <- buys[1,'sale'] + sell_quan * sell_price
         temp <- data.frame(buys[1, ])
         df_sales <- rbind(df_sales, temp)
         sells <- sells[-1, ]
         }
    


nrow(sells)
head(buys, 3)     
head(df_sales)

[1] 18

[1] 17

  index date  type  buy_ct sell_ct co  quan pps   basis  tally_q tally_b
1 1     44926 Owned 1      0       AMC 2050 4.070 8343.5 -1000   4273.5
3 3     44946 Buy   2      1       AMC 1000 5.625 5625.0  1050   5625.0
5 5     44949 Buy   3      2       AMC 1000 5.788 5788.0  1050   5788.0
  sale     cf_q cf_b sell_q sell_p
1 -6682.55 0    0    0      0
3     0.00 0    0    0      0
5     0.00 0    0    0      0

  index date  type  buy_ct sell_ct co  quan pps  basis  tally_q tally_b
1 1     44926 Owned 1      0       AMC 2050 4.07 8343.5 -1000   4273.5
  sale     cf_q cf_b sell_q sell_p
1 -6682.55 0    0    0      0

In [9]:
head(sells,3)

  index date  type buy_ct sell_ct co  quan  pps     basis    tally_q tally_b
4 4     44960 Sell 2      2       AMC -1000 6.68255 -6682.55   50    -6682.55
6 6     44960 Sell 3      3       AMC -1000 6.25500 -6255.00   50    -6255.00
8 8     44960 Sell 4      4       AMC -1000 6.19010 -6190.10 1050    -6190.10
  sale  cf_q cf_b sell_q sell_p
4 -1000 0    0    0      0
6 -1000 0    0    0      0
8 -1000 0    0    0      0

In [10]:


# input_sell <- readline(prompt="Enter sale quantity: ")
# sell_quan <- as.numeric(input_sell)
# price <- readline(prompt="Enter sell price: ")
# sell_price <- as.numeric(price)

# nrow(sells)




#      if(buys[1, 'quan'] > sell_quan) {       
         
#      # create New Balance
#          buys[1,'quan'] <- buys[1,'quan'] - sell_quan
#          buys[1,'basis'] <- buys[1, 'quan'] * buys[1,"pps"]
#          buys[1,'tally_q'] <- sell_quan
#          buys[1,'sale'] <- buys[1,'sale'] + sell_quan * sell_price
#          temp <- data.frame(buys[1, ])
#          df_sales <- rbind(df_sales, temp)
#          sells <- sells[-1, ]
#     } else if (buys[1, 'quan']  < sell_quan) {       
#          cf1 <- buys[1,'quan']
#          cf2 <- buys[1,"basis"]
#          buys <- buys[-1, ]
#          buys[1,'quan'] <- buys[1,'quan'] + cf1
#          buys[1,'basis'] <- buys[1, 'basis'] + cf2
         
#          buys[1,'quan'] <- buys[1,'quan'] - sell_quan
#          buys[1,'basis'] <- buys[1, 'quan'] * buys[1,"pps"]
#          buys[1,'tally_q'] <- sell_quan
#          buys[1,'sale'] <- buys[1,'sale'] + sell_quan * sell_price
#          temp <- data.frame(buys[1, ])
#          df_sales <- rbind(df_sales, temp)
#          sells <- sells[-1, ]
#          }
    
    

# nrow(sells)
# head(buys, 3)     
# head(df_sales)

In [11]:
df <- read.csv("fifo.csv", header = TRUE, sep = ",")
df$index <- seq(1:nrow(df))
df$cf_q <- as.integer(rep(0, nrow(df)))
df$cf_b <- as.numeric(rep(0, nrow(df)))
df$sell_q <- as.integer(rep(0, nrow(df)))
df$sell_p <- as.numeric(rep(0, nrow(df)))
df$index <- seq(1:nrow(df))



df[1, 'type'] <- "Buy"

df_sales <- data.frame()
buys <- df[df$quan > 0, ]  # Filter buys
sells <- df[df$quan < 0, ]

In [12]:
buy_ctr <- as.integer(1)
head(buys,3)
head(sells,3)

  index date  type buy_ct sell_ct co  quan pps   basis  tally_q tally_b sale
1 1     44926 Buy  1      0       AMC 1050 4.070 4273.5 1050    4273.5  0
3 3     44946 Buy  2      1       AMC 1000 5.625 5625.0 1050    5625.0  0
5 5     44949 Buy  3      2       AMC 1000 5.788 5788.0 1050    5788.0  0
  cf_q cf_b sell_q sell_p
1 0    0    0      0
3 0    0    0      0
5 0    0    0      0

  index date  type buy_ct sell_ct co  quan  pps     basis    tally_q tally_b
2 2     44953 Sell 1      1       AMC -1000 5.51240 -5512.40 50      -5512.40
4 4     44960 Sell 2      2       AMC -1000 6.68255 -6682.55 50      -6682.55
6 6     44960 Sell 3      3       AMC -1000 6.25500 -6255.00 50      -6255.00
  sale  cf_q cf_b sell_q sell_p
2 -1000 0    0    0      0
4 -1000 0    0    0      0
6 -1000 0    0    0      0

In [13]:
df[i,]

  index date  type buy_ct sell_ct co  quan  pps     basis    tally_q tally_b
4 4     44960 Sell 2      2       AMC -1000 6.68255 -6682.55 50      -6682.55
  sale  cf_q cf_b sell_q sell_p
4 -1000 0    0    0      0

## <font color = lime> Change: using search parameters

#### <font color = yellow> Open-ended (non-condition) search for a Sell

In [14]:
#  Open-ended, no hard code condtion.  Gets sell information for conditionals 

get_sell <- function (x) {

# change    for(i in x:nrow(sells)) {
        
    for(i in seq(from = x, to = nrow(df))) {
        
    cat("\n", "In got_sell fct - for loop.  The passed value to this fct is: ", x, "The i value is: ", i, "\n")
        
    ct <- 0
     # repeat {
        if(df[i, "type"] != "Sell") {
            cat("No Sell on line number: ", i, "\n")            
        }else if(df[i, "type"] == "Sell"){             
            cat("Got a Sell!", "\n")
            cat("The for-loop's i row testing number is: ", i, " Selling ", abs(df$quan[i]), "quantity of shares. ", "\n")
            cat("The Sell row index number is: ", df[i, "index"], "\n \n")
            sell_index <<- df[i, "index"]
            sell_quan <<- df[i, 'quan']
            #return()
            break
        }  # if
        i <- i + 1
   #  }   # repeat
  } # for
}  # fct

In [15]:
get_sell(31)

 In got_sell fct - for loop.  The passed value to this fct is:  31 The i value is:  31
No Sell on line number:  31

 In got_sell fct - for loop.  The passed value to this fct is:  31 The i value is:  32
No Sell on line number:  32

 In got_sell fct - for loop.  The passed value to this fct is:  31 The i value is:  33
No Sell on line number:  33

 In got_sell fct - for loop.  The passed value to this fct is:  31 The i value is:  34
No Sell on line number:  34

 In got_sell fct - for loop.  The passed value to this fct is:  31 The i value is:  35
Got a Sell!
The for-loop's i row testing number is:  35  Selling  2000 quantity of shares.
The Sell row index number is:  35

#### <font color = yellow> Hard code a condition for search (buy/sell next to each other)
    

## <font color = yellow> This works for first 5 sales

In [16]:
# hard coding the condition with the if stmt.  Req's a Sell_quan previous existence. 
# This is the engine that keeps things working until the sale involving 6000 

for(i in 1:12) {

    if(df[i, 'type'] == "Buy" && df[i+1, 'type'] == "Sell") {     
        cat("Works to derive sequential (buy/sell) rows. One (Buy) is: " , i, ", Two (Sell) is: ", i+1, "\n")    
        }
    
    get_sell(i)   # fct call, passing i

        #  This works great ! 
    
        if(sell_quan >= df[i, 'quan']) {
                        
            if(sell_quan == df[i, 'quan']) {            
                temp <- df[i,]
                df_sales <- rbind(df_sales, temp)
                sells <- sells[-i, ]
            } # if 2
        }  # if 1 
 }  # for

Works to derive sequential (buy/sell) rows. One (Buy) is:  1 , Two (Sell) is:  2

 In got_sell fct - for loop.  The passed value to this fct is:  1 The i value is:  1
No Sell on line number:  1

 In got_sell fct - for loop.  The passed value to this fct is:  1 The i value is:  2
Got a Sell!
The for-loop's i row testing number is:  2  Selling  1000 quantity of shares.
The Sell row index number is:  2


 In got_sell fct - for loop.  The passed value to this fct is:  2 The i value is:  2
Got a Sell!
The for-loop's i row testing number is:  2  Selling  1000 quantity of shares.
The Sell row index number is:  2

Works to derive sequential (buy/sell) rows. One (Buy) is:  3 , Two (Sell) is:  4

 In got_sell fct - for loop.  The passed value to this fct is:  3 The i value is:  3
No Sell on line number:  3

 In got_sell fct - for loop.  The passed value to this fct is:  3 The i value is:  4
Got a Sell!
The for-loop's i row testing number is:  4  Selling  1000 quantity of shares.
The Sell row index number is:  4


 In got_sell fct - for loop.  The passed value to this fct is:  4 The i value is:  4
Got a Sell!
The for-loop's i row testing number is:  4  Selling  1000 quantity of shares.
The Sell row index number is:  4

Works to derive sequential (buy/sell) rows. One (Buy) is:  5 , Two (Sell) is:  6

 In got_sell fct - for loop.  The passed value to this fct is:  5 The i value is:  5
No Sell on line number:  5

 In got_sell fct - for loop.  The passed value to this fct is:  5 The i value is:  6
Got a Sell!
The for-loop's i row testing number is:  6  Selling  1000 quantity of shares.
The Sell row index number is:  6


 In got_sell fct - for loop.  The passed value to this fct is:  6 The i value is:  6
Got a Sell!
The for-loop's i row testing number is:  6  Selling  1000 quantity of shares.
The Sell row index number is:  6

Works to derive sequential (buy/sell) rows. One (Buy) is:  7 , Two (Sell) is:  8

 In got_sell fct - for loop.  The passed value to this fct is:  7 The i value is:  7
No Sell on line number:  7

 In got_sell fct - for loop.  The passed value to this fct is:  7 The i value is:  8
Got a Sell!
The for-loop's i row testing number is:  8  Selling  1000 quantity of shares.
The Sell row index number is:  8


 In got_sell fct - for loop.  The passed value to this fct is:  8 The i value is:  8
Got a Sell!
The for-loop's i row testing number is:  8  Selling  1000 quantity of shares.
The Sell row index number is:  8

Works to derive sequential (buy/sell) rows. One (Buy) is:  9 , Two (Sell) is:  10

 In got_sell fct - for loop.  The passed value to this fct is:  9 The i value is:  9
No Sell on line number:  9

 In got_sell fct - for loop.  The passed value to this fct is:  9 The i value is:  10
Got a Sell!
The for-loop's i row testing number is:  10  Selling  3000 quantity of shares.
The Sell row index number is:  10


 In got_sell fct - for loop.  The passed value to this fct is:  10 The i value is:  10
Got a Sell!
The for-loop's i row testing number is:  10  Selling  3000 quantity of shares.
The Sell row index number is:  10


 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  11
No Sell on line number:  11

 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  12
No Sell on line number:  12

 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  13
No Sell on line number:  13

 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  14
No Sell on line number:  14

 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  15
No Sell on line number:  15

 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  16
Got a Sell!
The for-loop's i row testing number is:  16  Selling  6000 quantity of shares.
The Sell row index number is:  16


 In got_sell fct - for loop.  The passed value to this fct is:  12 The i value is:  12
No Sell on line number:  12

 In got_sell fct - for loop.  The passed value to this fct is:  12 The i value is:  13
No Sell on line number:  13

 In got_sell fct - for loop.  The passed value to this fct is:  12 The i value is:  14
No Sell on line number:  14

 In got_sell fct - for loop.  The passed value to this fct is:  12 The i value is:  15
No Sell on line number:  15

 In got_sell fct - for loop.  The passed value to this fct is:  12 The i value is:  16
Got a Sell!
The for-loop's i row testing number is:  16  Selling  6000 quantity of shares.
The Sell row index number is:  16

In [33]:
# create_df()
head(df, 4)

  index date  type  buy_ct sell_ct co  quan  pps     basis    tally_q tally_b
1 1     44926 Owned 1      0       AMC  1050 4.07000  4273.50 1050     4273.50
2 2     44953 Sell  1      1       AMC -1000 5.51240 -5512.40   50    -5512.40
3 3     44946 Buy   2      1       AMC  1000 5.62500  5625.00 1050     5625.00
4 4     44960 Sell  2      2       AMC -1000 6.68255 -6682.55   50    -6682.55
  sale  cf_q cf_b sell_q sell_p
1     0 0    0    0      0
2 -1000 0    0    0      0
3     0 0    0    0      0
4 -1000 0    0    0      0

In [ ]:
#  Open-ended, no hard code condtion.  Gets sell information for conditionals 

#  ( m/b a prob with the "part sold" name) 


get_sellx <- function (x) {

# change    for(i in x:nrow(sells)) {
        
    for(i in seq(from = x, to = nrow(df))) {
        
    cat("\n", "In got_sellx fct;  for-loop.  The passed value to this fct is: ", x, "The i value is: ", i, "\n")
        
    ct <- 0
        
        
        
# For one sell / one buy occurrances     
for(i in x:nrow(df)) {
    
    df[which(df$buy_ct == i & df$type == "Buy"), ]  # the order of buys
    
    if(df[i,"type"] == "Buy") {
    cat("Row number ", i, " Bought ", df$quan[i], " number of shares. ", "\n")
    }
}

        
        
        
        
        
     # repeat {
        if(df[i, "type"] != "Sell") {
            cat("No Sell on line number: ", i, "\n")            
        }else if(df[i, "type"] == "Sell"){             
            cat("Got a Sell!", "\n")
            cat("The for-loop's i row testing number is: ", i, " Selling ", abs(df$quan[i]), "quantity of shares. ", "\n")
            cat("The Sell row index number is: ", df[i, "index"], "\n \n")
            sell_index <<- df[i, "index"]
            sell_quan <<- df[i, 'quan']
            #return()
            break
        }  # if
        i <- i + 1
   #  }   # repeat
  } # for
}  # fct

In [17]:
length(buys)
length(sells)

[1] 16

[1] 16

In [18]:


# input_sell <- readline(prompt="Enter sale quantity: ")
# sell_quan <- as.numeric(input_sell)
# price <- readline(prompt="Enter sell price: ")
# sell_price <- as.numeric(price)

sell_index <- as.integer()
sell_quan <- as.integer()



cat("sell_index is: ", sell_index, "\n")
cat("sell_quan is: ", sell_quan, "\n")

ct <- sell_index


for(i in 1:nrow(df)) {
    
    # fct call.  As i increments, the fct should act on those larger i values.  ( m/b a prob with the "part sold" name)
    get_sellx(i)
    
    buy_index <- i      # Note: this fct call does NOT do anything other than ( provide information) - nothing is returned
    
    
    cat("top of for loop, i ia: ", i, "\n") 
    
    cat("buys and sells indexes' are : ", buy_index, " and ", sell_index, "\n")

# change buy_index == 0 to i
   
    if(sell_index - buy_index == i && abs(df[i+1, 'quan']) == df[i, 'quan']) {
       cat("This will be a simple wash sale with no c/f", "\n")
       # one possibility of eliminating these rows is to zero the quans and set a flag
        df[i, 'sell_q' ] <- sell_quan
        df[i, 'sell_p'] <- df[i+1, 'pps'] * sell_quan
        df[i +1, 'type'] <- "Sold"
        df[i +1, 'index'] <- i
        sell_quan <- 0
        sell_index <- 0
        cat("Clean sale. No C/F from sales condition type 1 ", "\n")
        return()       
        
    }
    
    else if(sell_index - buy_index == 1 && df[i, 'quan'] < 0) {
        cat("This will be a simple wash sale with no c/f", "\n")
        }
         
    else if(sell_index - buy_index ==1 && df[i, 'quan']  < df[i+1, 'quan'] ) {
        
        cat("This buy row gets entirely sold with additional sold from the next buy line(s) ", "\n")
         
        # cat("top of if # 1 ", "\n") 
        ct <- ct + buy_ctr   
         
         # one possibility of eliminating these rows is to zero the quans and set a flag
        df[i, 'sell_q' ] <- df[i, 'quan']
        df[i, 'sell_p'] <- df[i+1, 'pps'] * sell_quan
        df[i +1, 'type'] <- "Sold"
        df[i, 'type'] <- "Sold"
        df[i +1, 'index'] <- i
        df[i, 'index'] <- i
        sell_quan <- 0
        sell_index <- 0
        cat("clean, no C/F from sales condition type 2 ", "\n")
        return()       
        
                
    
         
        # when the buys row i has quanity < sell quan, need carry values forward to next row,
         # And mo
       } else if(sell_index - buy_index ==1 && df[i, 'quan']  > df[i+1, 'quan'] ) {
        
        cat("top of else if # 3 ", "\n") 
        
        
        # create allocation and c/f amounts
                
        df[i, 'cf_q'] <-     df[i, 'quan'] - abs(df[i+1, 'quan'])                                            
        df[i + 1, 'quan'] <- df[i, 'quan'] - abs(df[i+1, 'quan'])  # adj sell quan after removing partial sell
                                             
        df[i, 'cf_b'] <-    df[i, 'cf_q']  * df[i, 'pps']        
        df[i, 'sell_q' ] <- df[i, 'quan'] - df[i, 'cf_q']
        
        df[i, 'sell_p'] <- df[i+1, 'pps'] * (df[i, 'quan'] - abs(df[i+1, 'quan']) )
        df[i , 'type'] <- "Sold"
        df[i+1, 'type'] <- "Part Sold"
        
        df[i +1, 'index'] <- i
        df[i, 'index'] <- i
        sell_quan <- 0
        sell_index <- 0
        cat("Partial sale. Has C/F from sales condition type 3 ", "\n")
        # return()
        
        return       
        
         ct <- ct + i
        
         buys[i,'sale'] <- buys[i,'sale'] + sell_quan * sell_price
         temp <- data.frame(buys[i, ])
         df_sales <- rbind(df_sales, temp)
         sells <- sells[-i, ]
         }
    
   # print(buys[i,])

    }
    
    


head(df, 10)
head(df_sales)

sell_index is:
sell_quan is:

 In got_sell fct - for loop.  The passed value to this fct is:  1 The i value is:  1
No Sell on line number:  1

 In got_sell fct - for loop.  The passed value to this fct is:  1 The i value is:  2
Got a Sell!
The for-loop's i row testing number is:  2  Selling  1000 quantity of shares.
The Sell row index number is:  2

top of for loop, i ia:  1
buys and sells indexes' are :  1  and  2
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  2 The i value is:  2
No Sell on line number:  2

 In got_sell fct - for loop.  The passed value to this fct is:  2 The i value is:  3
No Sell on line number:  3

 In got_sell fct - for loop.  The passed value to this fct is:  2 The i value is:  4
Got a Sell!
The for-loop's i row testing number is:  4  Selling  1000 quantity of shares.
The Sell row index number is:  4

top of for loop, i ia:  2
buys and sells indexes' are :  2  and  4

 In got_sell fct - for loop.  The passed value to this fct is:  3 The i value is:  3
No Sell on line number:  3

 In got_sell fct - for loop.  The passed value to this fct is:  3 The i value is:  4
Got a Sell!
The for-loop's i row testing number is:  4  Selling  1000 quantity of shares.
The Sell row index number is:  4

top of for loop, i ia:  3
buys and sells indexes' are :  3  and  4
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  4 The i value is:  4
No Sell on line number:  4

 In got_sell fct - for loop.  The passed value to this fct is:  4 The i value is:  5
No Sell on line number:  5

 In got_sell fct - for loop.  The passed value to this fct is:  4 The i value is:  6
Got a Sell!
The for-loop's i row testing number is:  6  Selling  1000 quantity of shares.
The Sell row index number is:  6

top of for loop, i ia:  4
buys and sells indexes' are :  4  and  6

 In got_sell fct - for loop.  The passed value to this fct is:  5 The i value is:  5
No Sell on line number:  5

 In got_sell fct - for loop.  The passed value to this fct is:  5 The i value is:  6
Got a Sell!
The for-loop's i row testing number is:  6  Selling  1000 quantity of shares.
The Sell row index number is:  6

top of for loop, i ia:  5
buys and sells indexes' are :  5  and  6
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  6 The i value is:  6
No Sell on line number:  6

 In got_sell fct - for loop.  The passed value to this fct is:  6 The i value is:  7
No Sell on line number:  7

 In got_sell fct - for loop.  The passed value to this fct is:  6 The i value is:  8
Got a Sell!
The for-loop's i row testing number is:  8  Selling  1000 quantity of shares.
The Sell row index number is:  8

top of for loop, i ia:  6
buys and sells indexes' are :  6  and  8

 In got_sell fct - for loop.  The passed value to this fct is:  7 The i value is:  7
No Sell on line number:  7

 In got_sell fct - for loop.  The passed value to this fct is:  7 The i value is:  8
Got a Sell!
The for-loop's i row testing number is:  8  Selling  1000 quantity of shares.
The Sell row index number is:  8

top of for loop, i ia:  7
buys and sells indexes' are :  7  and  8
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  8 The i value is:  8
No Sell on line number:  8

 In got_sell fct - for loop.  The passed value to this fct is:  8 The i value is:  9
No Sell on line number:  9

 In got_sell fct - for loop.  The passed value to this fct is:  8 The i value is:  10
Got a Sell!
The for-loop's i row testing number is:  10  Selling  3000 quantity of shares.
The Sell row index number is:  10

top of for loop, i ia:  8
buys and sells indexes' are :  8  and  10

 In got_sell fct - for loop.  The passed value to this fct is:  9 The i value is:  9
No Sell on line number:  9

 In got_sell fct - for loop.  The passed value to this fct is:  9 The i value is:  10
Got a Sell!
The for-loop's i row testing number is:  10  Selling  3000 quantity of shares.
The Sell row index number is:  10

top of for loop, i ia:  9
buys and sells indexes' are :  9  and  10
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  10 The i value is:  10
No Sell on line number:  10

 In got_sell fct - for loop.  The passed value to this fct is:  10 The i value is:  11
No Sell on line number:  11

 In got_sell fct - for loop.  The passed value to this fct is:  10 The i value is:  12
No Sell on line number:  12

 In got_sell fct - for loop.  The passed value to this fct is:  10 The i value is:  13
No Sell on line number:  13

 In got_sell fct - for loop.  The passed value to this fct is:  10 The i value is:  14
No Sell on line number:  14

 In got_sell fct - for loop.  The passed value to this fct is:  10 The i value is:  15
No Sell on line number:  15

 In got_sell fct - for loop.  The passed value to this fct is:  10 The i value is:  16
Got a Sell!
The for-loop's i row testing number is:  16  Selling  6000 quantity of shares.
The Sell row index number is:  16

top of for loop, i ia:  10
buys and sells indexes' are :  10  and  16

 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  11
No Sell on line number:  11

 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  12
No Sell on line number:  12

 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  13
No Sell on line number:  13

 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  14
No Sell on line number:  14

 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  15
No Sell on line number:  15

 In got_sell fct - for loop.  The passed value to this fct is:  11 The i value is:  16
Got a Sell!
The for-loop's i row testing number is:  16  Selling  6000 quantity of shares.
The Sell row index number is:  16

top of for loop, i ia:  11
buys and sells indexes' are :  11  and  16

 In got_sell fct - for loop.  The passed value to this fct is:  12 The i value is:  12
No Sell on line number:  12

 In got_sell fct - for loop.  The passed value to this fct is:  12 The i value is:  13
No Sell on line number:  13

 In got_sell fct - for loop.  The passed value to this fct is:  12 The i value is:  14
No Sell on line number:  14

 In got_sell fct - for loop.  The passed value to this fct is:  12 The i value is:  15
No Sell on line number:  15

 In got_sell fct - for loop.  The passed value to this fct is:  12 The i value is:  16
Got a Sell!
The for-loop's i row testing number is:  16  Selling  6000 quantity of shares.
The Sell row index number is:  16

top of for loop, i ia:  12
buys and sells indexes' are :  12  and  16

 In got_sell fct - for loop.  The passed value to this fct is:  13 The i value is:  13
No Sell on line number:  13

 In got_sell fct - for loop.  The passed value to this fct is:  13 The i value is:  14
No Sell on line number:  14

 In got_sell fct - for loop.  The passed value to this fct is:  13 The i value is:  15
No Sell on line number:  15

 In got_sell fct - for loop.  The passed value to this fct is:  13 The i value is:  16
Got a Sell!
The for-loop's i row testing number is:  16  Selling  6000 quantity of shares.
The Sell row index number is:  16

top of for loop, i ia:  13
buys and sells indexes' are :  13  and  16

 In got_sell fct - for loop.  The passed value to this fct is:  14 The i value is:  14
No Sell on line number:  14

 In got_sell fct - for loop.  The passed value to this fct is:  14 The i value is:  15
No Sell on line number:  15

 In got_sell fct - for loop.  The passed value to this fct is:  14 The i value is:  16
Got a Sell!
The for-loop's i row testing number is:  16  Selling  6000 quantity of shares.
The Sell row index number is:  16

top of for loop, i ia:  14
buys and sells indexes' are :  14  and  16

 In got_sell fct - for loop.  The passed value to this fct is:  15 The i value is:  15
No Sell on line number:  15

 In got_sell fct - for loop.  The passed value to this fct is:  15 The i value is:  16
Got a Sell!
The for-loop's i row testing number is:  16  Selling  6000 quantity of shares.
The Sell row index number is:  16

top of for loop, i ia:  15
buys and sells indexes' are :  15  and  16
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  16 The i value is:  16
No Sell on line number:  16

 In got_sell fct - for loop.  The passed value to this fct is:  16 The i value is:  17
No Sell on line number:  17

 In got_sell fct - for loop.  The passed value to this fct is:  16 The i value is:  18
Got a Sell!
The for-loop's i row testing number is:  18  Selling  3000 quantity of shares.
The Sell row index number is:  18

top of for loop, i ia:  16
buys and sells indexes' are :  16  and  18

 In got_sell fct - for loop.  The passed value to this fct is:  17 The i value is:  17
No Sell on line number:  17

 In got_sell fct - for loop.  The passed value to this fct is:  17 The i value is:  18
Got a Sell!
The for-loop's i row testing number is:  18  Selling  3000 quantity of shares.
The Sell row index number is:  18

top of for loop, i ia:  17
buys and sells indexes' are :  17  and  18
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  18 The i value is:  18
No Sell on line number:  18

 In got_sell fct - for loop.  The passed value to this fct is:  18 The i value is:  19
Got a Sell!
The for-loop's i row testing number is:  19  Selling  1850 quantity of shares.
The Sell row index number is:  19

top of for loop, i ia:  18
buys and sells indexes' are :  18  and  19
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  19 The i value is:  19
No Sell on line number:  19

 In got_sell fct - for loop.  The passed value to this fct is:  19 The i value is:  20
Got a Sell!
The for-loop's i row testing number is:  20  Selling  1000 quantity of shares.
The Sell row index number is:  20

top of for loop, i ia:  19
buys and sells indexes' are :  19  and  20
This will be a simple wash sale with no c/f

 In got_sell fct - for loop.  The passed value to this fct is:  20 The i value is:  20
Got a Sell!
The for-loop's i row testing number is:  20  Selling  1000 quantity of shares.
The Sell row index number is:  20

top of for loop, i ia:  20
buys and sells indexes' are :  20  and  20

 In got_sell fct - for loop.  The passed value to this fct is:  21 The i value is:  21
No Sell on line number:  21

 In got_sell fct - for loop.  The passed value to this fct is:  21 The i value is:  22
No Sell on line number:  22

 In got_sell fct - for loop.  The passed value to this fct is:  21 The i value is:  23
Got a Sell!
The for-loop's i row testing number is:  23  Selling  3000 quantity of shares.
The Sell row index number is:  23

top of for loop, i ia:  21
buys and sells indexes' are :  21  and  23

 In got_sell fct - for loop.  The passed value to this fct is:  22 The i value is:  22
No Sell on line number:  22

 In got_sell fct - for loop.  The passed value to this fct is:  22 The i value is:  23
Got a Sell!
The for-loop's i row testing number is:  23  Selling  3000 quantity of shares.
The Sell row index number is:  23

top of for loop, i ia:  22
buys and sells indexes' are :  22  and  23
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  23 The i value is:  23
No Sell on line number:  23

 In got_sell fct - for loop.  The passed value to this fct is:  23 The i value is:  24
No Sell on line number:  24

 In got_sell fct - for loop.  The passed value to this fct is:  23 The i value is:  25
No Sell on line number:  25

 In got_sell fct - for loop.  The passed value to this fct is:  23 The i value is:  26
Got a Sell!
The for-loop's i row testing number is:  26  Selling  500 quantity of shares.
The Sell row index number is:  26

top of for loop, i ia:  23
buys and sells indexes' are :  23  and  26

 In got_sell fct - for loop.  The passed value to this fct is:  24 The i value is:  24
No Sell on line number:  24

 In got_sell fct - for loop.  The passed value to this fct is:  24 The i value is:  25
No Sell on line number:  25

 In got_sell fct - for loop.  The passed value to this fct is:  24 The i value is:  26
Got a Sell!
The for-loop's i row testing number is:  26  Selling  500 quantity of shares.
The Sell row index number is:  26

top of for loop, i ia:  24
buys and sells indexes' are :  24  and  26

 In got_sell fct - for loop.  The passed value to this fct is:  25 The i value is:  25
No Sell on line number:  25

 In got_sell fct - for loop.  The passed value to this fct is:  25 The i value is:  26
Got a Sell!
The for-loop's i row testing number is:  26  Selling  500 quantity of shares.
The Sell row index number is:  26

top of for loop, i ia:  25
buys and sells indexes' are :  25  and  26
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  26 The i value is:  26
No Sell on line number:  26

 In got_sell fct - for loop.  The passed value to this fct is:  26 The i value is:  27
Got a Sell!
The for-loop's i row testing number is:  27  Selling  3000 quantity of shares.
The Sell row index number is:  27

top of for loop, i ia:  26
buys and sells indexes' are :  26  and  27
This will be a simple wash sale with no c/f

 In got_sell fct - for loop.  The passed value to this fct is:  27 The i value is:  27
Got a Sell!
The for-loop's i row testing number is:  27  Selling  3000 quantity of shares.
The Sell row index number is:  27

top of for loop, i ia:  27
buys and sells indexes' are :  27  and  27

 In got_sell fct - for loop.  The passed value to this fct is:  28 The i value is:  28
Got a Sell!
The for-loop's i row testing number is:  28  Selling  2000 quantity of shares.
The Sell row index number is:  28

top of for loop, i ia:  28
buys and sells indexes' are :  28  and  28

 In got_sell fct - for loop.  The passed value to this fct is:  29 The i value is:  29
Got a Sell!
The for-loop's i row testing number is:  29  Selling  500 quantity of shares.
The Sell row index number is:  29

top of for loop, i ia:  29
buys and sells indexes' are :  29  and  29

 In got_sell fct - for loop.  The passed value to this fct is:  30 The i value is:  30
No Sell on line number:  30

 In got_sell fct - for loop.  The passed value to this fct is:  30 The i value is:  31
No Sell on line number:  31

 In got_sell fct - for loop.  The passed value to this fct is:  30 The i value is:  32
No Sell on line number:  32

 In got_sell fct - for loop.  The passed value to this fct is:  30 The i value is:  33
No Sell on line number:  33

 In got_sell fct - for loop.  The passed value to this fct is:  30 The i value is:  34
No Sell on line number:  34

 In got_sell fct - for loop.  The passed value to this fct is:  30 The i value is:  35
Got a Sell!
The for-loop's i row testing number is:  35  Selling  2000 quantity of shares.
The Sell row index number is:  35

top of for loop, i ia:  30
buys and sells indexes' are :  30  and  35

 In got_sell fct - for loop.  The passed value to this fct is:  31 The i value is:  31
No Sell on line number:  31

 In got_sell fct - for loop.  The passed value to this fct is:  31 The i value is:  32
No Sell on line number:  32

 In got_sell fct - for loop.  The passed value to this fct is:  31 The i value is:  33
No Sell on line number:  33

 In got_sell fct - for loop.  The passed value to this fct is:  31 The i value is:  34
No Sell on line number:  34

 In got_sell fct - for loop.  The passed value to this fct is:  31 The i value is:  35
Got a Sell!
The for-loop's i row testing number is:  35  Selling  2000 quantity of shares.
The Sell row index number is:  35

top of for loop, i ia:  31
buys and sells indexes' are :  31  and  35

 In got_sell fct - for loop.  The passed value to this fct is:  32 The i value is:  32
No Sell on line number:  32

 In got_sell fct - for loop.  The passed value to this fct is:  32 The i value is:  33
No Sell on line number:  33

 In got_sell fct - for loop.  The passed value to this fct is:  32 The i value is:  34
No Sell on line number:  34

 In got_sell fct - for loop.  The passed value to this fct is:  32 The i value is:  35
Got a Sell!
The for-loop's i row testing number is:  35  Selling  2000 quantity of shares.
The Sell row index number is:  35

top of for loop, i ia:  32
buys and sells indexes' are :  32  and  35

 In got_sell fct - for loop.  The passed value to this fct is:  33 The i value is:  33
No Sell on line number:  33

 In got_sell fct - for loop.  The passed value to this fct is:  33 The i value is:  34
No Sell on line number:  34

 In got_sell fct - for loop.  The passed value to this fct is:  33 The i value is:  35
Got a Sell!
The for-loop's i row testing number is:  35  Selling  2000 quantity of shares.
The Sell row index number is:  35

top of for loop, i ia:  33
buys and sells indexes' are :  33  and  35

 In got_sell fct - for loop.  The passed value to this fct is:  34 The i value is:  34
No Sell on line number:  34

 In got_sell fct - for loop.  The passed value to this fct is:  34 The i value is:  35
Got a Sell!
The for-loop's i row testing number is:  35  Selling  2000 quantity of shares.
The Sell row index number is:  35

top of for loop, i ia:  34
buys and sells indexes' are :  34  and  35
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  35 The i value is:  35
No Sell on line number:  35

 In got_sell fct - for loop.  The passed value to this fct is:  35 The i value is:  36
Got a Sell!
The for-loop's i row testing number is:  36  Selling  5000 quantity of shares.
The Sell row index number is:  36

top of for loop, i ia:  35
buys and sells indexes' are :  35  and  36
top of else if # 3
Partial sale. Has C/F from sales condition type 3

 In got_sell fct - for loop.  The passed value to this fct is:  36 The i value is:  36
No Sell on line number:  36

 In got_sell fct - for loop.  The passed value to this fct is:  36 The i value is:  37
No Sell on line number:  37

 In got_sell fct - for loop.  The passed value to this fct is:  36 The i value is:  38
No Sell on line number:  38

 In got_sell fct - for loop.  The passed value to this fct is:  36 The i value is:  39
No Sell on line number:  39

 In got_sell fct - for loop.  The passed value to this fct is:  36 The i value is:  40
Got a Sell!
The for-loop's i row testing number is:  40  Selling  1000 quantity of shares.
The Sell row index number is:  40

top of for loop, i ia:  36
buys and sells indexes' are :  36  and  40

 In got_sell fct - for loop.  The passed value to this fct is:  37 The i value is:  37
No Sell on line number:  37

 In got_sell fct - for loop.  The passed value to this fct is:  37 The i value is:  38
No Sell on line number:  38

 In got_sell fct - for loop.  The passed value to this fct is:  37 The i value is:  39
No Sell on line number:  39

 In got_sell fct - for loop.  The passed value to this fct is:  37 The i value is:  40
Got a Sell!
The for-loop's i row testing number is:  40  Selling  1000 quantity of shares.
The Sell row index number is:  40

top of for loop, i ia:  37
buys and sells indexes' are :  37  and  40

 In got_sell fct - for loop.  The passed value to this fct is:  38 The i value is:  38
No Sell on line number:  38

 In got_sell fct - for loop.  The passed value to this fct is:  38 The i value is:  39
No Sell on line number:  39


   index date  type      buy_ct sell_ct co  quan  pps     basis     tally_q
1  1     44926 Sold      1      0       AMC  1050 4.07000   4273.50 1050
2  1     44953 Part Sold 1      1       AMC    50 5.51240  -5512.40   50
3  3     44946 Sold      2      1       AMC  1000 5.62500   5625.00 1050
4  3     44960 Part Sold 2      2       AMC     0 6.68255  -6682.55   50
5  5     44949 Sold      3      2       AMC  1000 5.78800   5788.00 1050
6  5     44960 Part Sold 3      3       AMC     0 6.25500  -6255.00   50
7  7     44953 Sold      4      3       AMC  2000 5.23940  10478.80 2050
8  7     44960 Part Sold 4      4       AMC  1000 6.19010  -6190.10 1050
9  9     44967 Sold      5      4       AMC  2000 4.74500   9490.00 3050
10 9     44978 Part Sold 5      5       AMC -1000 5.85500 -17565.00   50
   tally_b   sale  cf_q  cf_b    sell_q sell_p
1    4273.50     0    50   203.5 1000   5512.40
2   -5512.40 -1000     0     0.0    0      0.00
3    5625.00     0     0     0.0 1000   6682.55
4   -6682.55 -1000     0     0.0    0      0.00
5    5788.00     0     0     0.0 1000   6255.00
6   -6255.00 -1000     0     0.0    0      0.00
7   10478.80     0  1000  5239.4 1000   6190.10
8   -6190.10 -1000     0     0.0    0      0.00
9    9490.00     0 -1000 -4745.0 3000   5855.00
10 -17565.00 -3000     0     0.0    0      0.00

   index date  type buy_ct sell_ct co  quan  pps     basis     tally_q
2   2    44953 Sell 1      1       AMC -1000 5.51240  -5512.40   50
4   4    44960 Sell 2      2       AMC -1000 6.68255  -6682.55   50
6   6    44960 Sell 3      3       AMC -1000 6.25500  -6255.00   50
8   8    44960 Sell 4      4       AMC -1000 6.19010  -6190.10 1050
10 10    44978 Sell 5      5       AMC -3000 5.85500 -17565.00   50
1   1    44926 Buy  1      0       AMC  1050 4.07000   4273.50 1050
   tally_b   sale  cf_q cf_b sell_q sell_p
2   -5512.40 -1000 0    0    0      0
4   -6682.55 -1000 0    0    0      0
6   -6255.00 -1000 0    0    0      0
8   -6190.10 -1000 0    0    0      0
10 -17565.00 -3000 0    0    0      0
1    4273.50     0 0    0    0      0

In [19]:
nrow(df)

[1] 41

In [20]:
df_sales

     index date  type buy_ct sell_ct co  quan  pps     basis     tally_q
2     2    44953 Sell  1      1      AMC -1000 5.51240  -5512.40   50
4     4    44960 Sell  2      2      AMC -1000 6.68255  -6682.55   50
6     6    44960 Sell  3      3      AMC -1000 6.25500  -6255.00   50
8     8    44960 Sell  4      4      AMC -1000 6.19010  -6190.10 1050
10   10    44978 Sell  5      5      AMC -3000 5.85500 -17565.00   50
1     1    44926 Buy   1      0      AMC  1050 4.07000   4273.50 1050
5     5    44949 Buy   3      2      AMC  1000 5.78800   5788.00 1050
9     9    44967 Buy   5      4      AMC  2000 4.74500   9490.00 3050
12   12    44970 Buy   6      5      AMC  3000 4.72960  14188.80 4050
14   14    44970 Buy   6      5      AMC   300 4.71670   1415.01 5850
25   25    44992 Buy   9     10      AMC   100 6.14500    614.50 6000
31   31    45001 Buy  10     14      AMC  2000 4.30740   8614.80 3000
32   32    45002 Buy  10     14      AMC  1000 4.29000   4290.00 4000
38   38    45043 Buy  11     16      AMC   700 5.44500   3811.50 1100
25.1 NA       NA NA   NA     NA      NA     NA      NA        NA   NA
34.1 NA       NA NA   NA     NA      NA     NA      NA        NA   NA
35   NA       NA NA   NA     NA      NA     NA      NA        NA   NA
39.1 NA       NA NA   NA     NA      NA     NA      NA        NA   NA
40   NA       NA NA   NA     NA      NA     NA      NA        NA   NA
     tally_b   sale  cf_q cf_b sell_q sell_p
2     -5512.40 -1000  0    0    0      0
4     -6682.55 -1000  0    0    0      0
6     -6255.00 -1000  0    0    0      0
8     -6190.10 -1000  0    0    0      0
10   -17565.00 -3000  0    0    0      0
1      4273.50     0  0    0    0      0
5      5788.00     0  0    0    0      0
9      9490.00     0  0    0    0      0
12    14188.80     0  0    0    0      0
14     1415.01     0  0    0    0      0
25      614.50     0  0    0    0      0
31     8614.80     0  0    0    0      0
32     4290.00     0  0    0    0      0
38     3811.50     0  0    0    0      0
25.1        NA    NA NA   NA   NA     NA
34.1        NA    NA NA   NA   NA     NA
35          NA    NA NA   NA   NA     NA
39.1        NA    NA NA   NA   NA     NA
40          NA    NA NA   NA   NA     NA

In [21]:
sells

   index date  type buy_ct sell_ct co  quan  pps    basis    tally_q tally_b
6   6    44960 Sell  3      3      AMC -1000 6.2550  -6255.0   50     -6255.0
8   8    44960 Sell  4      4      AMC -1000 6.1901  -6190.1 1050     -6190.1
18 18    44984 Sell  7      7      AMC -3000 7.8160 -23448.0 2850    -23448.0
20 20    44984 Sell  7      9      AMC -1000 7.8160  -7816.0    0     -7816.0
27 27    44993 Sell  9     12      AMC -3000 5.9450 -17835.0 2500    -17835.0
28 28    44993 Sell  9     13      AMC -2000 5.7550 -11510.0  500    -11510.0
36 36    45036 Sell 10     16      AMC -5000 4.9450 -24725.0    0    -24725.0
40 40    45076 Sell 11     17      AMC -1000 4.5828  -4582.8 1100     -4582.8
   sale  cf_q cf_b sell_q sell_p
6  -1000 0    0    0      0
8  -1000 0    0    0      0
18 -3000 0    0    0      0
20 -1000 0    0    0      0
27 -3000 0    0    0      0
28 -2000 0    0    0      0
36 -5000 0    0    0      0
40 -1000 0    0    0      0

In [22]:
df

   index date  type      buy_ct sell_ct co  quan  pps     basis     tally_q
1   1    44926 Sold       1      0      AMC  1050 4.07000   4273.50 1050
2   1    44953 Part Sold  1      1      AMC    50 5.51240  -5512.40   50
3   3    44946 Sold       2      1      AMC  1000 5.62500   5625.00 1050
4   3    44960 Part Sold  2      2      AMC     0 6.68255  -6682.55   50
5   5    44949 Sold       3      2      AMC  1000 5.78800   5788.00 1050
6   5    44960 Part Sold  3      3      AMC     0 6.25500  -6255.00   50
7   7    44953 Sold       4      3      AMC  2000 5.23940  10478.80 2050
8   7    44960 Part Sold  4      4      AMC  1000 6.19010  -6190.10 1050
9   9    44967 Sold       5      4      AMC  2000 4.74500   9490.00 3050
10  9    44978 Part Sold  5      5      AMC -1000 5.85500 -17565.00   50
11 11    44967 Buy        6      5      AMC  1000 4.78000   4780.00 1050
12 12    44970 Buy        6      5      AMC  3000 4.72960  14188.80 4050
13 13    44970 Buy        6      5      AMC  1500 4.71830   7077.45 5550
14 14    44970 Buy        6      5      AMC   300 4.71670   1415.01 5850
15 15    44970 Sold       6      5      AMC  2000 4.71000   9420.00 7850
16 15    44979 Part Sold  6      6      AMC -4000 6.61500 -39690.00 1850
17 17    44972 Sold       7      6      AMC  4000 4.78010  19120.40 5850
18 18    44984 Sold       7      7      AMC  1000 7.81600 -23448.00 2850
19 18    44984 Part Sold  7      8      AMC  -850 7.58500 -14032.25 1000
20 20    44984 Sell       7      9      AMC -1000 7.81600  -7816.00    0
21 21    44988 Buy        8      9      AMC  5000 6.58910  32945.50 5000
22 22    44988 Sold       8      9      AMC  1000 6.48500   6485.00 6000
23 22    44988 Part Sold  8     10      AMC -2000 6.55130 -19653.90 3000
24 24    44992 Buy        9     10      AMC  2900 6.14910  17832.39 5900
25 25    44992 Sold       9     10      AMC   100 6.14500    614.50 6000
26 25    44993 Part Sold  9     11      AMC  -400 5.84500  -2922.50 5500
27 27    44993 Sell       9     12      AMC -3000 5.94500 -17835.00 2500
28 28    44993 Sell       9     13      AMC -2000 5.75500 -11510.00  500
29 29    44993 Sell       9     14      AMC  -500 5.72000  -2860.00    0
30 30    45001 Buy       10     14      AMC  1000 4.29500   4295.00 1000
31 31    45001 Buy       10     14      AMC  2000 4.30740   8614.80 3000
32 32    45002 Buy       10     14      AMC  1000 4.29000   4290.00 4000
33 33    45002 Buy       10     14      AMC  1000 4.22500   4225.00 5000
34 34    45006 Sold      10     14      AMC  2000 4.42000   8840.00 7000
35 35    45022 Sold      10     15      AMC     0 4.91500  -9830.00 5000
36 35    45036 Part Sold 10     16      AMC -5000 4.94500 -24725.00    0
37 37    45037 Buy       11     16      AMC   400 5.01000   2004.00  400
38 38    45043 Buy       11     16      AMC   700 5.44500   3811.50 1100
39 39    45063 Sold      11     16      AMC  1000 5.00900   5009.00 2100
40 40    45076 Sold      11     17      AMC     0 4.58280  -4582.80 1100
41 40    45079 Part Sold 11     18      AMC -1100 4.54000  -4994.00    0
   tally_b   sale  cf_q  cf_b      sell_q sell_p
1    4273.50     0    50    203.50 1000     5512.40
2   -5512.40 -1000     0      0.00    0        0.00
3    5625.00     0     0      0.00 1000     6682.55
4   -6682.55 -1000     0      0.00    0        0.00
5    5788.00     0     0      0.00 1000     6255.00
6   -6255.00 -1000     0      0.00    0        0.00
7   10478.80     0  1000   5239.40 1000     6190.10
8   -6190.10 -1000     0      0.00    0        0.00
9    9490.00     0 -1000  -4745.00 3000     5855.00
10 -17565.00 -3000     0      0.00    0        0.00
11   4780.00     0     0      0.00    0        0.00
12  14188.80     0     0      0.00    0        0.00
13   7077.45     0     0      0.00    0        0.00
14   1415.01     0     0      0.00    0        0.00
15   9420.00     0 -4000 -18840.00 6000   -13230.00
16 -39690.00 -6000     0      0.00    0        0.00
17  19120.40     0  1000   4780.10 3000    23448.00
18 -23448.00 -3000  -850  -6643.60 1850     1137.75
19 -14032.25 -1850     0      0.00    0        0.00
20  -7816.00 -1000     0      0.00    0        0.00
21  32945.50     0     0      0.00    0        0.00
22   6485.00     0 -2000 -12970.00 3000    -6551.30
23 -19653.90 -3000     0      0.00    0        0.00
24  17832.39     0     0      0.00    0        0.00
25    614.50     0  -400  -2458.00  500    -1753.50
26  -2922.50  -500     0      0.00    0        0.00
27 -17835.00 -3000     0      0.00    0        0.00
28 -11510.00 -2000     0      0.00    0        0.00
29  -2860.00  -500     0      0.00    0        0.00
30   4295.00     0     0      0.00    0        0.00
31   8614.80     0     0      0.00    0        0.00
32   4290.00     0     0      0.00    0        0.00
33   4225.00     0     0      0.00    0        0.00
34   8840.00     0     0      0.00 2000     9830.00
35  -9830.00 -2000 -5000 -24575.00 5000   -24725.00
36 -24725.00 -5000     0      0.00    0        0.00
37   2004.00     0     0      0.00    0        0.00
38   3811.50     0     0      0.00    0        0.00
39   5009.00     0     0      0.00 1000     4582.80
40  -4582.80 -1000 -1100  -5041.08 1100    -4994.00
41  -4994.00 -1100     0      0.00    0        0.00

In [25]:
write.csv(df, "output1.csv", row.names = FALSE)
          
        #   write.csv(x, file = tf, row.names = FALSE)

In [ ]:
stopper

## <font color = yellow> Working code blocks below:

In [27]:
for(i in 1:4) {
    df[which(df[i, "sell_ct"] == i & df[i, "type"] == "Sell"), ]
    
    cat("Row number ", i, "type is :", df[i, "type"], " The Sell qty: ", df$quan[i], " number of shares. ", "\n")
    
    }

Row number  1 type is : Sold  The Sell qty:  1050  number of shares.
Row number  2 type is : Part Sold  The Sell qty:  50  number of shares.
Row number  3 type is : Sold  The Sell qty:  1000  number of shares.
Row number  4 type is : Part Sold  The Sell qty:  0  number of shares.

In [ ]:
# df[which(df$B == value_to_find), ]

# df[which(df$A == value_to_find_A & df$B == value_to_find_B), ]


for(i in 1:4) {
    df[which(df$sell_ct == i & df$type == "Sell"), ]
    
    if(df[i,"type"] == "Sell") {
    cat("Row number ", i, " Selling ", df$quan[i], " number of shares. ", "\n")
    }
}

In [ ]:
ct <- 0 

for(i in 1:4) {

    repeat {
      
        if(df[i, "type"] == "Sell"){             
            cat("Got a Sell!", "\n")
            cat("Row number ", i, " Selling ", abs(df$quan[i]), "quantity of shares. ", "\n")
            cat("Index number is: ", df[i, "index"], "\n")
            break
        }
        i <- i + 1
     }
}

In [ ]:
x <- 1
df_pl <- data.frame()
pl <- function(x) {
    
    sells[x, 'tally_b'] <<- buys[x, 'basis']
    
    sells[x, 'Sale'] <<- abs(sells[x, 'basis']) - sells[x, 'tally_b']
    temp <- data.frame(sells[x,])
    df_pl <<- rbind(df_pl, temp)
    
    }
 pl(x)
 head(df_pl, 3)
# head(sells, 3)

#### <font color = yellow> Passing a value to fct, but the for loop determines increment or decrement the df
    
        decrement loop by 1
        for(i in seq(from = x, to = 1)) {
          # Your code here
         }
    
        increment the loop by 1 
        for(i in seq(from = x, to = nrow(df))) {
            # Your code here
        }

In [ ]:
# Gets sell information for conditionals 

get_sell <- function (x) {

    for(i in x:nrow(sells)) {
        
    cat("\n", "In got_sell fct - for loop.  The passed value to this fct is: ", x, "The i value is: ", i, "\n")
        
    ct <- 0
     # repeat {
        if(df[i, "type"] != "Sell") {
            cat("No Sell on line number: ", i, "\n")            
        }else if(df[i, "type"] == "Sell"){             
            cat("Got a Sell!", "\n")
            cat("The for-loop's i row testing number is: ", i, " Selling ", abs(df$quan[i]), "quantity of shares. ", "\n")
            cat("The Sell row index number is: ", df[i, "index"], "\n \n")
            sell_index <<- df[i, "index"]
            sell_quan <<- df[i, 'quan']
            #return()
            break
        }  # if
        i <- i + 1
   #  }   # repeat
  } # for
}  # fct
get_sell(31)   # this decrements because the nrows(Sells) is less than 31