In [1]:
df <- read.csv("BuySell.csv", header = TRUE, sep = ",")
df$quan <- as.integer(df$quan)
df$tally_q <- as.integer(df$tally_q)
df$date <- as.Date(df$date, origin = "1899-12-30")

head(df,3)

  date       type  co  quan pps   basis  tally_q tally_b Sale
1 2022-12-31 Owned AMC 1050 4.070 4273.5 1050    4273.5  0
2 2023-01-20 Buy   AMC 1000 5.625 5625.0 2050    5625.0  0
3 2023-01-23 Buy   AMC 1000 5.788 5788.0 3050    5788.0  0

In [2]:
# create seperate buy / sell dfs

buys <- df[df$quan > 0, ]  # Filter buys
sells <- df[df$quan < 0, ]  # Filter sells
df_pl <- data.frame()

In [3]:
# create vars
buy_qty <- buys[1, 'quan']
sell_qty <- abs(sells[1, 'quan'])

buy_basis <- buys[1, 'basis']
sell_basis <- abs(sells[1, 'basis'])


# sell_quan_remainder <- buy_qty - abs(sell_qty)

cat('sell_qty : ', sell_qty, "\n")
cat('buy_qty : ', buy_qty, "\n")
cat('buy_basis :', buy_basis, "\n")
cat('sell_basis :', sell_basis, "\n")
# cat('remainder :',sell_quan_remainder , "\n")

# zero out vars
sells[1, 'tally_q'] <- 0
sells[1, 'tally_b'] <- 0
sells[1, 'Sale'] <- 0

sell_qty :  1000
buy_qty :  1050
buy_basis : 4273.5
sell_basis : 5512.4

In [4]:
#

In [5]:
# sell_quan_remainder <- buy_qty - abs(sell_qty)

nrow(buys)

[1] 23

In [6]:

buys <<- df[df$quan > 0, ]  # Filter buys
sells <<- df[df$quan < 0, ]  # Filter sells
head(sells, 3)

  date       type co  quan  pps    basis    tally_q tally_b  Sale
5 2023-01-27 Sell AMC -1000 5.5124 -5512.40 4050    -5512.40 -1000
6 2023-02-03 Sell AMC -1000 6.6826 -6682.55 3050    -6682.55 -1000
7 2023-02-03 Sell AMC -1000 6.2550 -6255.00 2050    -6255.00 -1000

In [7]:
x <- 1
pl <- function(x) {
    
    sells[x, 'tally_b'] <<- buys[x, 'basis']
    
    sells[x, 'Sale'] <<- abs(sells[x, 'basis']) - sells[x, 'tally_b']
    temp <- data.frame(sells[x,])
    df_pl <<- rbind(df_pl, temp)
    
    }
pl(x)

In [8]:
df_pl
head(sells, 3)

  date       type co  quan  pps    basis   tally_q tally_b Sale
5 2023-01-27 Sell AMC -1000 5.5124 -5512.4 4050    4273.5  1238.9

  date       type co  quan  pps    basis    tally_q tally_b  Sale
5 2023-01-27 Sell AMC -1000 5.5124 -5512.40 4050     4273.50  1238.9
6 2023-02-03 Sell AMC -1000 6.6826 -6682.55 3050    -6682.55 -1000.0
7 2023-02-03 Sell AMC -1000 6.2550 -6255.00 2050    -6255.00 -1000.0

In [15]:
df <- read.csv("BuySell.csv", header = TRUE, sep = ",")
df$quan <- as.integer(df$quan)
df$tally_q <- as.integer(df$tally_q)


buys <- df[df$quan > 0, ]  # Filter buys
sells <- df[df$quan < 0, ]  # Filter sells
nrow(buys)

buy_qty <- buys[1, 'quan']
sell_qty <- abs(sells[1, 'quan'])

  
#while (buy_qty - sell_qty > 0 && nrow(buys) > 0) {   
#    print("Inside while ... ")
    for (i in 1:nrow(sells)) { 
              
        buy_qty <- buys[i, 'quan']
        sell_qty <- abs(sells[i, 'quan'])
        buy_basis <- buys[i, 'basis']
        sell_basis <- abs(sells[i, 'basis'])
                
        
        
# -----------------------------------------------------------------------------------------
        
        
        
        if( buy_qty - abs(sell_qty) > 0 ) {   # this means the entire sell_qty gets used up 
            
            sell_quan_remainder <- buy_qty - abs(sell_qty) 
            
    cat("inside if ... ", "\n")
            # Reduce the Buy qty  values
            buys[1, 'quan'] <- sell_quan_remainder
            buys[1, 'tally_q'] <- buys[1, 'tally_q'] - sell_qty
            
            
    cat("buys[1, quan] is ", buys[1, 'quan'], "\n")
    cat("buys[1, tally_q] is ", buys[1, 'tally_q'], "\n")
            
         
            # new var for updated basis
            basis_mod <- sell_quan_remainder * buys[i, 'pps']
  cat("inside for loop, i equals: ", i, "\n")
            
            buys[i, 'basis'] <- basis_mod
            # update buys & sells dfs
            # buys[1, 'basis'] <- update_buys_basis
            # buys[1, 'tally_b'] <- update_buys_basis  
           buys[i, 'tally_b'] <- buys[i, 'quan'] * buys[i, 'pps']
            
           # fct call 
           pl(i)
            
            if(sell_quan_remainder > 0) {
        
                updated_sell_qty <- buys[i, 'quan']    #  50 / new sell row
                
cat("inside if / if... ", "\n")

                sell_qty <- abs(sells[i+1, 'quan'])
                buy_qty <- buys[i, 'quan']  
                # update the sells row i + 1 for this continued action
                sell_quan_remainder <- buy_qty - abs(sell_qty)
                sells[i+1, 'quan'] <- sell_quan_remainder
                
cat("inside if/if sell_qual_reminder value is: ", sell_quan_remainder, "\n")  
cat("inside if/if, buy_qty and sell_qty are: ", buy_qty, ", ", sell_qty, "\n")              
                # update buys row i and zap row when quan = o
                if(buy_qty < sell_qty) {
                    
                     buys[i+1, 'quan'] <- buys[i+1, 'quan'] + buy_qty
cat("inside if / if / if loop. buys[i+1, 'quan'] is: ", buys[i+1, 'quan'], "\n")
                     buys <- buys[-1, ]
                     sell_quan_remainder <- 0
                    } else {
                    cat("Meandered into the else (sub if # 3 )", "\n")
                }
                return()
            } # if
    
        } # if

    
}  # for
nrow(buys)

[1] 23

inside if ...
buys[1, quan] is  50
buys[1, tally_q] is  50
inside for loop, i equals:  1
inside if / if...
inside if/if sell_qual_reminder value is:  -950
inside if/if, buy_qty and sell_qty are:  50 ,  1000
inside if / if / if loop. buys[i+1, 'quan'] is:  1050

[1] 22

In [14]:
head(buys, 3)
nrow(buys)

  date  type co  quan pps    basis   tally_q tally_b Sale
2 44946 Buy  AMC 1050 5.6250  5625.0 2050     5625.0 0
3 44949 Buy  AMC 1000 5.7880  5788.0 3050     5788.0 0
4 44953 Buy  AMC 2000 5.2394 10478.8 5050    10478.8 0

[1] 22

In [ ]:
head(sells, 3)

In [ ]:
nrow(buys)
cat('sell_qty : ', sell_qty, "\n")
cat('buy_qty : ', buy_qty, "\n")
cat('buy_basis :', buy_basis, "\n")
cat('sell_basis :', sell_basis, "\n")
cat('sell_quan_remainder :',sell_quan_remainder , "\n")

In [ ]:
head(buys, 3)
head(sells, 3)

In [ ]:
stopper

In [ ]:
fifo <- function(buy_qty, sell_qty, buy_basis, sell_basis) {
    cat(buy_qty, sell_qty, buy_basis, sell_basis, "\n")
    
    }