In [1]:
library(tibble)

In [2]:
create_df <- function() {
    df <- read.csv("fifo_new.csv", header = TRUE, sep = ",")
    df$sale <- as.integer(df$sale)
    df$date <- as.Date(df$date, origin = "1899-12-30")
    df$true_false <- FALSE
  
    return(df)   # needed to return all the changes made to df
    }
# df <- create_df()  # fct call

In [3]:
# to be called when needing to review the current value of variables assigned main when: ( for loop = i )

check_var_values <- function() {
    
     cat("\n", "Welcome to the check_var_values function(), these values change in main by for-loop(i)  ", "\n")
     
    # Check the values of the primary variables defined and being passed from main
       
     df <- df
    
    cat("\n", "Value of i is: ",  i,"\n\n") 
    cat("Value of index_row (i) is: ",  index_row,"\n") 
    cat("In the flip fct.  Checking exising values: buy_quan, sell_quan : ",buy_quan , "\t", sell_quan, "\n")    
    cat("In the flip fct.  Checking exising values: buy_index, sell_index : ", buy_index, "\t", sell_index, "\n")   
    cat("In the flip fct.  Checking exising values: buy_pps, sell_pps: ", buy_pps, "\t", sell_pps, "\n")    
    cat("In the flip fct.  Checking exising values: cost_basis, sell_proceeds: ", cost_basis, "\t", sell_proceeds, "\n") 
    cat("In the flip fct.  Checking exising values: profit / loss : ", profit_loss,"\n\n") 
    # cat("\n\t", "In the flip fct.  Checking exising values:             : ",     , "\t",         , "\n") 
  
 
    }

In [4]:
# When there is is a Buy / Buy / Buy
# 
# First, should determine c/f, and the add the c/f amount to the next Buy row 

# 


find_next_buysell <- function(find_row) {

    
# find the next Buy row.  
    cat("Cat: From find_next_buysell function ().  The i passed into this fct is the main loop number - ", i, "\n")
    
    next_buy_row < - find_row

    for (j in i: nrow(df)) {
        next_buy_row < - j
        cat("This row is: ", j, "\n")
        if (df[j, "type"] == "Buy") {
           cat("Row i is: ", j, " This row is a Buy row. ", "\n")
           next_buy_row <- j
           break
           }
        return(next_buy_row)   
        }

    cat("The next row following row, ", i, " which is a Buy row is row number ", next_buy_row, "\n")
   
    }  # fct

In [5]:
# This fct called from the main
# When the next two rows in df are: Sell / Buy, this fct flip those rows to Buy / Sell
# then sends the modified df back to buy_sell_steer.


flip <- function(df) {
    
    df <- df 
    switch <- 1
    
    cat("\n", "Msg 1 from flip function().  Initial order of (i and i +1). ", i, "\t", i+1, "\n")
    
  
    # temp_row_sell <- df[i, ]
    temp_row_buy <- df[i+1, ]
    
    df <- add_row(df, temp_row_buy, .before = i)  # paste buy before sell
    df <- df[-(i+2), ]     # remove the origial buy 
    
    if(switch > 0) {
        df$true_false[i] <- TRUE
        }
    
    cat("Msg 2 from flip function().  Changed order of (i and i +1). ", i, "\t", i+1, "\n")
    cat("Msg 3 from flip function().  The T/F was changed in this fct. ", "\n") 
        
    if(df[i, 'true_false']) {
        cat("This msg A. Only prints when this row's switching var is true ", "\n")
        } else  {
        cat("This msg B. Only prints when this row's swithing var is false ", "\n")
        }
            
   
     
   # Return the modified df to the main 
                 
    return(df)
    }

In [6]:
# call from buy-sell-steer, t/f the rows s/b in buy/sell/buy arangement

buy_sell_advanced <- function(df) { 
    

    cat("\n\t\t", "Cat msg 1 from buy_sell_advanced function (). ", "\n")
    
    cat("\t\t", "Cat msg 2 from the buy_sell_advanced function(). This fct is for c/f events. The i value is: ", i , "\n")
    
    cat("\t\t", "Cat msg 3 from buy_sell_advanced (). Check for Buy/Sell/Buy.  ", df[i, 'type'], "\t", df[i+1, 'type'], "\t", df[i+2, 'type'], "\n")
    
    return(df)
    
    
    
    
    }

In [7]:
# When Buy row is <= Sell row (may c/f of sell )

buy_sell_easy1 <- function(df) {
    df <- df
    
    cat("\n", "Welcome to the buy_sell_easy1 function().  Will tranact when Buy < = Sell ", "\n")
    
    
    
    
    
    return(df)
    }

In [8]:
# This fct functions as primary ATC when the next 2 rows ( i and i + 1 ) are Buy / Sell
#  Uses if conditional to determine whether the transaction will be easy or advanced

buy_sell_steer <- function(df) {

     if( df[i, 'quan'] <= df[i+1, 'quan'] ) {
        cat("\n", "In buy_sell_steer.  This is an easy sale.  Will fct call the buy_sell_easy1 function() ", "\n") 
        df <- buy_sell_easy1(df)
        return(df)
         
        } else if(df[i, 'quan'] > df[i+1, 'quan']) {
             cat("\n", "In buy_sell_steer.  This is an advanced sale - HAS C/F. Will fct call the buy_sell_advanced function () ", "\n") 
             df <- buy_sell_advanced(df)
             return(df)
         }
         
}

## <font color = yellow> Main

In [9]:
#  Move down the df from row to row 

df_test<- data.frame()
df_sales <- data.frame()

df <- create_df()



for(i in 1:nrow(df[1:5,])) {   # hold to 6 itertions
 
     cat("\n", "Loop row number is: ", i, "\n")
    
    # define variables / common use names
    index_row <- i
    buy_quan <- df[i, 'quan']
    sell_quan <- df[i+1, 'quan']           
    buy_index <- df[i, 'index']
    sell_index <- df[i+1, 'index']
    buy_pps <- df[i, 'pps']
    sell_pps <- df[i +1, 'pps']        
    cost_basis <- buy_pps * sell_quan
    sell_proceeds <- sell_pps * sell_quan        
    profit_loss <- sell_proceeds - cost_basis

    
    # normal structure for processing - including the carryforward
    if(df[i, 'type'] == "Buy" && df[i+1, 'type'] == "Sell" && df[i+2, 'type'] == "Buy") {
        
        df <- buy_sell_steer(df)
        
        
   }else if(df[i, 'type'] == "Sell" && df[i+1, 'type'] == "Buy") {
        # fct call 
        df <- flip(df)
        
        if(df[i, 'type'] == "Buy" && df[i+1, 'type'] == "Sell" && df[i+2, 'type'] == "Buy") {
            #This type of Buy/Sell/Buy works after the flip
            # fct call 
            df <- buy_sell_steer(df)
            }
    } else if (df[i, 'type'] == "Buy" && df[i+1, 'type'] != "Sell") {
            # Special cases and the end of the rows in df
            # fct call
    } else if(df[i, 'type'] == "Buy" && df[i+1, 'type'] == "buy" && df[i+2, 'type' == "Buy"]) {
       
    find_row <- 0
     
    # fct call
    found_row <- find_next_buysell(find_row)
        
    # Next, determine whoat to do with the found_row number 
    
    
    } # for
       
 }  # fct

 Loop row number is:  1

 In buy_sell_steer.  This is an advanced sale - HAS C/F. Will fct call the buy_sell_advanced function ()

		 Cat msg 1 from buy_sell_advanced function ().
		 Cat msg 2 from the buy_sell_advanced function(). This fct is for c/f events. The i value is:  1
		 Cat msg 3 from buy_sell_advanced (). Check for Buy/Sell/Buy.   Buy 	 Sell 	 Buy

 Loop row number is:  2

 Msg 1 from flip function().  Initial order of (i and i +1).  2 	 3
Msg 2 from flip function().  Changed order of (i and i +1).  2 	 3
Msg 3 from flip function().  The T/F was changed in this fct.
This msg A. Only prints when this row's switching var is true

 Loop row number is:  3

 Loop row number is:  4

 Msg 1 from flip function().  Initial order of (i and i +1).  4 	 5
Msg 2 from flip function().  Changed order of (i and i +1).  4 	 5
Msg 3 from flip function().  The T/F was changed in this fct.
This msg A. Only prints when this row's switching var is true

 Loop row number is:  5

In [11]:

df$true_false[2] != TRUE
head(df, 10)

[1] FALSE

   index date       type co  quan pps     basis    sale_quan tally cf_quan
1   1    2022-12-31 Buy  AMC 1050 4.07000  4273.50 0         0     0
2   3    2023-01-20 Buy  AMC 1000 5.62500  5625.00 0         0     0
3   2    2023-01-27 Sell AMC 1000 5.51240  5512.40 0         0     0
4   5    2023-01-23 Buy  AMC 1000 5.78800  5788.00 0         0     0
5   4    2023-02-03 Sell AMC 1000 6.68255  6682.55 0         0     0
7   6    2023-02-03 Sell AMC 1000 6.25500  6255.00 0         0     0
8   7    2023-01-27 Buy  AMC 2000 5.23940 10478.80 0         0     0
9   8    2023-02-03 Sell AMC 1000 6.19010  6190.10 0         0     0
10  9    2023-02-10 Buy  AMC 2000 4.74500  9490.00 0         0     0
11 10    2023-02-21 Sell AMC 3000 5.85500 17565.00 0         0     0
   cf_pps sell_quan sell_pps profit_loss sale true_false
1  0      0         0        0           0    FALSE
2  0      0         0        0           0     TRUE
3  0      0         0        0           0    FALSE
4  0      0         0        0           0     TRUE
5  0      0         0        0           0    FALSE
7  0      0         0        0           0    FALSE
8  0      0         0        0           0    FALSE
9  0      0         0        0           0    FALSE
10 0      0         0        0           0    FALSE
11 0      0         0        0           0    FALSE