In [1]:
df <- read.csv("fifo.csv", header = TRUE, sep = ",")
#df$tally_q <- as.integer(df$tally_q)
# df$sale <- as.integer(df$sale)
# df$date <- as.Date(df$date, origin = "1899-12-30")

df$cf_q <- as.integer(rep(0, nrow(df)))
df$cf_b <- as.numeric(rep(0, nrow(df)))
df$sell_q <- as.integer(rep(0, nrow(df)))
df$sell_p <- as.numeric(rep(0, nrow(df)))
df$index <- seq(1:nrow(df))


head(df,3)
tail(df,3)

  date       type buy_ct sell_ct co  quan  pps  basis   tally_q tally_b sale
1 12/31/2022 Buy  1      0       AMC  1050 4.07  4273.5 1050     4273.5     0
2 1/27/2023  Sell 1      1       AMC -1000 5.51 -5512.4   50    -5512.4 -1000
3 1/20/2023  Buy  2      1       AMC  1000 5.63  5625.0 1050     5625.0     0
  cf_q cf_b sell_q sell_p index
1 0    0    0      0      1
2 0    0    0      0      2
3 0    0    0      0      3

   date      type buy_ct sell_ct co  quan  pps  basis   tally_q tally_b sale
39 5/17/2023 Buy  23     16      AMC  1000 5.01  5009.0 2100     5009.0     0
40 5/30/2023 Sell 23     17      AMC -1000 4.58 -4582.8 1100    -4582.8 -1000
41 45079.00  Sell 23     18      AMC -1100 4.54 -4994.0    0    -4994.0 -1100
   cf_q cf_b sell_q sell_p index
39 0    0    0      0      39
40 0    0    0      0      40
41 0    0    0      0      41

In [2]:
# Gets sell information for conditionals 

get_sell <- function (ct) {

     i <- ct
     cat("The i value is ", i,  "\n")
 
    test <- as.character("Sell")

     
    # repeat {
        
        
        if(df[i, 'type'] == test)  {             
            cat("Got a Sell!", "\n")
            cat("Row number ", i, " Selling ", abs(df$quan[i]), "quantity of shares. ", "\n")
            cat("Index number is: ", df[i, "index"], "\n")
            sell_index <<- df[i, "index"]
            sell_quan <<- df[i, 'quan']
            ct <- ct + 1
            return()
        }  # if
        i <- i + 1
    #    }   # repeat
  
}  # fct

# i <- 1
# get_sell(2)

In [3]:

sell_index <- as.integer()
sell_quan <- as.integer()

limit <- 5

for(i in 1:limit) {    # for testing

cat("printing the value of i at top of for loop ", i, "\n")
ct <- i
    
 back_value <- get_sell(ct)
    
cat("printing back_value: the returned value from the fct call: ", back_value, "\n")

    
    buy_index <- get_sell(i)   
    ct <- sell_index
    
    cat("sell_index is: ", sell_index, "\n")
    cat("sell_quan is: ", sell_quan, "\n")
    
    
    
    cat("top of for loop, i ia: ", i, "\n") 
    
    cat("buys and sells indexes' are : ", buy_index, " and ", sell_index, "\n")
    
    
    
    # repeat {
      
        if(df[i, "type"] == "Sell"){             
            cat("Got a Sell!", "\n")
            cat("Row number ", i, " Selling ", abs(df$quan[i]), "quantity of shares. ", "\n")
            cat("Index number is: ", df[i, "index"], "\n")
      #      return()
        }
     # }
    
    
    
    
    
    

    if(sell_index - buy_index == 1 && abs(df[i+1, 'quan']) == df[i, 'quan']) {
       cat("This will be a simple wash sale with no c/f", "\n")
       # one possibility of eliminating these rows is to zero the quans and set a flag
        df[i, 'sell_q' ] <- sell_quan
        df[i, 'sell_p'] <- df[i+1, 'pps'] * sell_quan
        df[i +1, 'type'] <- "Sold"
        df[i +1, 'index'] <- i
        sell_quan <- 0
        sell_index <- 0
        cat("Clean sale. No C/F from sales condition type 1 ", "\n")
        return()       
        
    }
    
    else if(sell_index - buy_index == 1 && df[i, 'quan'] < 0) {
        cat("This will be a simple wash sale with no c/f", "\n")
        }
         
    else if(sell_index - buy_index ==1 && df[i, 'quan']  < df[i+1, 'quan'] ) {
        
        cat("This buy row gets entirely sold with additional sold from the next buy line(s) ", "\n")
         
        # cat("top of if # 1 ", "\n") 
        ct <- ct + buy_ctr   
         
         # one possibility of eliminating these rows is to zero the quans and set a flag
        df[i, 'sell_q' ] <- df[i, 'quan']
        df[i, 'sell_p'] <- df[i+1, 'pps'] * sell_quan
        df[i +1, 'type'] <- "Sold"
        df[i, 'type'] <- "Sold"
        df[i +1, 'index'] <- i
        df[i, 'index'] <- i
        sell_quan <- 0
        sell_index <- 0
        cat("clean, no C/F from sales condition type 2 ", "\n")
        return()       
        
                
    
         
        # when the buys row i has quanity < sell quan, need carry values forward to next row,
         # And mo
       } else if(sell_index - buy_index ==1 && df[i, 'quan']  > df[i+1, 'quan'] ) {
        
        cat("top of else if # 1 ", "\n") 
        
        # create allocation and c/f amounts (part 1 )
        df[i, 'cf_q'] <-     df[i, 'quan'] - abs(df[i+1, 'quan'])                                            
        df[i + 1, 'quan'] <- df[i, 'quan'] - abs(df[i+1, 'quan'])  # adj sell quan after removing partial sell
                                             
        df[i, 'cf_b'] <-    df[i, 'cf_q']  * df[i, 'pps']        
        df[i, 'sell_q' ] <- df[i, 'quan'] - df[i, 'cf_q']
        
        df[i, 'sell_p'] <- df[i+1, 'pps'] * (df[i, 'quan'] - abs(df[i+1, 'quan']) )
        df[i  , 'type'] <- "Completed"
        df[i + 1, 'type'] <- "Part Sold c/f"
        df[i, 'sale'] <- i
        df[i + 1, "sale"] <- 0
        
        df[i + 1, "pps"] <- df[i , "pps"] 
        df[i + 1, "basis"] <- df[i + 1, "quan"] * df[i + 1, "pps"] 
        df[i + 1, "tally_b"] <- df[i + 1, "basis"] 
        
         temp <- data.frame(df[i, ])
         df_sales <- rbind(df, temp)
        
         df <- df[-1,]
        
      #   df[i, 'index'] <- i    # do not use if removing a row
        
        
        sell_quan <- 0
        sell_index <- 0
        
        # return ()    # will exit for testing 
        
        cat("Partial sale. Has C/F from sales condition type 3 ", "\n")
        
          # create allocation and c/f amounts (part 2)
#         if(        ) {
        
#         return()       
        
#          } 
        ct <- ct + i
        
         } # else if
                
    
   # print(buys[i,])

    } # top for 
    
    


head(df, 4)
nrow(df)

printing the value of i at top of for loop  1
The i value is  1
printing back_value: the returned value from the fct call:  2
The i value is  1
sell_index is:
sell_quan is:
top of for loop, i ia:  1
buys and sells indexes' are :  2  and

ERROR: Error in if (sell_index - buy_index == 1 && df[i, "quan"] > df[i + 1, : missing value where TRUE/FALSE needed