In [74]:
library(dplyr)

In [117]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
str(df)

'data.frame':	73 obs. of  9 variables:
 $ buy_date : chr  "3/3/2023" "3/3/2023" "3/3/2023" "3/3/2023" ...
 $ cost     : chr  "618.08" "2,422.31" "2,298.31" "605.17" ...
 $ quan     : int  100 400 400 100 100 100 100 400 400 190 ...
 $ tally_q  : int  100 500 900 1000 1100 1200 1300 1700 2100 4200 ...
 $ tally_c  : chr  "618.08" "3,040.39" "5,338.70" "5,943.87" ...
 $ sell_date: chr  "6/2/2023" "6/2/2023" "6/2/2023" "6/2/2023" ...
 $ Proceeds : chr  "453.98" "1815.93" "1815.93" "453.98" ...
 $ tally_q2 : int  36850 36450 36050 35950 35850 35750 35650 35250 34850 34660 ...
 $ tally_c2 : chr  "206,557.16" "204,134.85" "201,836.54" "201,231.37" ...

In [75]:
head(df)

  buy_date  cost     quan tally_q tally_c  sell_date Proceeds tally_q2
1 3/3/2023  618.08   100   100    618.08   6/2/2023  453.98   36850
2 3/3/2023  2,422.31 400   500    3,040.39 6/2/2023  1815.93  36450
3 3/3/2023  2,298.31 400   900    5,338.70 6/2/2023  1815.93  36050
4 3/3/2023  605.17   100  1000    5,943.87 6/2/2023  453.98   35950
5 4/27/2023 544.50   100  1100    6,488.37 6/2/2023  453.98   35850
6 3/3/2023  562.53   100  1200    7,050.90 5/30/2023 458.26   35750
  tally_c2
1 206,557.16
2 204,134.85
3 201,836.54
4 201,231.37
5 200,686.87
6 200,124.34

In [98]:
# Define the target sum
target_sum <- 800


# Initialize a variable to hold the cumulative sum
cumulative_sum <- 0

# Initialize a variable to hold the index where target sum is achieved
index <- 0

# Iterate over the column
for(i in 1:nrow(df)) {
  cumulative_sum <- cumulative_sum + df[i, 'tally_q']
    print(cumulative_sum)
  if(cumulative_sum >= target_sum) {
    index <- i
    break
  }
}

# Print the index
print(index)
cumulative_sum

[1] 100
[1] 600
[1] 1500
[1] 3

[1] 1500

In [91]:
# Assuming 'df' is your dataframe and 'Quantity' is your column
df <- data.frame(Quantity = c(1, 2, 3, 4, 5), Other = c('a', 'b', 'c', 'd', 'e'))
test_values <- c(8, 6)
df
# Iterate over the test values
for(test_value in test_values) {
  # Initialize a variable to hold the cumulative sum
  cumulative_sum <- 0

  # Iterate over the rows
  for(i in 1:nrow(df)) {
    cumulative_sum <- cumulative_sum + df[i, 'Quantity']
    
    # Check if the cumulative sum exceeds the test value
    if(cumulative_sum > test_value) {
      # Calculate the excess and the adjusted quantity
      excess <- cumulative_sum - test_value
      adjusted_quantity <- df[i, 'Quantity'] - excess
      
      # Update the quantity in the current row
      df[i, 'Quantity'] <- adjusted_quantity
      
      # Create a new row with the excess quantity
      new_row <- df[i, ]
      new_row['Quantity'] <- excess
      
      # Insert the new row into the dataframe immediately below the current row
      df <- df %>% 
        add_row(.before = i+1, !!!new_row)
      
      # Break the loop
      break
    }
  }
}

# Print the updated dataframe
print(df)

  Quantity Other
1 1        a
2 2        b
3 3        c
4 4        d
5 5        e

  Quantity Other
1        1     a
2        2     b
3        3     c
4        0     d
5        2     d
6        2     d
7        5     e

In [186]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")

ct <<- 0
test_value <- c(700)


# function to allocate values within a df
inter <- function(df, test_value, ct) {
     cumulative_sum <- 0
      
# Iterate over the rows
  for(i in 1:nrow(df)) {
      
    cumulative_sum <- cumulative_sum + df[i, 'quan']
    
    # Check if the cumulative sum exceeds the test value
    if(cumulative_sum >= test_value) {
        # ct <<- ct + 1
     
      # Calculate the excess and the adjusted quantity
      excess <- cumulative_sum - test_value
      adjusted_quantity <- df[i, 'quan'] - excess
      
      # Update the quantity in the current row
      df[i, 'quan'] <- adjusted_quantity      
        
      # Create a new row with the excess quantity
      new_row <- df[i, ]
      new_row['quan'] <- excess 
        
     # update the tally_q - first row  
      q1 <- df[i, 'tally_q'] - adjusted_quantity
      df[i, 'tally_q'] <- q1
        
      # Insert the new row into the dataframe immediately below the current row
      df <- df %>% 
        add_row(.before = i+1, !!!new_row)
        ct <<- i+1        
    
      # Break the loop and move to the next test value
      break
    
    }
    
  }
     return(df)
}

# make fct call
mod_df <- inter(df, test_value, ct)

# show the returned ct value
ct

head(mod_df)

[1] 4

  buy_date  cost     quan tally_q tally_c  sell_date Proceeds tally_q2
1 3/3/2023  618.08   100   100    618.08   6/2/2023  453.98   36850
2 3/3/2023  2,422.31 400   500    3,040.39 6/2/2023  1815.93  36450
3 3/3/2023  2,298.31 200   700    5,338.70 6/2/2023  1815.93  36050
4 3/3/2023  2,298.31 200   900    5,338.70 6/2/2023  1815.93  36050
5 3/3/2023  605.17   100  1000    5,943.87 6/2/2023  453.98   35950
6 4/27/2023 544.50   100  1100    6,488.37 6/2/2023  453.98   35850
  tally_c2
1 206,557.16
2 204,134.85
3 201,836.54
4 201,836.54
5 201,231.37
6 200,686.87