In [1]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 4.3.2"

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
str(df)

'data.frame':	74 obs. of  14 variables:
 $ index   : int  1 2 3 4 5 6 7 8 9 10 ...
 $ date    : chr  "11/30/2022" "11/30/2022" "11/30/2022" "11/30/2022" ...
 $ cost    : num  1827 500 653 742 365 ...
 $ quan    : int  250 100 100 100 50 150 100 50 100 850 ...
 $ tally_q : int  250 350 450 550 600 750 850 900 1000 1850 ...
 $ tally_c : num  1827 2327 2980 3722 4087 ...
 $ date_s  : chr  "1/27/2023" "2/3/2023" "2/3/2023" "2/3/2023" ...
 $ proceeds: num  1378 585 625 668 334 ...
 $ tally_q2: int  250 36700 36600 36500 36400 36350 36200 36100 36050 35950 ...
 $ tally_c2: num  1827 205348 204849 204196 203454 ...
 $ sold    : int  0 0 0 0 0 0 0 0 1000 0 ...
 $ tally_s : int  0 0 0 0 0 0 0 0 1000 0 ...
 $ remain  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ X       : logi  NA NA NA NA NA NA ...

In [3]:
head(df)

  index date       cost    quan tally_q tally_c date_s    proceeds tally_q2
1 1     11/30/2022 1827.03 250  250     1827.03 1/27/2023 1378.03    250
2 2     11/30/2022  499.59 100  350     2326.62 2/3/2023   585.47  36700
3 3     11/30/2022  652.92 100  450     2979.54 2/3/2023   625.47  36600
4 4     11/30/2022  742.10 100  550     3721.64 2/3/2023   667.98  36500
5 5     11/30/2022  365.40  50  600     4087.04 2/3/2023   333.99  36400
6 6     11/30/2022 1113.15 150  750     5200.19 2/3/2023   938.20  36350
  tally_c2  sold tally_s remain X
1   1827.03 0    0       0      NA
2 205348.21 0    0       0      NA
3 204848.62 0    0       0      NA
4 204195.70 0    0       0      NA
5 203453.60 0    0       0      NA
6 203088.20 0    0       0      NA

In [4]:
# # Remove extraneous variables 

# df$X <- NULL
# df$X.1 <- NULL
# df$X.2 <- NULL
# head(df, 3)

### <font color = lime> Convert the df char data types to numer_remainderic

In [5]:
# Convert Excel dates when in the 1900 date format

# df$date <- as.Date(df$date, origin = "1899-12-30")
# df$date_s <- as.Date(df$date_s, origin = "1899-12-30")
head(df, 3)

  index date       cost    quan tally_q tally_c date_s    proceeds tally_q2
1 1     11/30/2022 1827.03 250  250     1827.03 1/27/2023 1378.03    250
2 2     11/30/2022  499.59 100  350     2326.62 2/3/2023   585.47  36700
3 3     11/30/2022  652.92 100  450     2979.54 2/3/2023   625.47  36600
  tally_c2  sold tally_s remain X
1   1827.03 0    0       0      NA
2 205348.21 0    0       0      NA
3 204848.62 0    0       0      NA

In [6]:
# create a test loop for moving through the df
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
# Define the target sum
target_value <- 900
master_ct <- 0

# Initialize a variable to hold the increasing cumulative sum
cumulative_sum <- 0

# Initialize a variable to hold the index where target sum is achieved
index <- 0

# Iterate over the column
  for(i in 1:nrow(df)) {
  # counter at top of loop (will always be >= 1)
  master_ct <- master_ct + 1
  # creates a tally value of quan values from each row that is compared against the target value  
  cumulative_sum <- cumulative_sum + df[i, 'quan']
    print(cumulative_sum)
  # If the cum_sum equals the target value, change nothing
  if(cumulative_sum == target_value) {
      temp <- df[i, 'tally_q']
      df[i, 'tally_q'] <- temp
      break
      }
  # if the cum_sum exceeds the target value, break and return the index (count of rows for the if )
  else if(cumulative_sum >= target_value) {
    # count the times when the cumulative_sum greater than target value. Can be zero.  
    index <- i     
    break
  }
}

# Print the indexes
print(paste0("the master counter value is: ", master_ct))
print(paste0("the incrementing index value is: ", index))

# print the cumulative sum at the break out from the loop
cumulative_sum

[1] 250
[1] 350
[1] 450
[1] 550
[1] 600
[1] 750
[1] 850
[1] 900
[1] "the master counter value is: 8"
[1] "the incrementing index value is: 0"

[1] 900

In [7]:
index

[1] 0

In [8]:
# Assuming 'df' is your dataframe and 'Quantity' is your column
df <- data.frame(Quantity = c(1, 2, 3, 4, 5), Other = c('a', 'b', 'c', 'd', 'e'))
test_values <- c(8, 6)
df
# Iterate over the test values
for(test_value in test_values) {
  # Initialize a variable to hold the cumulative sum
  cumulative_sum <- 0

  # Iterate over the rows
  for(i in 1:nrow(df)) {
    cumulative_sum <- cumulative_sum + df[i, 'Quantity']
    
    # Check if the cumulative sum exceeds the test value
    if(cumulative_sum > test_value) {
      # Calculate the overage and the adjusted quantity
      overage <- cumulative_sum - test_value
      remainder <- df[i, 'Quantity'] - overage
      
      # Update the quantity in the current row
      df[i, 'Quantity'] <- remainder
      
      # Create a new row with the overage quantity
      new_row <- df[i, ]
      new_row['Quantity'] <- overage
      
      # Insert the new row into the dataframe immediately below the current row
      df <- df %>% 
        add_row(.before = i+1, !!!new_row)
      
      # Break the loop
      break
    }
  }
}

# Print the updated dataframe
print(df)

  Quantity Other
1 1        a
2 2        b
3 3        c
4 4        d
5 5        e

  Quantity Other
1        1     a
2        2     b
3        3     c
4        0     d
5        2     d
6        2     d
7        5     e

## <font color = lime> Keeper!  It works

In [9]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
# df$X <- NULL
# df$X.1 <- NULL
# df$X.2 <- NULL



ct <<- 1
test_value <- c(850)
rat1 <<- 0

# function to allocate values within a df
inter <- function(df, test_value, ct) {
     cumulative_sum <- 0
      
# Iterate over the rows
  for(i in 1:nrow(df)) {
      
    cumulative_sum <- cumulative_sum + df[i, 'quan']
    
    # Check if the cumulative sum exceeds the test value
    if(cumulative_sum == test_value) {
        print("match amount")       
        }
      
    if(cumulative_sum >= test_value) {        
           
      # Calculate the overage and the adjusted quantity
      overage <- cumulative_sum - test_value         # 900 - 700 = 200
      remainder <- df[i, 'quan'] - overage   # deduct 200 from existing value 
       
     # establish the ratio - need for row 1 and row 2   
     denom_quan <- df[i, 'quan']    # 400    
     numer_remainder <- remainder
      
      # Update the quantity in the current row
      df[i, 'quan'] <- remainder            # assign new value to quan
        
      # Create a new row with the overage quantity (Do it here and not below the changes)
      new_row <- df[i, ]
      new_row['quan'] <- overage 
      
    
    # update the tally_q (first row)
      q1 <- df[i, 'tally_q'] - remainder
      df[i, 'tally_q'] <- q1
        
    
   # first, establish a ratio to apply to variables in row 1, then allocate the variables
       
    # create the ratio
    rat1 <<- numer_remainder / denom_quan
               
    # apply ratio to variables in row 1
    # cost var
    c1 <- df[i, 'cost'] * rat1
    df[i, 'cost'] <- c1  
    #tally_c var
    t_c <- df[i-1,'tally_c'] + c1
    df[i, 'tally_c'] <- t_c
    #proceeds var
    p1 <- df[i, 'proceeds'] * rat1
    df[i, 'proceeds'] <- p1
    # t_q2 var
    t_q2 <- df[i-1, 'tally_q2'] - remainder
    df[i, 'tally_q2'] <- t_q2
    # t_c2 var
    t_c2 <- df[i-1, 'tally_c2'] - c1
    df[i, 'tally_c2'] <- t_c2
        
        
    # Insert the new row into the dataframe immediately below the current row
    df <- df %>% 
    add_row(.before = i+1, !!!new_row)
    ct <<- i+1        

#  PART 2
        
   # update the values in new row 2 
        
    # cost var
    c2 <- df[ct, 'cost'] * rat1
    df[ct, 'cost'] <- c2  
    #tally_c var
    t_c2 <- df[ct-1,'tally_c'] + c2
    df[ct, 'tally_c'] <- t_c2
    #proceeds var
    p2 <- df[ct, 'proceeds'] * rat1
    df[ct, 'proceeds'] <- p2
      # t_q2 var
    t_q22 <- df[ct-1, 'tally_q2'] - remainder
    df[ct, 'tally_q2'] <- t_q22
    # t_c2 var
    t_c22 <- df[i-1, 'tally_c2'] - c2
    df[i, 'tally_c2'] <- t_c22      

  # Break the loop and move to the next test value
    ct <- ct + 1
  break
    
    }
    
  }
     return(df)
}


print(ct)
# make fct call
newdf <- inter(df, test_value, ct) 
tail(newdf, 3)


# Remove the unwanted row of NAs
newdf <- newdf[complete.cases(newdf), ]  
tail(newdf, 3)



# show the returned ct value

[1] 1
[1] "match amount"

   index date      cost   quan tally_q tally_c  date_s   proceeds tally_q2
73 72    3/3/2023  605.17 100  36850   206630.7 6/2/2023 453.98   200
74 73    4/27/2023 544.50 100  36950   207175.2 6/2/2023 453.98   100
75 NA                  NA  NA     NA         NA              NA    NA
   tally_c2 sold tally_s remain X
73 1149.67     0     0    0     NA
74  544.50  1100 36950    0     NA
75      NA    NA    NA   NA     NA

     index date cost quan tally_q tally_c date_s proceeds tally_q2 tally_c2
     sold tally_s remain X

In [10]:
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
ct <<- 1
ct2 <<- 2

sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,3000,
           500,2000,3000,500,2000,810,1000,190,3000,1000,1100)
length(sales)

for(i in 1:length(sales)-1) {
    mod_df <- inter(df, sales[ct], ct)
    # okay ... prints 22 times the length of sales 
    
    #print(mod_df)
    ct <<- ct + 1
    # dont need the following code
    # df <- df[complete.cases(df), ]
    # ct <- ct + 1
    
    ct2 <- i + 1
    }    
ct
ct2
tail(mod_df,15)

[1] 22

[1] "match amount"
[1] "match amount"
[1] "match amount"
[1] "match amount"
[1] "match amount"
[1] "match amount"
[1] "match amount"
[1] "match amount"
[1] "match amount"
[1] "match amount"
[1] "match amount"
[1] "match amount"

[1] 17

[1] 22

   index date      cost    quan tally_q tally_c  date_s    proceeds tally_q2
61 60    3/3/2023  2649.30 500  33350   188138.5 4/20/2023 2494.61  4100
62 61    3/3/2023   844.45 190  33540   188983.0 4/20/2023  944.26  3600
63 62    3/3/2023  3600.03 810  34350   192583.0 4/20/2023 4013.40  3410
64 63    3/3/2023   516.95 100  34450   193100.0 4/20/2023  498.92  2600
65 64    3/3/2023  2069.44 400  34850   195169.4 4/20/2023 1995.68  2500
66 65    3/3/2023   562.53 100  34950   195731.9 5/30/2023  458.26  2100
67 66    3/3/2023   575.44 100  35050   196307.4 5/30/2023  458.26  2000
68 67    3/3/2023  2251.76 400  35450   198559.1 5/30/2023 1833.05  1900
69 68    3/3/2023  2127.75 400  35850   200686.9 5/30/2023 1833.04  1500
70 69    3/3/2023   618.08 100  35950   201305.0 6/2/2023   453.98  1100
71 70    3/3/2023  2422.31 400  36350   203727.3 6/2/2023  1815.93  1000
72 71    3/3/2023  2298.31 400  36750   206025.6 6/2/2023  1815.93   600
73 72    3/3/2023   605.17 100  36850   206630.7 6/2/2023   453.98   200
74 73    4/27/2023  544.50 100  36950   207175.2 6/2/2023   453.98   100
75 NA                   NA  NA     NA         NA                NA    NA
   tally_c2 sold tally_s remain X
61 21686.02    0     0     0    NA
62 19036.72    0     0     0    NA
63 18192.27    0     0     0    NA
64 14592.24    0     0     0    NA
65 14075.29    0     0     0    NA
66 12005.85 5000 34850   100    NA
67 11443.32    0     0     0    NA
68 10867.88    0     0     0    NA
69  8616.12 1000 35850     0    NA
70  6488.37    0     0     0    NA
71  5870.29    0     0     0    NA
72  3447.98    0     0     0    NA
73  1149.67    0     0     0    NA
74   544.50 1100 36950     0    NA
75       NA   NA    NA    NA    NA

In [11]:

sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,
           3000,500,2000,3000,500,2000,810,1000,190,3000,1000,1100)

ct <- 0

for(i in 1:length(sales)) {
    #tally sales
    ct <<- ct + sales[i]
    }    
ct

[1] 36950

In [12]:
# This demonstrates preventing the loop exceeding the index that creates errors

df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")

ct <- 0

sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,
           3000,3000,500,2000,3000,500,2000,810,1000,190,3000,1000,1100)

length(sales)
str(sales)

start_row <- 1

for(i in start_row:nrow(df)) {
        
    if(df[i, 'quan'] <= sales[i])  {
        temp <- df[i, 'quan'] 
        df[i,'quan'] <- temp
        ct <<- ct + sales[i]
       # print(paste0("ct is ", ct))
    } else {
        ct <<- ct + sales[i]
        # print(paste0("ct is ", ct))
        }
    
    # To prevent going past index by 1 
    start_row <- start_row + 1
    if(start_row > length(sales) ) {
        break
    }
 }
 
#tally of ct
ct

[1] 22

 num [1:22] 1000 1000 1000 100 900 3000 6000 1000 1850 3000 ...

[1] 36950

In [13]:
# demonstrates looping 10 times

sales <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,3000,
           500,2000,3000,500,2000,810,1000,190,3000,1000,1100)

ct <- 0

length(sales)
# str(sales)
tally <- 0
start_row <- 1

for(i in 1:length(df))  { 
    
    tally <- tally + 1 
    
    # demonstrate rplacing values in the df$quan for each item in sales vector
    temp <- df[i, 'quan'] 
    # demonstrates the changes to quan
    print(paste0("value of temp is ", temp))
    # demonstrates looping through the sales vector
    print(sales[i])
    
#   if(cumulative_sum >= test_value) {         
    if(temp <= sales[i])  {
        # add 10 to each existing quan value
        df[i,'quan'] <- temp + 10
        ct <<- ct + 1
    } 
    else {
      ct <<- ct + 1
        }
    start_row <- start_row + 1
    print(paste0("count is: ", ct))
}
 
print(paste0("The tally is :", tally))
ct
head(df,3)

[1] 22

[1] "value of temp is 250"
[1] 1000
[1] "count is: 1"
[1] "value of temp is 100"
[1] 1000
[1] "count is: 2"
[1] "value of temp is 100"
[1] 1000
[1] "count is: 3"
[1] "value of temp is 100"
[1] 100
[1] "count is: 4"
[1] "value of temp is 50"
[1] 900
[1] "count is: 5"
[1] "value of temp is 150"
[1] 3000
[1] "count is: 6"
[1] "value of temp is 100"
[1] 6000
[1] "count is: 7"
[1] "value of temp is 50"
[1] 1000
[1] "count is: 8"
[1] "value of temp is 100"
[1] 1850
[1] "count is: 9"
[1] "value of temp is 850"
[1] 3000
[1] "count is: 10"
[1] "value of temp is 50"
[1] 3000
[1] "count is: 11"
[1] "value of temp is 50"
[1] 500
[1] "count is: 12"
[1] "value of temp is 50"
[1] 2000
[1] "count is: 13"
[1] "value of temp is 500"
[1] 3000
[1] "count is: 14"
[1] "The tally is :14"

[1] 14

  index date       cost    quan tally_q tally_c date_s    proceeds tally_q2
1 1     11/30/2022 1827.03 260  250     1827.03 1/27/2023 1378.03    250
2 2     11/30/2022  499.59 110  350     2326.62 2/3/2023   585.47  36700
3 3     11/30/2022  652.92 110  450     2979.54 2/3/2023   625.47  36600
  tally_c2  sold tally_s remain X
1   1827.03 0    0       0      NA
2 205348.21 0    0       0      NA
3 204848.62 0    0       0      NA

In [14]:
# No errors, but nothing happened to the df

df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")

cumulative_sum <- 0
ct <<- 0
start_row <- 1

#Iterate over the sales values
for(value in sales) {
    ct <<- ct + 1
    # Iterate over the rows
    for(i in start_row:nrow(df)) {
        cumulative_sum <- 0
        cumulative_sum <- cumulative_sum + df[ct, 'quan']
        print(cumulative_sum)
        
        # check if the cumulative sum equals the test value in sales[i], if so, do nada
        if(cumulative_sum <= sales[i]) {
            temp <- df[i, 'quan']
            df[i, 'quan'] <- temp 
            start_row <- i + 1
            print(ct)
            break
        }
        # Check if the cumulative sum exceeds the test value
         if(cumulative_sum >= sales[i]) {        
    
            # Calculate the overage and the adjusted quantity
            overage <- cumulative_sum - test_value         # 900 - 700 = 200
            remainder <- df[i, 'quan'] - overage   # deduct 200 from existing value 

            # establish the ratio - need for row 1 and row 2   
            denom_quan <- df[i, 'quan']    # 400    
            numer_remainder <- remainder

            # Update the quantity in the current row
            df[i, 'quan'] <- remainder            # assign new value to quan

            # Create a new row with the overage quantity (Do it here and not below the changes)
            new_row <- df[i, ]
            new_row['quan'] <- overage  

            start_row <- i + 1
            break
        }
      }
    }
ct
nrow(df)
head(df,4)

[1] 250
[1] 1
[1] 100
[1] 2
[1] 100
[1] 3
[1] 100
[1] 4
[1] 50
[1] 5
[1] 150
[1] 6
[1] 100
[1] 7
[1] 50
[1] 8
[1] 100
[1] 9
[1] 850
[1] 10
[1] 50
[1] 11
[1] 50
[1] 12
[1] 50
[1] 13
[1] 500
[1] 14
[1] 500
[1] 15
[1] 500
[1] 16
[1] 500
[1] 17
[1] 500
[1] 18
[1] 50
[1] 19
[1] 200
[1] 20
[1] 50
[1] 21
[1] 50
[1] 22

[1] 22

[1] 74

  index date       cost    quan tally_q tally_c date_s    proceeds tally_q2
1 1     11/30/2022 1827.03 250  250     1827.03 1/27/2023 1378.03    250
2 2     11/30/2022  499.59 100  350     2326.62 2/3/2023   585.47  36700
3 3     11/30/2022  652.92 100  450     2979.54 2/3/2023   625.47  36600
4 4     11/30/2022  742.10 100  550     3721.64 2/3/2023   667.98  36500
  tally_c2  sold tally_s remain X
1   1827.03 0    0       0      NA
2 205348.21 0    0       0      NA
3 204848.62 0    0       0      NA
4 204195.70 0    0       0      NA

In [16]:
# Assuming 'vec' is your vector and 'df' is your dataframe
vec <- sales
start_row <- 1
for(value in vec) {
  for(i in start_row:nrow(df)) {
    if(df[i, 'quan'] == value) {  # Replace 'var' with your actual column name
      # Execute your code here
      print(paste("Match found for", value, "at row", i))
      start_row <- i + 1
      break
    }
  }
}

[1] "Match found for 1000 at row 45"
[1] "Match found for 1000 at row 47"
[1] "Match found for 1000 at row 54"
[1] "Match found for 100 at row 63"

ERROR: Error in if (df[i, "quan"] == value) {: missing value where TRUE/FALSE needed

In [ ]:
stopper

## <font color = lime> Keeper Below: Part 2
    
<div style="margin-left:40px;">
Allocate the other data in the matched row
</div>

In [17]:
# The function allocated the quan in the row of the match with test_value  = 850
# Rows 3 and 4 modified / added new row for the allocation of quan 


df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")

ct <<- 0
test_value <- c(850)
rat1 <<- 0

# function to allocate values within a df
inter <- function(df, test_value, ct) {
     cumulative_sum <- 0
      
# Iterate over the rows
  for(i in 1:nrow(df)) {
      
    cumulative_sum <- cumulative_sum + df[i, 'quan']
    
    # Check if the cumulative sum exceeds the test value
    
      
    if(cumulative_sum >= test_value) {
        
      # Calculate the overage and the adjusted quantity
      overage <- cumulative_sum - test_value         # 900 - 700 = 200
      remainder <- df[i, 'quan'] - overage   # deduct 200 from existing value 
       
     # establish the ratio - need for row 1 and row 2   
     denom_quan <- df[i, 'quan']    # 400    
     numer_remainder <- remainder
      
      # Update the quantity in the current row
      df[i, 'quan'] <- remainder            # assign new value to quan
        
      # Create a new row with the overage quantity (Do it here and not below the changes)
      new_row <- df[i, ]
      new_row['quan'] <- overage 
      
    
    # update the tally_q (first row)
      q1 <- df[i, 'tally_q'] - remainder
      df[i, 'tally_q'] <- q1
        
    
   # first, establish a ratio to apply to variables in row 1, then allocate the variables
       
    # create the ratio
    rat1 <<- numer_remainder / denom_quan
               
    # apply ratio to variables in row 1
    # cost var
    c1 <- df[i, 'cost'] * rat1
    df[i, 'cost'] <- c1  
    #tally_c var
    t_c <- df[i-1,'tally_c'] + c1
    df[i, 'tally_c'] <- t_c
    #proceeds var
    p1 <- df[i, 'proceeds'] * rat1
    df[i, 'proceeds'] <- p1
    # t_q2 var
    t_q2 <- df[i-1, 'tally_q2'] - remainder
    df[i, 'tally_q2'] <- t_q2
    # t_c2 var
    t_c2 <- df[i-1, 'tally_c2'] - c1
    df[i, 'tally_c2'] <- t_c2
        
        
    # Insert the new row into the dataframe immediately below the current row
    df <- df %>% 
    add_row(.before = i+1, !!!new_row)
    ct <<- i+1        

#  PART 2
        
   # update the values in new row 2 
        
    # cost var
    c2 <- df[ct, 'cost'] * rat1
    df[ct, 'cost'] <- c2  
    #tally_c var
    t_c2 <- df[ct-1,'tally_c'] + c2
    df[ct, 'tally_c'] <- t_c2
    #proceeds var
    p2 <- df[ct, 'proceeds'] * rat1
    df[ct, 'proceeds'] <- p2
      # t_q2 var
    t_q22 <- df[ct-1, 'tally_q2'] - remainder
    df[ct, 'tally_q2'] <- t_q22
    # t_c2 var
    t_c22 <- df[i-1, 'tally_c2'] - c2
    df[i, 'tally_c2'] <- t_c22      

  # Break the loop and move to the next test value
  break
    
    }
    
  }
     return(df)
}

# make fct call

mod_df <- inter(df, test_value, ct)

# show the returned ct and ratio values
ct
rat1

head(mod_df,10)

[1] 8

[1] 1

   index date       cost    quan tally_q tally_c date_s    proceeds tally_q2
1  1     11/30/2022 1827.03 250   250    1827.03 1/27/2023 1378.03    250
2  2     11/30/2022  499.59 100   350    2326.62 2/3/2023   585.47  36700
3  3     11/30/2022  652.92 100   450    2979.54 2/3/2023   625.47  36600
4  4     11/30/2022  742.10 100   550    3721.64 2/3/2023   667.98  36500
5  5     11/30/2022  365.40  50   600    4087.04 2/3/2023   333.99  36400
6  6     11/30/2022 1113.15 150   750    5200.19 2/3/2023   938.20  36350
7  7     11/30/2022  640.57 100   750    5840.76 2/3/2023   618.98  36250
8  7     11/30/2022  640.57   0   850    6481.33 2/3/2023   618.98  36150
9  8     11/30/2022  320.81  50   900    6161.57 2/3/2023   309.49  36100
10 9     11/30/2022  551.39 100  1000    6712.96 2/3/2023   618.98  36050
   tally_c2  sold tally_s remain X
1    1827.03    0    0    0      NA
2  205348.21    0    0    0      NA
3  204848.62    0    0    0      NA
4  204195.70    0    0    0      NA
5  203453.60    0    0    0      NA
6  203088.20    0    0    0      NA
7  202447.63    0    0    0      NA
8  201975.05    0    0    0      NA
9  201334.48    0    0    0      NA
10 201013.67 1000 1000    0      NA

## <font color = lime> The Keeper! This works great! Not actual sales values

In [18]:
# Moving towards.  Creates a new df from the below the match / new rows 
#  and eliminates some rows to run the process again


df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
df1 <- data.frame()

ct <<- 0
test_value <- c(850)
rat1 <<- 0

# function to allocate values within a df
inter <- function(df, test_value, ct) {
     cumulative_sum <- 0
      
# Iterate over the rows
  for(i in 1:nrow(df)) {  
      
    cumulative_sum <- cumulative_sum + df[i, 'quan']
    
    # Check if the cumulative sum exceeds the test value
    
      
    if(cumulative_sum >= test_value) {
        
      # Calculate the overage and the adjusted quantity
      overage <- cumulative_sum - test_value         # 900 - 700 = 200
      remainder <- df[i, 'quan'] - overage   # deduct 200 from existing value 
       
     # establish the ratio - need for row 1 and row 2   
     denom_quan <- df[i, 'quan']    # 400    
     numer_remainder <- remainder
      
      # Update the quantity in the current row
      df[i, 'quan'] <- remainder            # assign new value to quan
        
      # Create a new row with the overage quantity (Do it here and not below the changes)
      new_row <- df[i, ]
      new_row['quan'] <- overage 
      
    
    # update the tally_q (first row)
      q1 <- df[i, 'tally_q'] - remainder
      df[i, 'tally_q'] <- q1
        
    
   # first, establish a ratio to apply to variables in row 1, then allocate the variables
       
    # create the ratio
    rat1 <<- numer_remainder / denom_quan
               
    # apply ratio to variables in row 1
    # cost var
    c1 <- df[i, 'cost'] * rat1
    df[i, 'cost'] <- c1  
    #tally_c var
    t_c <- df[i-1,'tally_c'] + c1
    df[i, 'tally_c'] <- t_c
    #proceeds var
    p1 <- df[i, 'proceeds'] * rat1
    df[i, 'proceeds'] <- p1
    # t_q2 var
    t_q2 <- df[i-1, 'tally_q2'] - remainder
    df[i, 'tally_q2'] <- t_q2
    # t_c2 var
    t_c2 <- df[i-1, 'tally_c2'] - c1
    df[i, 'tally_c2'] <- t_c2
        
        
    # Insert the new row into the dataframe immediately below the current row
    df <- df %>% 
    add_row(.before = i+1, !!!new_row)
    ct <<- i+1  
    # Insert the new row into df1
    df1 <<- df %>% 
    add_row(.before = i+1, !!!new_row)

#  PART 2
        
   # update the values in new row 2 
        
    # cost var
    c2 <- df[ct, 'cost'] * rat1
    df[ct, 'cost'] <- c2  
    #tally_c var
#   t_c2 <- df[ct-1,'tally_c'] + c2
    # Correction? 
    t_c2 <- df[ct,'tally_c'] + c2
    df[ct, 'tally_c'] <- t_c2
    #proceeds var
    p2 <- df[ct, 'proceeds'] * rat1
    df[ct, 'proceeds'] <- p2
      # t_q2 var
#t_q22 <- df[ct-1, 'tally_q2'] - remainder    
    # Correction ??
    t_q22 <- df[ct, 'tally_q2'] - remainder
    df[ct, 'tally_q2'] <- t_q22
    # t_c2 var
#    t_c22 <- df[i-1, 'tally_c2'] - c2
    # Correction ???
    t_c22 <- df[i, 'tally_c2'] - c2
    df[i, 'tally_c2'] <- t_c22 
      
     # build df1
     df1 <<- rbind(df1, df[i,])

  # Break the loop and move to the next test value
  break
    
    }
    
  }
     return(df)
}

In [26]:
#  Do NOT want a new row with NAs
tail(df)

   index date      cost    quan tally_q tally_c  date_s    proceeds tally_q2
68 68    3/3/2023  2127.75 400  35850   200686.9 5/30/2023 1833.04  1500
69 69    3/3/2023   618.08 100  35950   201305.0 6/2/2023   453.98  1100
70 70    3/3/2023  2422.31 400  36350   203727.3 6/2/2023  1815.93  1000
71 71    3/3/2023  2298.31 400  36750   206025.6 6/2/2023  1815.93   600
72 72    3/3/2023   605.17 100  36850   206630.7 6/2/2023   453.98   200
73 73    4/27/2023  544.50 100  36950   207175.2 6/2/2023   453.98   100
   tally_c2 sold tally_s remain X
68 8616.12  1000 35850   0      NA
69 6488.37     0     0   0      NA
70 5870.29     0     0   0      NA
71 3447.98     0     0   0      NA
72 1149.67     0     0   0      NA
73  544.50  1100 36950   0      NA

In [24]:
nrow(df)
df <- df[1:nrow(df)-1,]
nrow(df)
tail(df,3)

[1] 74

[1] 73

ERROR: Error in tain(df, 3): could not find function "tain"

In [19]:
stopper

ERROR: Error in eval(expr, envir, enclos): object 'stopper' not found

## <font color = lime> Real Test - Real Sales Values

### <font color = lime> Clean Function

In [421]:
# clean df
df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")
# clean sales vector
sales <- c(1000,3000,3000,6000,5850,3000,6000,2000,5000,1000,1100)

In [422]:
length(sales)
sum(sales)
nrow(df)
tail(df,3)

[1] 11

[1] 36950

[1] 73

   index date      cost    quan tally_q tally_c  date_s   proceeds tally_q2
71 71    3/3/2023  2298.31 400  36750   206025.6 6/2/2023 1815.93  600
72 72    3/3/2023   605.17 100  36850   206630.7 6/2/2023  453.98  200
73 73    4/27/2023  544.50 100  36950   207175.2 6/2/2023  453.98  100
   tally_c2 sold tally_s X
71 3447.98  0        0   NA
72 1149.67  0        0   NA
73  544.50  0    36950   NA

In [423]:
# Remove extraneous row

# nrow(df)
# df <- df[1:nrow(df)-1,]
# nrow(df)
# tail(df,3)

In [424]:
sales[1]

[1] 1000

In [425]:
# S/B a clean funtion (Won't execute w/out fct call)


# function to allocate values within a df
inter <- function(df, test_value, ct) {
     cumulative_sum <- 0
      
# Iterate over the rows
  for(i in 1:nrow(df)) {
      
      
      counter <<- counter + 1     
    
   
        
    # assign quan value to cum_sum 
    cumulative_sum <- cumulative_sum + df[i, 'quan']
      
     
    # Check if the cumulative sum exceeds the test value
    
    # when the sum of quan values exceeds the amount fof the sales value  
    if(cumulative_sum >= test_value) {   
    
     df[i, "sold"] <- 2500
        
      # Calculate the overage and the adjusted quantity
      overage <- cumulative_sum - test_value         # 3000 - 190 = 2810
      # deduct the overage from the current quan value  # 190 - 2810   
      remainder <- df[i, 'quan'] - overage   
       
     # establish the ratio - needed to allocate values for row 1 and the new row 2   
      numer_remainder <- remainder  # 300
      denom_quan <- df[i, 'quan']      # 400  
     # create the ratio for row1
      rat1 <<- numer_remainder / denom_quan
      
      # Update the quan value in the row1
      df[i, 'quan'] <- remainder           
        
      # Create new row, row2, with the overage value 
      new_row <- df[i, ]
      new_row['quan'] <- overage       
    
    # update the tally_q (row1)
      q1 <- df[i, 'tally_q'] - remainder
      df[i, 'tally_q'] <- q1
        
        
        
    # Insert the new row into the dataframe immediately below the current row
    # df <- df %>% 
    # add_row(.before = i+1, !!!new_row)
    # ct <<- i+1  
    # # Insert the new row into df1
    # df1 <<- df %>% 
    # add_row(.before = i+1, !!!new_row)   
        
        
        
    
   #  Apply the ratio, rat1, to allocate the variables on row 1
    # cost var
    c1 <- df[i, 'cost'] * rat1
    df[i, 'cost'] <- c1  
    #tally_c var
    t_c <- df[i,'tally_c'] + c1
    df[i, 'tally_c'] <- t_c
    #proceeds var
    p1 <- df[i, 'proceeds'] * rat1
    df[i, 'proceeds'] <- p1
    # t_q2 var
    t_q2 <- df[i, 'tally_q2'] - remainder
    df[i, 'tally_q2'] <- t_q2
    # t_c2 var
    t_c2 <- df[i, 'tally_c2'] - c1
    df[i, 'tally_c2'] <- t_c2
        

    # Insert the new row into the dataframe immediately below the current row
    df <- df %>% 
    add_row(.before = i+1, !!!new_row)
    ct <<- i+1  
    # Insert the new row into df1
    df1 <<- df %>% 
    add_row(.before = i+1, !!!new_row)

#  PART 2
        
   # update the values in new row 2 
        
    # cost var
    c2 <- df[ct, 'cost'] * rat1
    df[ct, 'cost'] <- c2  
    #tally_c var
    t_c2 <- df[ct-1,'tally_c'] + c2
    df[ct, 'tally_c'] <- t_c2
    #proceeds var
    p2 <- df[ct, 'proceeds'] * rat1
    df[ct, 'proceeds'] <- p2
      # t_q2 var
    t_q22 <- df[ct-1, 'tally_q2'] - remainder
    df[ct, 'tally_q2'] <- t_q22
    # t_c2 var
    t_c22 <- df[i-1, 'tally_c2'] - c2
    df[i, 'tally_c2'] <- t_c22 
      
     # build df1
     df1 <<- rbind(df1, df[i,])

  # Break the loop and move to the next test value
  break
    
    }
    
  }
     return(df)
}
# No fct call above here

In [427]:
# First value from sales passed to fct 
test_value <- sales[1]
test_value

[1] 1000

In [428]:
# df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")

In [429]:
# make fct call 1  (sales 1000)


ct <<- 0
rat1 <<- 0

counter <<- 0

# fct call
mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

print("-----------------------------------------")

# show the returned ct value
print(paste0("The returned ct is: ", ct ))
print(paste0("The returned rat1 is: ", rat1))

print("-----------------------------------------")

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]


# print the modified df, and portions of the df
head(mod_df,12)
nrow(mod_df)
print("-----------------------------------------")
print(df1a)  # This is good.
nrow(df1a)
print("-----------------------------------------")
tail(df)  # this is good
nrow(df)
length(sales) # sale[] = 22 == 1000

[1] 74

[1] "-----------------------------------------"
[1] "The returned ct is: 10"
[1] "The returned rat1 is: 1"
[1] "-----------------------------------------"

   index date       cost    quan tally_q tally_c  date_s    proceeds tally_q2
1   1    11/30/2022 1827.03 250   250     1827.03 1/27/2023 1378.03    250
2   2    11/30/2022  499.59 100   350     2326.62 2/3/2023   585.47  36700
3   3    11/30/2022  652.92 100   450     2979.54 2/3/2023   625.47  36600
4   4    11/30/2022  742.10 100   550     3721.64 2/3/2023   667.98  36500
5   5    11/30/2022  365.40  50   600     4087.04 2/3/2023   333.99  36400
6   6    11/30/2022 1113.15 150   750     5200.19 2/3/2023   938.20  36350
7   7    11/30/2022  640.57 100   850     5840.76 2/3/2023   618.98  36200
8   8    11/30/2022  320.81  50   900     6161.57 2/3/2023   309.49  36100
9   9    11/30/2022  551.39 100   900     7264.35 2/3/2023   618.98  35950
10  9    11/30/2022  551.39   0  1000     7815.74 2/3/2023   618.98  35850
11 10    1/27/2023  4453.49 850  1850    11166.45 2/21/2023 4976.50  35950
12 11    11/30/2022  264.80  50  1900    11431.25 2/21/2023  330.74  35100
   tally_c2  sold tally_s X
1    1827.03    0    0    NA
2  205348.21    0    0    NA
3  204848.62    0    0    NA
4  204195.70    0    0    NA
5  203453.60    0    0    NA
6  203088.20    0    0    NA
7  201975.05    0    0    NA
8  201334.48    0    0    NA
9  200783.09 2500 1000    NA
10 201013.67 2500 1000    NA
11 200462.28    0    0    NA
12 196008.79    0    0    NA

[1] 74

[1] "-----------------------------------------"
   index       date    cost quan tally_q tally_c    date_s proceeds tally_q2
1      1 11/30/2022 1827.03  250     250 1827.03 1/27/2023  1378.03      250
2      2 11/30/2022  499.59  100     350 2326.62  2/3/2023   585.47    36700
3      3 11/30/2022  652.92  100     450 2979.54  2/3/2023   625.47    36600
4      4 11/30/2022  742.10  100     550 3721.64  2/3/2023   667.98    36500
5      5 11/30/2022  365.40   50     600 4087.04  2/3/2023   333.99    36400
6      6 11/30/2022 1113.15  150     750 5200.19  2/3/2023   938.20    36350
7      7 11/30/2022  640.57  100     850 5840.76  2/3/2023   618.98    36200
8      8 11/30/2022  320.81   50     900 6161.57  2/3/2023   309.49    36100
9      9 11/30/2022  551.39  100     900 7264.35  2/3/2023   618.98    35950
10     9 11/30/2022  551.39    0    1000 6712.96  2/3/2023   618.98    36050
    tally_c2 sold tally_s  X
1    1827.03    0       0 NA
2  205348.21    0       0 NA
3  204848.62    0       0 NA
4  204195.70    0       0 NA
5  203453.60    0       0 NA
6  203088.20    0       0 NA
7  201975.05    0       0 NA
8  201334.48    0       0 NA
9  200462.28 2500    1000 NA
10 201013.67 2500    1000 NA

[1] 10

[1] "-----------------------------------------"

   index date      cost    quan tally_q tally_c  date_s    proceeds tally_q2
68 68    3/3/2023  2127.75 400  35850   200686.9 5/30/2023 1833.04  1500
69 69    3/3/2023   618.08 100  35950   201305.0 6/2/2023   453.98  1100
70 70    3/3/2023  2422.31 400  36350   203727.3 6/2/2023  1815.93  1000
71 71    3/3/2023  2298.31 400  36750   206025.6 6/2/2023  1815.93   600
72 72    3/3/2023   605.17 100  36850   206630.7 6/2/2023   453.98   200
73 73    4/27/2023  544.50 100  36950   207175.2 6/2/2023   453.98   100
   tally_c2 sold tally_s X
68 8616.12  0    35850   NA
69 6488.37  0        0   NA
70 5870.29  0        0   NA
71 3447.98  0        0   NA
72 1149.67  0        0   NA
73  544.50  0    36950   NA

[1] 64

[1] 11

In [430]:
counter

[1] 9

In [431]:
cumSales

[1] 5000

In [432]:
df

   index date       cost     quan tally_q tally_c   date_s    proceeds tally_q2
10 10    1/27/2023  4453.49   850 1850    11166.45  2/21/2023  4976.50 35950
11 11    11/30/2022  264.80    50 1900    11431.25  2/21/2023   330.74 35100
12 12    11/30/2022  273.29    50 1950    11704.54  2/21/2023   292.74 35050
13 13    11/30/2022  320.29    50 2000    12024.83  2/21/2023   292.74 35000
14 14    11/15/2022 4068.90   500 2500    16093.73  1/27/2023  2756.06 34950
15 15    11/15/2022 3171.79   500 3000    19265.52  2/3/2023   3094.90 34450
16 16    11/15/2022 3679.44   500 3500    22944.96  2/3/2023   3127.35 33950
17 17    11/15/2022 4125.34   500 4000    27070.30  2/3/2023   3339.90 33450
18 18    11/15/2022 2466.89   500 4500    29537.19  2/21/2023  2927.36 32950
19 19    9/15/2022   503.42    50 4550    30040.61  1/27/2023   275.61 32450
20 20    9/15/2022  1989.98   200 4750    32030.59  1/27/2023  1102.42 32400
21 21    9/15/2022   464.47    50 4800    32495.06  2/3/2023    312.74 32200
22 22    9/15/2022   509.06    50 4850    33004.12  2/3/2023    333.99 32150
23 23    9/15/2022   917.10   100 4950    33921.22  2/3/2023    668.47 32100
24 24    9/15/2022   725.90   100 5050    34647.12  2/3/2023    618.98 32000
25 25    9/15/2022   772.57   100 5150    35419.69  2/3/2023    625.47 31900
26 26    9/15/2022   917.10   100 5250    36336.79  2/3/2023    625.47 31800
27 27    9/15/2022  2012.56   200 5450    38349.35  2/3/2023   1335.96 31700
28 28    9/15/2022   815.57   100 5550    39164.92  2/3/2023    618.98 31500
29 29    9/15/2022   413.70    50 5600    39578.62  2/3/2023    309.49 31400
30 30    9/15/2022   674.59   100 5700    40253.21  2/21/2023   585.47 31350
31 31    9/15/2022   630.86   100 5800    40884.07  2/21/2023   585.47 31250
32 32    9/15/2022   343.21    50 5850    41227.28  2/21/2023   292.74 31150
33 33    9/15/2022   287.72    50 5900    41515.00  2/22/2023   330.74 31100
34 34    9/15/2022   563.62   100 6000    42078.62  2/22/2023   661.47 31050
35 35    9/15/2022   519.89   100 6100    42598.51  2/22/2023   661.47 30950
36 36    2/10/2023  3558.75   750 6850    46157.26  2/22/2023  4961.02 30850
37 37    2/10/2023  1195.00   250 7100    47352.26  2/21/2023  1463.68 30100
38 38    2/10/2023  4507.75   950 8050    51860.01  2/21/2023  5561.98 29850
39 39    2/13/2023  7077.45  1500 9550    58937.46  2/27/2023 10110.89 28900
⋮  ⋮     ⋮          ⋮        ⋮    ⋮       ⋮         ⋮         ⋮        ⋮
44 44    2/15/2023   8843.18 1850 16700    92804.45 2/27/2023 14031.86 22100
45 45    2/15/2023   4780.10 1000 17700    97584.55 2/27/2023  7815.78 20250
46 46    2/15/2023   5497.12 1150 18850   103081.67 2/27/2023  7751.69 19250
47 47    3/3/2023    6485.00 1000 19850   109566.67 3/3/2023   6551.10 18100
48 48    3/3/2023   13178.20 2000 21850   122744.87 3/3/2023  13102.20 17100
49 49    3/3/2023    3396.70  500 22350   126141.57 3/8/2023   2859.90 15100
50 50    3/3/2023   19767.30 3000 25350   145908.87 3/8/2023  17834.41 14600
51 51    3/3/2023    2717.36  400 25750   148626.23 3/8/2023   2337.92 11600
52 52    3/3/2023     678.93  100 25850   149305.16 3/8/2023    584.48 11200
53 53    3/3/2023   12374.20 2000 27850   161679.36 3/8/2023  11509.61 11100
54 54    3/3/2023    4939.30 1000 28850   166618.66 4/6/2023   4914.82  9100
55 55    3/3/2023     846.81  190 29040   167465.47 4/20/2023   941.41  8100
56 56    3/3/2023    4951.69 1000 30040   172417.16 4/20/2023  4914.81  7910
57 57    3/3/2023    3610.07  810 30850   176027.23 4/20/2023  4005.29  6910
58 58    3/3/2023    4739.70 1000 31850   180766.93 4/20/2023  4989.21  6100
59 59    3/3/2023    4722.29 1000 32850   185489.22 4/20/2023  4989.22  5100
60 60    3/3/2023    2649.30  500 33350   188138.52 4/20/2023  2494.61  4100
61 61    3/3/2023     844.45  190 33540   188982.97 4/20/2023   944.26  3600
62 62    3/3/2023    3600.03  810 34350   192583.00 4/20/2023  4013.40  3410
63 63    3/3/2023     516.95  100 34450   193099.95 4/20/2023   498.92  2600
64 64    3/3/2023    2069.44  400 34850   195169.39 4/20/2023  1995.68  2500
65 65    3/3/2023     562.53  100 34950   195731.92 5/30/2023   458.26  2100
66 66    3/3/2023     575.44  100 35050   196307.36 5/30/2023   458.26  2000
67 67    3/3/2023    2251.76  400 35450   198559.12 5/30/2023  1833.05  1900
68 68    3/3/2023    2127.75  400 35850   200686.87 5/30/2023  1833.04  1500
69 69    3/3/2023     618.08  100 35950   201304.95 6/2/2023    453.98  1100
70 70    3/3/2023    2422.31  400 36350   203727.26 6/2/2023   1815.93  1000
71 71    3/3/2023    2298.31  400 36750   206025.57 6/2/2023   1815.93   600
72 72    3/3/2023     605.17  100 36850   206630.74 6/2/2023    453.98   200
73 73    4/27/2023    544.50  100 36950   207175.24 6/2/2023    453.98   100
   tally_c2  sold tally_s X
10 200462.3  0       0    NA
11 196008.8  0       0    NA
12 195744.0  0       0    NA
13 195470.7  0       0    NA
14 195150.4  0       0    NA
15 191081.5  0       0    NA
16 187909.7  0       0    NA
17 184230.3  0    4000    NA
18 180104.9  0       0    NA
19 177638.0  0       0    NA
20 177134.6  0       0    NA
21 175144.6  0       0    NA
22 174680.2  0       0    NA
23 174171.1  0       0    NA
24 173254.0  0       0    NA
25 172528.1  0       0    NA
26 171755.5  0       0    NA
27 170838.5  0       0    NA
28 168825.9  0       0    NA
29 168010.3  0       0    NA
30 167596.6  0       0    NA
31 166922.0  0       0    NA
32 166291.2  0       0    NA
33 165948.0  0       0    NA
34 165660.2  0       0    NA
35 165096.6  0       0    NA
36 164576.7  0       0    NA
37 161018.0  0    7000    NA
38 159823.0  0       0    NA
39 155315.2  0       0    NA
⋮  ⋮         ⋮    ⋮       ⋮
44 123213.97 0        0   NA
45 114370.79 0        0   NA
46 109590.69 0    18850   NA
47 104093.57 0        0   NA
48  97608.57 0    21850   NA
49  84430.37 0        0   NA
50  81033.67 0        0   NA
51  61266.37 0        0   NA
52  58549.01 0        0   NA
53  57870.08 0    27850   NA
54  45495.88 0        0   NA
55  40556.58 0        0   NA
56  39709.77 0    29850   NA
57  34758.08 0        0   NA
58  31148.01 0        0   NA
59  26408.31 0        0   NA
60  21686.02 0        0   NA
61  19036.72 0        0   NA
62  18192.27 0        0   NA
63  14592.24 0        0   NA
64  14075.29 0        0   NA
65  12005.85 0    34850   NA
66  11443.32 0        0   NA
67  10867.88 0        0   NA
68   8616.12 0    35850   NA
69   6488.37 0        0   NA
70   5870.29 0        0   NA
71   3447.98 0        0   NA
72   1149.67 0        0   NA
73    544.50 0    36950   NA

In [433]:
stopper

ERROR: Error in eval(expr, envir, enclos): object 'stopper' not found

In [ ]:
# tail(df,3)
# nrow(df)
# df <- df[1:nrow(df)-1,]
# nrow(df)
# tail(df,3)

In [ ]:
ct

In [ ]:
# make fct call 2  (sales 1000)

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)   # sale[] = 21

In [ ]:
head(df,3)
tail(df,3)

In [ ]:
length(sales)

In [ ]:
# make fct call 3 (sales 1000)

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)  #  sale[] = 20

In [ ]:
cumulative_sum
test_value
cumVal

In [ ]:
nrow(df)
head(df,3)
tail(df,3)

# stopper

In [ ]:
# make fct call 4 (sales 100)

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)  # sale[] = 19

In [ ]:
nrow(df)
head(df,3)
tail(df,3)

# stopper

In [ ]:
# make fct call 5 

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)  # sale[] = 19

In [ ]:
# make fct call 6 

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)  # sale[] = 19

In [ ]:
# make fct call 7

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)  # sale[] = 19

In [ ]:
# make fct call 8

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)  # sale[] = 19

In [ ]:
# make fct call 9 

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)  # sale[] = 19

In [ ]:
# make fct call 10

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)  # sale[] = 19

In [ ]:
# make fct call 11 (s/b last)

# remove previous sale value from vector
sales <- sales[2:length(sales)]
# assign new sale value to test_value
test_value <- sales[1]
# zero ct
ct <<- 0

mod_df <<- inter(df, test_value, ct)
nrow(mod_df)

# show the returned ct value
ct
rownum <- ct
rat1

# create portions of the df
df1a <- df1[1:ct, ]
df <- df[ct:nrow(df), ]
#sales <- sales[2:length(sales)]

# print the modified df, and portions of the df
head(mod_df)
nrow(mod_df)

print(df1a)
nrow(df1a)

head(df)
nrow(df)
length(sales)  # sale[] = 19

In [ ]:
nrow(df)
cumSales

In [ ]:
stopper

In [ ]:
stopper

### <font color = yellow> Early practive below

In [ ]:
# Another issue with exceeding the index

df <- data.frame(quan = c(1,2,3,4,5,6,7,8,9,10))
vec <- c(6, 15, 28)

# Initialize variables
start_index <- 1
vec_index <- 1

# Loop over the vector values
for (target in vec) {
  # Initialize sum
  sum_quan <- 0
  
  # Loop over the dataframe rows
  for (i in start_index:nrow(df)) {
    # Add the current 'quan' value to the sum
    sum_quan <- sum_quan + df$quan[i]
    
    # Check if the sum exceeds the current target value
    if (sum_quan > target) {
      # Calculate the overage value
      overage <- sum_quan - target
      
      # Adjust the 'quan' value in the current row
      df$quan[i] <- df$quan[i] - overage
      
      # Create a new row with the overage value
      new_row <- df[i, ]
      new_row$quan <- overage
      df <- rbind(df[1:i, ], new_row, df[(i+1):nrow(df), ])
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
        
    } else if (sum_quan == target) {
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
    }
  }
}

df

In [ ]:
# Assuming df is your dataframe and vec is your vector
df <- data.frame(quan = c(1,2,3,4,5,6,7,8,9,10), col2 = letters[1:10], col3 = LETTERS[1:10])
vec <- c(6, 15, 28)

# Initialize variables
start_index <- 1
vec_index <- 1

# Loop over the vector values
for (target in vec) {
  # Initialize sum
  sum_quan <- 0
  
  # Loop over the dataframe rows
  for (i in start_index:nrow(df)) {
    # Add the current 'quan' value to the sum
    sum_quan <- sum_quan + df$quan[i]
    
    # Check if the sum exceeds the current target value
    if (sum_quan > target) {
      # Calculate the overage value
      overage <- sum_quan - target
      
      # Adjust the 'quan' value in the current row
      df$quan[i] <- df$quan[i] - overage
      
      # Create a new row with the overage value
      new_row <- df[i, ]
      new_row$quan <- overage
      df <- rbind(df[1:i, ], new_row, df[(i+1):nrow(df), ])
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 2
      
      # Break the loop as the target is reached
      break
    } else if (sum_quan == target) {
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
    }
  }
}

In [ ]:
# Demonstrates targeting ... but exceeding the index value again

vec <- c(1000,1000,1000,100,900,3000,6000,1000,1850,3000,3000,500,
           2000,3000,500,2000,810,1000,190,3000,1000,1100)

df <- read.csv("TestAllocate.csv", header = TRUE, sep = ",")


# Initialize variables
start_index <- 1
vec_index <- 1

# Create an empty dataframe to store the matches
matches <- data.frame()

# Loop over the vector values
for (target in vec) {
  # Initialize sum
  sum_quan <- 0
  
  # Loop over the dataframe rows
  for (i in start_index:nrow(df)) {
    # Add the current 'quan' value to the sum
    sum_quan <- sum_quan + df$quan[i]
    
    # Check if the sum exceeds the current target value
    if (sum_quan > target) {
      # Calculate the overage value
      overage <- sum_quan - target
      
      # Adjust the 'quan' value in the current row
      df$quan[i] <- df$quan[i] - overage
      
      # Add the current row to the matches dataframe
      matches <- rbind(matches, df[i, ])
      
      # Add a new row with the overage value to the matches dataframe
      matches <- rbind(matches, c(overage, df$col2[i], df$col3[i]))
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
        
    } else if (sum_quan == target) {
      # Add the current row to the matches dataframe
      matches <- rbind(matches, df[i, ])
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
    }
  }
}
matches

In [ ]:
# Assuming df is your dataframe and vec is your vector
df <- data.frame(quan = c(1,2,3,4,5,6,7,8,9,10), col2 = letters[1:10], col3 = LETTERS[1:10])
vec <- c(6, 14, 28)

# Initialize variables
start_index <- 1
vec_index <- 1

# Create an empty dataframe to store the matches
matches <- data.frame()

# Loop over the vector values
for (target in vec) {
  # Initialize sum
  sum_quan <- 0
  
  # Loop over the dataframe rows
  for (i in start_index:nrow(df)) {
    # Add the current 'quan' value to the sum
    sum_quan <- sum_quan + df$quan[i]
    
    # Check if the sum exceeds the current target value
    if (sum_quan > target) {
      # Calculate the overage value
      overage <- sum_quan - target
      
      # Adjust the 'quan' value in the current row
      df$quan[i] <- df$quan[i] - overage
      
      # Add the current row to the matches dataframe
      matches <- rbind(matches, df[i, ])
      
      # Add a new row with the overage value to the matches dataframe
      matches <- rbind(matches, c(overage, df$col2[i], df$col3[i]))
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
    } else if (sum_quan == target) {
      # Add the current row to the matches dataframe
      matches <- rbind(matches, df[i, ])
      
      # Do some code here
      print(paste("Match found for target", target, "at row", i))
      
      # Update the start index for the next loop
      start_index <- i + 1
      
      # Break the loop as the target is reached
      break
    }
  }
}
matches

In [ ]:
f <- function(x) x + 1
str(f)
('--------------------------------------------')
result <- f(60)                                   # Current age
result
('--------------------------------------------')
str(result)

print(f)